Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2019-07, with the labels that each got.

#250 Remove Decimal and replace strason with serde_json
  Cargo.toml
  contrib/test.sh
  fuzz/Cargo.toml
  fuzz/fuzz_targets/deserialize_decimal.rs
  fuzz/fuzz_targets/deserialize_udecimal.rs
  src/blockdata/script.rs
  src/blockdata/transaction.rs
  src/lib.rs
  src/test_macros.rs
  src/util/address.rs
  src/util/bip32.rs
  src/util/decimal.rs
  src/util/mod.rs
Labels: API break, enhancement

#274 Slightly update README
  README.md
Labels: documentation

#265 clean up encoding/decoding traits
  fuzz/fuzz_targets/deserialize_transaction.rs
  src/blockdata/opcodes.rs
  src/blockdata/script.rs
  src/blockdata/transaction.rs
  src/consensus/encode.rs
  src/consensus/mod.rs
  src/internal_macros.rs
  src/lib.rs
  src/network/address.rs
  src/network/constants.rs
  src/network/message.rs
  src/network/message_blockdata.rs
  src/util/address.rs
  src/util/merkleblock.rs
  src/util/psbt/macros.rs
  src/util/psbt/map/global.rs
  src/util/psbt/mod.rs
  src/util/psbt/raw.rs
  src/util/psbt/serialize.rs
  src/util/uint.rs
Labels: API break
