Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2019-02, with the labels that each got.

#225 add BIP157 (Client Side Block Filtering) Messages
  src/network/message.rs
  src/network/message_filter.rs
  src/network/mod.rs
Labels: enhancement

#227 Extract travis testing into locally-runnable script
  .travis.yml
  contrib/test.sh
Labels: ci

#234 Add contributing section to README
  README.md
Labels: documentation

#218 Merkle root calculation and witness commitment check for Block
  src/blockdata/block.rs
  src/blockdata/constants.rs
  src/util/hash.rs
Labels: enhancement
