Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2020-10, with the labels that each got.

#488 Bip32 documentation fix
  src/util/bip32.rs
Labels: documentation

#506 Avoid a few assertions that shouldn't be necessary
  CHANGELOG.md
  Cargo.toml
  src/blockdata/script.rs
  src/consensus/encode.rs
  src/util/endian.rs
  src/util/key.rs
  src/util/uint.rs
Labels: bug

#291 add signet support
  src/blockdata/constants.rs
  src/consensus/params.rs
  src/network/constants.rs
  src/util/address.rs
  src/util/bip32.rs
  src/util/key.rs
Labels: API break

#446 BIP339: Add wtxidrelay message and WTx inv type
  src/network/constants.rs
  src/network/message.rs
  src/network/message_blockdata.rs
Labels: API break

#449 BIP155: AddrV2
  src/consensus/encode.rs
  src/network/address.rs
  src/network/message.rs
Labels: API break
