Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2021-11, with the labels that each got.

#677 Add taproot data structures
  src/lib.rs
  src/util/sighash.rs
  src/util/taproot.rs
Labels: API break

#691 P2TR address from untweaked key
  src/util/address.rs
  src/util/schnorr.rs
Labels: API break

#637 no-std cleanup
  .github/workflows/rust.yml
  Cargo.toml
  embedded/scripts/env.sh
  embedded/src/main.rs
Labels: Minor API Change

#654 Making globals part of PSBT struct. Closes #652
  src/util/psbt/macros.rs
  src/util/psbt/map/global.rs
  src/util/psbt/map/mod.rs
  src/util/psbt/mod.rs
Labels: API break

#683 tests: improve coverage for P2tr and AddressType
  src/util/address.rs
Labels: Tests

#711 Add unit test for bitcoin_merkle_root functions
  src/util/hash.rs
Labels: Tests, code quality

#699 Huffman Bug Fix
  src/util/taproot.rs
Labels: bug
