Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2021-01, with the labels that each got.

#544 switch to github actions
  .github/workflows/rust.yml
  .travis.yml
  contrib/test.sh
Labels: ci

#539 docs: fix quotes in Transaction#ntxid description
  src/blockdata/transaction.rs
Labels: documentation

#540 refactor(blockdata/transaction): use nested paths
  src/blockdata/transaction.rs
Labels: enhancement

#546 Switch CI badge to GH actions
  README.md
Labels: ci

#545 Bump to secp256k1 0.20 and don't enable `recovery` of `secp256k1` in the dependency declaration
  Cargo.toml
Labels: API break

#494 Change the signature of consensus_encode to return io::Error's
  src/blockdata/script.rs
  src/blockdata/transaction.rs
  src/consensus/encode.rs
  src/hash_types.rs
  src/internal_macros.rs
  src/network/address.rs
  src/network/constants.rs
  src/network/message.rs
  src/network/message_blockdata.rs
  src/network/message_network.rs
  src/util/merkleblock.rs
  src/util/psbt/macros.rs
  src/util/psbt/map/global.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/mod.rs
  src/util/psbt/map/output.rs
  src/util/psbt/mod.rs
  src/util/psbt/raw.rs
  src/util/uint.rs
Labels: API break
