Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2021-12, with the labels that each got.

#694 Hotfix for secp256k1 alloc feature
  Cargo.toml
Labels: bug

#733 Super-trivial: Implement `FusedIterator` for `Instructions`
  src/blockdata/script.rs
Labels: trivial, one ack

#728 Use un/tweaked public key types
  src/util/address.rs
  src/util/schnorr.rs
  src/util/taproot.rs
Labels: waiting for author

#721 Improvements to script methods related to Taproot
  src/util/schnorr.rs
Labels: trivial, one ack

#743 add helpful message to division-by-zero panic
  src/util/uint.rs
Labels: enhancement, trivial, one ack

#643 util/address: make address encoding more modular
  src/util/address.rs
Labels: waiting for author

#702 Separate signature hash types
  src/blockdata/transaction.rs
  src/lib.rs
  src/util/bip143.rs
  src/util/ecdsa.rs
  src/util/psbt/map/input.rs
  src/util/psbt/mod.rs
  src/util/psbt/serialize.rs
  src/util/schnorr.rs
  src/util/sighash.rs
Labels: P-high, one ack

#742 add MAX_MONEY public constant to Amount
  src/util/amount.rs
Labels: trivial, one ack

#710 Refactor bitcoin_merkle_root functions
  src/blockdata/block.rs
  src/util/hash.rs
  src/util/merkleblock.rs
Labels: API break, P-low, code quality

#695 BIP341 test vectors
  src/util/taproot.rs
  test_data/bip341_tests.json
Labels: API break, one ack

#686 Fixed a bunch of clippy lints, added clippy.toml
  clippy.toml
  src/blockdata/block.rs
  src/blockdata/constants.rs
  src/blockdata/script.rs
  src/blockdata/transaction.rs
  src/consensus/encode.rs
  src/network/address.rs
  src/network/message.rs
  src/network/message_blockdata.rs
  src/network/message_network.rs
  src/util/address.rs
  src/util/amount.rs
  src/util/base58.rs
  src/util/bip143.rs
  src/util/bip158.rs
  src/util/bip32.rs
  src/util/contracthash.rs
  src/util/ecdsa.rs
  src/util/merkleblock.rs
  src/util/misc.rs
  src/util/mod.rs
  src/util/psbt/map/global.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/output.rs
  src/util/psbt/raw.rs
  src/util/sighash.rs
Labels: help wanted, code quality, one ack

#749 Re-export SigHashType in lib.rs
  src/lib.rs
Labels: bug, trivial

#744 Fixed docs.rs metadata
  Cargo.toml
Labels: bug, documentation, P-medium, trivial

#731 Improve parsing of `Denomination` string
  src/util/amount.rs
Labels: enhancement, API break, waiting for author
