Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2021-09, with the labels that each got.

#617 WitnessVersion type
  src/blockdata/script.rs
  src/util/address.rs
Labels: API break

#625 Improvements to Error types (part 4)
  src/util/bip32.rs
  src/util/psbt/error.rs
  src/util/psbt/map/global.rs
Labels: API break

#615 Implement `Sum` for amount types
  src/util/amount.rs
Labels: Minor API Change

#651 Fixing no_std for Amount sum iterator
  src/util/amount.rs
Labels: bug

#580 Add Bloom filter network messages
  src/network/message.rs
  src/network/message_bloom.rs
  src/network/mod.rs
Labels: API break

#628 Adds Taproot BIP341 signature message and create a unified sighash cache for legacy, segwit and taproot inputs
  src/blockdata/transaction.rs
  src/consensus/encode.rs
  src/util/bip143.rs
  src/util/mod.rs
  src/util/sighash.rs
Labels: API break

#644 Add OP_CHECKSIGADD and OP_SUCCESSxxx
  src/blockdata/opcodes.rs
  src/blockdata/script.rs
  src/util/contracthash.rs
  src/util/misc.rs
Labels: API break

#563 Taproot P2TR address
  src/util/address.rs
  src/util/misc.rs
Labels: API break
