Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-07, with the labels that each got.

#1083 Remove unused lifetimes
  src/internal_macros.rs
Labels: trivial, one ack, clippy

#1085 Remove redundant compile_error
  src/lib.rs
Labels: code quality, trivial

#1081 Use `to_hex` when available
  src/blockdata/constants.rs
  src/blockdata/script.rs
Labels: code quality, trivial, perf

#1091 Add custom error for invalid parsing of address types
  src/util/address.rs
Labels: API break, one ack, error handling

#1066 Upgrade to secp256k1 v0.23.0
  Cargo.toml
  src/consensus/encode.rs
  src/util/bip32.rs
  src/util/merkleblock.rs
  src/util/schnorr.rs
  src/util/sighash.rs
  src/util/taproot.rs
Labels: API break

#1094 Remove extern crate core statement
  src/lib.rs
Labels: trivial

#1049 Implement std::error::Error for ParseAmount
  src/util/amount.rs
Labels: enhancement, Minor API Change, trivial, one ack

#990 Derive Hash on a bunch of types
  src/blockdata/transaction.rs
  src/util/ecdsa.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/output.rs
  src/util/psbt/mod.rs
  src/util/schnorr.rs
Labels: enhancement, trivial, one ack

#1068 Implement human-readable serde for `Witness`
  src/blockdata/witness.rs
Labels: API break, one ack

#1107 Run the formatter
  examples/ecdsa-psbt.rs
Labels: one ack

#1118 Use infallible conversions: `Hash` -> `secp256k1::Message`
  Cargo.toml
  src/util/misc.rs
  src/util/sighash.rs
  src/util/taproot.rs
Labels: code quality, trivial, one ack

#1121 Use `u8::try_from`
  src/util/taproot.rs
Labels: code quality, trivial, one ack, no release notes mention

#1122 Add docs re Rust 1.51.1
  src/util/amount.rs
Labels: documentation, code quality, trivial, one ack, no release notes mention

#1120 Use `u16::to_be_bytes`
  src/network/address.rs
Labels: code quality, trivial, one ack, aggregate release notes mention

#1088 Add BIP152 (Compact Blocks) structures
  src/blockdata/block.rs
  src/consensus/encode.rs
  src/network/message.rs
  src/network/message_blockdata.rs
  src/network/message_compact_blocks.rs
  src/network/mod.rs
  src/util/bip152.rs
  src/util/mod.rs
Labels: release notes mention

#1079 Run clippy from the test script
  .github/workflows/rust.yml
  contrib/test.sh
  src/util/amount.rs
  src/util/key.rs
  src/util/misc.rs
  src/util/psbt/mod.rs
Labels: no release notes mention

#994 Add a `LockTime` type
  examples/ecdsa-psbt.rs
  src/blockdata/constants.rs
  src/blockdata/locktime.rs
  src/blockdata/mod.rs
  src/blockdata/transaction.rs
  src/lib.rs
  src/util/bip143.rs
  src/util/bip152.rs
  src/util/psbt/mod.rs
  src/util/sighash.rs
Labels: enhancement, API break, 1.0, release notes mention

#1131 Upgrade bech32 to version 0.9.0
  Cargo.toml
Labels: API break, P-high, trivial

#1129 Parse int error
  src/blockdata/locktime.rs
  src/blockdata/transaction.rs
  src/error.rs
  src/internal_macros.rs
  src/lib.rs
  src/parse.rs
  src/util/address.rs
Labels: enhancement, API break, P-high, error handling

#1146 Remove needless allocation from BIP-158 encoding
  src/util/bip158.rs
Labels: code quality, trivial, perf, aggregate release notes mention

#1137 Impl string conversion traits for `CommandString`
  src/network/message.rs
Labels: enhancement, API break, P-high, code quality, 1.0
