Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-11, with the labels that each got.

#1359 Add a test parsing transaction with a huge witness
  bitcoin/src/blockdata/transaction.rs
  bitcoin/tests/data/huge_witness.hex
Labels: Tests

#1367 Do clippy improvements
  bitcoin/src/bip152.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/script.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/pow.rs
  bitcoin/src/sign_message.rs
Labels: code quality, trivial, one ack

#1333 Move amount module out of util
  bitcoin/src/amount.rs
  bitcoin/src/lib.rs
  bitcoin/src/util/mod.rs
  fuzz/fuzz_targets/deserialize_amount.rs
Labels: P-high, trivial

#1344 Fix `no_std` when `bitcoinconsensus` is enabled
  bitcoin/Cargo.toml
  bitcoin/src/blockdata/script.rs
  bitcoin/src/lib.rs
Labels: bug

#1349 Remove `into_bytes` from `impl_array_newtype`
  internals/src/macros.rs
Labels: API break, release notes mention

#1339 Improve documentation on the `all` module
  bitcoin/src/blockdata/opcodes.rs
Labels: documentation, trivial, one ack

#1375 Witness: Fix nits from PR 1323
  bitcoin/src/blockdata/witness.rs
Labels: code quality, trivial

#1376 Make Instruction Copy
  bitcoin/src/blockdata/script.rs
Labels: enhancement, minor API Change, trivial, one ack

#1332 Remove deprecated re-exports
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/src/util/mod.rs
  bitcoin/src/util/psbt/error.rs
  bitcoin/src/util/psbt/map/global.rs
  bitcoin/src/util/psbt/map/input.rs
  bitcoin/src/util/psbt/map/output.rs
  bitcoin/src/util/psbt/mod.rs
  bitcoin/src/util/psbt/serialize.rs
Labels: API break, trivial, one ack

#1264 Clean up the `base58` module
  bitcoin/src/address.rs
  bitcoin/src/bip32.rs
  bitcoin/src/util/base58.rs
  bitcoin/src/util/key.rs
Labels: minor API Change, P-high, 1.0, aggregate release notes mention

#1397 Add Network::to_core_arg() method
  bitcoin/src/network/constants.rs
Labels: minor API Change

#1407 Fix typo in the SHA512 documentation
  hashes/src/sha512.rs
Labels: documentation, trivial, one ack

#1416 Add rand feature flag to the example documentation
  bitcoin/src/address.rs
Labels: documentation, trivial, one ack

#1260 Create `crypto` module
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/script.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/mod.rs
  bitcoin/src/crypto/schnorr.rs
  bitcoin/src/lib.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/sighash.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/util/mod.rs
  bitcoin/src/util/taproot.rs
  rustfmt.toml
Labels: minor API Change, P-high, 1.0, aggregate release notes mention

#1373 Move the taproot module to crate root
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address.rs
  bitcoin/src/blockdata/script.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/schnorr.rs
  bitcoin/src/lib.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/sighash.rs
  bitcoin/src/taproot.rs
  bitcoin/src/util/mod.rs
Labels: trivial
