Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-03, with the labels that each got.

#845 Change the parameter for control block verification
  src/util/taproot.rs
Labels: trivial, one ack, RC fix

#875 Update secp256k1 dependency
  Cargo.toml
  src/util/schnorr.rs
  src/util/taproot.rs
Labels: RC fix

#858 Build the docs with test.sh
  .github/workflows/rust.yml
  CONTRIBUTING.md
  contrib/test.sh
Labels: ci

#871 Delete contract hash module
  src/util/contracthash.rs
  src/util/mod.rs
Labels: API break

#876 Make Script::witness_version public
  src/blockdata/script.rs
Labels: Minor API Change, trivial, RC fix

#860 Fix signature hash returned for sighash single bug
  src/blockdata/transaction.rs
Labels: bug, code quality, RC fix

#861 Remove get_ prefix
  src/blockdata/block.rs
  src/blockdata/transaction.rs
Labels: RC fix

#805 Remove impl_index_newtype macro
  src/blockdata/script.rs
  src/internal_macros.rs
  src/util/bip32.rs
Labels: RC fix

#897 Check for SIGHASH_SINGLE bug in writer fn
  src/blockdata/transaction.rs
Labels: bug, RC fix

#908 Add serde to TweakedPublicKey
  src/util/schnorr.rs
Labels: trivial, RC fix

#796 Re-work sighash type conversion methods
  src/blockdata/transaction.rs
  src/util/ecdsa.rs
  src/util/psbt/map/input.rs
  src/util/psbt/serialize.rs
  src/util/sighash.rs
Labels: RC fix

#913 Remove deprecated method use for sighash conversion
  src/blockdata/transaction.rs
Labels: trivial, RC fix

#901 TapTree iterator
  src/util/psbt/map/output.rs
Labels: P-high, one ack, RC fix

#910 Make NodeInfo API public
  src/util/taproot.rs
Labels: trivial, one ack

#914 Taproot Huffman tree builder u64->u32 fixes
  src/util/taproot.rs
Labels: documentation, code quality, RC fix

#898 Make PsbtSigHashType use the same formatting as other *SigHashTypes
  src/blockdata/transaction.rs
  src/util/psbt/map/input.rs
  src/util/sighash.rs
Labels: bug, RC fix

#916 Adds derives to TweakedKeyPair
  src/util/schnorr.rs
Labels: RC fix

#918 Fix deprecated since version
  src/util/bip143.rs
Labels: one ack, RC fix

#912 Improve docs in taproot module
  src/util/taproot.rs
Labels: one ack
