Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-06, with the labels that each got.

#1026 Add non_exhaustive to all error enums
  src/blockdata/block.rs
  src/blockdata/script.rs
  src/blockdata/transaction.rs
  src/consensus/encode.rs
  src/network/mod.rs
  src/util/address.rs
  src/util/amount.rs
  src/util/base58.rs
  src/util/bip32.rs
  src/util/ecdsa.rs
  src/util/key.rs
  src/util/misc.rs
  src/util/mod.rs
  src/util/psbt/error.rs
  src/util/psbt/map/output.rs
  src/util/psbt/mod.rs
  src/util/schnorr.rs
  src/util/sighash.rs
  src/util/taproot.rs
Labels: API break

#1006 Feature `use-serde` renamed to `serde`
  Cargo.toml
  contrib/test.sh
  src/blockdata/block.rs
  src/blockdata/transaction.rs
  src/lib.rs
  src/serde_utils.rs
  src/util/amount.rs
  src/util/ecdsa.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/output.rs
  src/util/psbt/mod.rs
  src/util/psbt/raw.rs
  src/util/schnorr.rs
  src/util/taproot.rs
Labels: API break, one ack, release notes mention

#1003 Improve error `Display` implementations
  src/blockdata/script.rs
  src/blockdata/transaction.rs
  src/consensus/encode.rs
  src/internal_macros.rs
  src/network/mod.rs
  src/util/address.rs
  src/util/base58.rs
  src/util/bip158.rs
  src/util/bip32.rs
  src/util/ecdsa.rs
  src/util/key.rs
  src/util/misc.rs
  src/util/mod.rs
  src/util/psbt/error.rs
  src/util/psbt/mod.rs
  src/util/schnorr.rs
  src/util/sighash.rs
  src/util/taproot.rs
Labels: API break

#1000 Replace runtime size check with compile time check
  src/consensus/encode.rs
  src/internal_macros.rs
  src/util/endian.rs
Labels: code quality, trivial, one ack

#1014 Use fragment-specifier literal
  src/blockdata/script.rs
  src/consensus/encode.rs
  src/internal_macros.rs
  src/util/address.rs
  src/util/amount.rs
  src/util/uint.rs
Labels: code quality, trivial
