Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-12, with the labels that each got.

#1417 Move `base58` to the crate root
  bitcoin/src/address.rs
  bitcoin/src/base58.rs
  bitcoin/src/bip32.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/lib.rs
  bitcoin/src/util/mod.rs
Labels: P-high, trivial, aggregate release notes mention

#724 Serde regression tests
  bitcoin/tests/data/serde/README.md
  bitcoin/tests/data/serde/absolute_lock_time_blocks_bincode
  bitcoin/tests/data/serde/absolute_lock_time_seconds_bincode
  bitcoin/tests/data/serde/address_bincode
  bitcoin/tests/data/serde/block_bincode
  bitcoin/tests/data/serde/child_number_bincode
  bitcoin/tests/data/serde/control_block_bincode
  bitcoin/tests/data/serde/control_block_hex
  bitcoin/tests/data/serde/ecdsa_sig_bincode
  bitcoin/tests/data/serde/ecdsa_sig_hex
  bitcoin/tests/data/serde/extended_priv_key
  bitcoin/tests/data/serde/extended_priv_key_bincode
  bitcoin/tests/data/serde/extended_pub_key
  bitcoin/tests/data/serde/extended_pub_key_bincode
  bitcoin/tests/data/serde/private_key_bincode
  bitcoin/tests/data/serde/proprietary_key_bincode
  bitcoin/tests/data/serde/psbt_bincode
  bitcoin/tests/data/serde/public_key_bincode
  bitcoin/tests/data/serde/public_key_hex
  bitcoin/tests/data/serde/raw_pair_bincode
  bitcoin/tests/data/serde/relative_lock_time_blocks_bincode
  bitcoin/tests/data/serde/relative_lock_time_seconds_bincode
  bitcoin/tests/data/serde/schnorr_sig_bincode
  bitcoin/tests/data/serde/schnorr_sig_hex
  bitcoin/tests/data/serde/script_bincode
  bitcoin/tests/data/serde/taproot_builder_bincode
  bitcoin/tests/data/serde/taproot_spend_info_bincode
  bitcoin/tests/data/serde/transaction_bincode
  bitcoin/tests/data/serde/transaction_ser
  bitcoin/tests/data/serde/txin_bincode
  bitcoin/tests/data/serde/txin_ser
  bitcoin/tests/data/serde/txout_bincode
  bitcoin/tests/data/serde/u256_bincode
  bitcoin/tests/data/serde/uint128_bincode
  bitcoin/tests/data/serde/uint256_bincode
  bitcoin/tests/data/serde/witness_bincode
  bitcoin/tests/serde.rs
  bitcoin/tests/serde_opcodes.rs
Labels: Tests, one ack, no release notes mention

#1432 Hotfix: Fix broken serde
  bitcoin/tests/serde.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha512.rs
Labels: P-high, trivial

#1430 Remove no_run
  bitcoin/src/network/constants.rs
Labels: documentation, trivial

#1410 Change `max_money` to a constant.
  bitcoin/src/blockdata/constants.rs
Labels: API break, trivial, 1.0

#1254 Consensus encoding based serialization
  bitcoin/Cargo.toml
  bitcoin/build.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/mod.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/lib.rs
  internals/src/hex/buf_encoder.rs
Labels: enhancement, minor API Change

#1234 Serde derive in tests
  bitcoin/src/internal_macros.rs
  bitcoin/src/sighash.rs
Labels: Tests, code quality

#1155 Implemented unsized `Script`
  bitcoin/Cargo.toml
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/fuzz/fuzz_targets/deserialize_script.rs
  bitcoin/fuzz/fuzz_targets/script_bytes_to_asm_fmt.rs
  bitcoin/src/address.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/lib.rs
  bitcoin/src/network/message.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/sighash.rs
  bitcoin/src/taproot.rs
  bitcoin/tests/psbt.rs
  bitcoin/tests/serde.rs
Labels: API break, 1.0, is blocking other, API hole

#1483 Mention Script::is_v1_p2tr above Witness::tapscript
  bitcoin/src/blockdata/witness.rs
Labels: documentation, trivial

#1486 Fix typos in docs
  bitcoin/src/amount.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/network/message.rs
Labels: documentation, trivial

#1477 Patch hashes and update the code
  .github/workflows/rust.yml
  Cargo.toml
  bitcoin/embedded/Cargo.toml
  bitcoin/fuzz/Cargo.toml
  bitcoin/src/address.rs
  bitcoin/src/hash_types.rs
  bitcoin/src/network/message.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/sighash.rs
  bitcoin/src/taproot.rs
Labels: bug

#1485 Add `tapscript_leaf_hash()` to `Script`
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/blockdata/script.rs
Labels: minor API Change, trivial

#1499 Add `from_bytes(Vec<u8>)` to `ScriptBuf`
  bitcoin/src/blockdata/script.rs
Labels: enhancement, minor API Change, trivial, one ack, API hole

#1502 Fix bug in `ScriptBuf::extend` for short iterators
  bitcoin/src/blockdata/script.rs
Labels: bug

#1503 Fix wrong newtype APIs
  bitcoin/src/bip32.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/serialize.rs
  internals/src/macros.rs
Labels: bug, API break

#1476 Use hex from internals rather than hashes
  hashes/Cargo.toml
  hashes/src/internal_macros.rs
  hashes/src/sha256.rs
  hashes/src/util.rs
  internals/src/hex/buf_encoder.rs
  internals/src/hex/display.rs
Labels: code quality, perf

#1504 Change `#[cfg(docsrs)]` to `#[cfg(doc)]` on `use`
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/locktime/relative.rs
Labels: bug, documentation, P-low, trivial
