Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-04, with the labels that each got.

#925 Require taproot tree depth argument always to be u8
  src/util/psbt/serialize.rs
  src/util/taproot.rs
Labels: RC fix

#923 Taproot docs nits
  src/util/taproot.rs
Labels: documentation, trivial, RC fix

#920 Push key xonly
  src/blockdata/script.rs
Labels: help wanted, question, RC fix, audit

#917 Rename SigHash to Sighash
  src/blockdata/transaction.rs
  src/hash_types.rs
  src/lib.rs
  src/util/bip143.rs
  src/util/ecdsa.rs
  src/util/psbt/error.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/mod.rs
  src/util/psbt/mod.rs
  src/util/psbt/serialize.rs
  src/util/schnorr.rs
  src/util/sighash.rs
Labels: one ack, RC fix

#926 Remove redundant code computing tap hashes
  src/util/taproot.rs
Labels: Minor API Change, code quality

#932 Derive Eq for PSBT types
  src/util/psbt/map/input.rs
  src/util/psbt/map/output.rs
  src/util/psbt/mod.rs
Labels: Minor API Change, trivial

#929 Fix TapTree hidden branches bug
  src/util/psbt/map/mod.rs
  src/util/psbt/map/output.rs
  src/util/psbt/mod.rs
  src/util/psbt/serialize.rs
  src/util/taproot.rs
Labels: bug, P-high, code quality, RC fix

#924 Improvements to taproot script iterator
  src/util/psbt/map/output.rs
  src/util/psbt/serialize.rs
  src/util/taproot.rs
Labels: bug, P-medium, one ack, RC fix

#927 Trivial improvements for TapTree type
  src/util/psbt/map/output.rs
  src/util/psbt/serialize.rs
Labels: Minor API Change, trivial, one ack, RC fix

#950 Fix TapTree derserialization
  src/util/psbt/serialize.rs
Labels: bug

#965 Remove unnecessary `Write as _fmtWrite`
  src/util/key.rs
Labels: code quality, trivial, one ack

#966 Clean up import aliases
  src/blockdata/constants.rs
  src/util/bip158.rs
  src/util/schnorr.rs
Labels: trivial

#970 Fix badges
  README.md
Labels: one ack

#905 Disable Serde's default-features
  Cargo.toml
  src/blockdata/script.rs
  src/internal_macros.rs
Labels: one ack, before edition bump

#673 Use iterator in `blockdata::script::Instructions`
  src/blockdata/script.rs
Labels: code quality, before edition bump

#716 Add `amount::Display` - make formatting configurable
  src/util/amount.rs
Labels: enhancement, API break, before edition bump, release notes mention
