Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-10, with the labels that each got.

#1315 Fix `test_data` dir exclusion
  bitcoin/Cargo.toml
Labels: trivial, one ack

#1197 Add `Target` and `Work` types
  .github/workflows/fuzz.yml
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/consensus/params.rs
  bitcoin/src/lib.rs
  bitcoin/src/pow.rs
  bitcoin/src/util/bip152.rs
  bitcoin/src/util/endian.rs
  bitcoin/src/util/mod.rs
  bitcoin/src/util/uint.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/uint128_fuzz.rs
Labels: enhancement, minor API Change, release notes mention

#1210 Move bip152 module to crate root
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/bip152.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/lib.rs
  bitcoin/src/network/message.rs
  bitcoin/src/network/message_compact_blocks.rs
  bitcoin/src/util/mod.rs
  fuzz/fuzz_targets/deserialize_prefilled_transaction.rs
Labels: minor API Change, 1.0, aggregate release notes mention

#957 Add API to PSBT to enable signing inputs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/util/psbt/mod.rs
Labels: release notes mention

#1293 Move a bunch of stuff out of `internal_macros`
  bitcoin/src/address.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/opcodes.rs
  bitcoin/src/blockdata/script.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/network/constants.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/util/endian.rs
  bitcoin/src/util/sighash.rs
  internals/src/lib.rs
  internals/src/macros.rs
Labels: P-high, crate smashing

#1335 Improve doc of `Script::push_verify`
  bitcoin/src/blockdata/script.rs
Labels: documentation, trivial

#1341 ci: Remove serde version pinning
  bitcoin/contrib/test.sh
Labels: ci, Tests, trivial

#1340 Move sighash module to crate root
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/lib.rs
  bitcoin/src/sighash.rs
  bitcoin/src/util/ecdsa.rs
  bitcoin/src/util/mod.rs
  bitcoin/src/util/psbt/map/input.rs
  bitcoin/src/util/psbt/mod.rs
Labels: P-high, trivial

#1342 Re-export base64 when enabled
  bitcoin/src/lib.rs
Labels: enhancement, minor API Change, trivial, one ack

#1223 Remove the endian module
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/sighash.rs
  bitcoin/src/util/base58.rs
  bitcoin/src/util/endian.rs
  bitcoin/src/util/mod.rs
  bitcoin/src/util/psbt/map/global.rs
Labels: 1.0, aggregate release notes mention

#1354 Add `impl IntoIterator for &'_ Witness`
  bitcoin/src/blockdata/witness.rs
Labels: enhancement, minor API Change, trivial, 1.0
