Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-01, with the labels that each got.

#753 Put rustdocs above attributes
  src/blockdata/script.rs
  src/blockdata/transaction.rs
  src/consensus/params.rs
  src/internal_macros.rs
  src/network/message.rs
  src/network/message_filter.rs
  src/util/address.rs
  src/util/ecdsa.rs
  src/util/misc.rs
  src/util/psbt/error.rs
  src/util/sighash.rs
  src/util/uint.rs
Labels: documentation, P-low, code quality, trivial, one ack

#755 Update to secp256k1 0.21.2
  Cargo.toml
  src/util/address.rs
  src/util/ecdsa.rs
  src/util/misc.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/output.rs
  src/util/psbt/serialize.rs
  src/util/schnorr.rs
  src/util/sighash.rs
  src/util/taproot.rs
Labels: P-high

#669 PSBT: partial sig data type
  src/blockdata/transaction.rs
  src/util/ecdsa.rs
  src/util/psbt/map/input.rs
  src/util/psbt/mod.rs
  src/util/psbt/serialize.rs
Labels: API break

#718 Converting LeafVersion into an enum
  src/util/psbt/serialize.rs
  src/util/sighash.rs
  src/util/taproot.rs
Labels: enhancement, P-high, one ack

#590 Taproot: BIP32 extended keys using Scep256k1 keys instead of bitcoin ECDSA
  examples/bip32.rs
  src/util/bip32.rs
  src/util/ecdsa.rs
  src/util/psbt/mod.rs
Labels: API break, one ack

#761 Taproot trivial post-merge fixups
  src/util/taproot.rs
Labels: code quality, trivial

#766 wrap u8 and LeafVersion in backticks and square bracket in doc
  src/util/sighash.rs
  src/util/taproot.rs
Labels: documentation, trivial

#591 PSBT BIP32 keys using to Secp256k1 keys instead of bitcoin ECDSA
  src/blockdata/script.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/output.rs
  src/util/psbt/mod.rs
  src/util/psbt/serialize.rs
Labels: API break

#762 Rename inner key field in PrivateKey and PublicKey
  src/blockdata/script.rs
  src/util/bip32.rs
  src/util/contracthash.rs
  src/util/ecdsa.rs
  src/util/misc.rs
Labels: API break, code quality, trivial

#771 Add Witness::new()
  src/blockdata/witness.rs
Labels: trivial

#774 Change type of final script witness to Witness from Vec<Vec<u8>>
  src/util/psbt/map/input.rs
  src/util/psbt/mod.rs
  src/util/psbt/serialize.rs
Labels: API break

#696 Taproot tweaks generalization & KeyPair support
  .github/workflows/rust.yml
  src/blockdata/script.rs
  src/util/misc.rs
  src/util/schnorr.rs
Labels: API break

#778 Fixups for taproot improvements
  src/blockdata/script.rs
  src/lib.rs
  src/util/schnorr.rs
  src/util/taproot.rs
Labels: code quality, trivial

#768 add nano and pico BTC to Denomination enum
  src/util/amount.rs
Labels: API break, one ack

#757 Minimally-invasive separation of bitcoin keys from ECDSA signature types
  src/blockdata/script.rs
  src/lib.rs
  src/util/address.rs
  src/util/bip143.rs
  src/util/bip32.rs
  src/util/ecdsa.rs
  src/util/key.rs
  src/util/misc.rs
  src/util/mod.rs
  src/util/schnorr.rs
Labels: API break, code quality, trivial

#752 Make Map trait private
  src/util/psbt/macros.rs
  src/util/psbt/map/global.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/mod.rs
  src/util/psbt/map/output.rs
  src/util/psbt/mod.rs
Labels: API break

#776 Change EcdsaSig hash type deser in psbt
  src/blockdata/transaction.rs
  src/util/ecdsa.rs
  src/util/psbt/mod.rs
  src/util/psbt/serialize.rs
Labels: bug, documentation, code quality, one ack

#791 Remove trailing spaces from 'address.rs'
  src/network/address.rs
Labels: code quality

#587 Contributing.md
  CONTRIBUTING.md
Labels: documentation

#786 Fix unused arg in PSBT impl_psbt_get_pair macro
  src/util/psbt/macros.rs
  src/util/psbt/map/input.rs
  src/util/psbt/map/output.rs
Labels: code quality, one ack

#794 Refactor use map_err
  src/util/psbt/serialize.rs
Labels: trivial

#790 Re-export psbt module from root level
  src/lib.rs
  src/util/psbt/mod.rs
Labels: RC fix

#799 Use 4 character indentation
  src/blockdata/transaction.rs
Labels: trivial

#797 Remove Sebastian from maintainers list
  CONTRIBUTING.md
Labels: RC fix

#802 Subsidy halving interval
  src/blockdata/constants.rs
Labels: enhancement, trivial, one ack
