Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-08, with the labels that each got.

#1151 Update finalize API
  src/util/psbt/map/output.rs
  src/util/psbt/serialize.rs
  src/util/taproot.rs
Labels: bug, P-high

#1144 Remove deprecated `StreamReader`
  src/blockdata/block.rs
  src/network/mod.rs
  src/network/stream_reader.rs
Labels: API break, code quality, trivial

#1165 Update bitcoinconsensus dependency
  Cargo.toml
Labels: P-high, release notes mention

#1171 Remove `MAX_SEQUENCE` constant
  src/blockdata/constants.rs
  src/blockdata/transaction.rs
Labels: API break, P-high, trivial, one ack

#1109 Release tracking PR - v0.29.0
  CHANGELOG.md
  Cargo.toml
Labels: P-high

#1166 Deprecate `Transaction`'s `signature_hash`/`encode_signing_data_to` methods
  src/blockdata/transaction.rs
  src/util/sighash.rs
  test_data/legacy_sighash.json
Labels: code quality, one ack, release notes mention

#1163 Remove old deprecated code
  src/util/bip143.rs
  src/util/merkleblock.rs
  src/util/sighash.rs
Labels: API break, release notes mention

#1177 Remove accidentally-exported internal macros
  src/blockdata/locktime.rs
  src/blockdata/transaction.rs
  src/error.rs
  src/parse.rs
Labels: bug, P-high

#1182 Fix clippy warnings
  src/blockdata/script.rs
  src/blockdata/transaction.rs
  src/util/bip152.rs
  src/util/psbt/raw.rs
  src/util/sighash.rs
Labels: ci, P-high, no release notes mention

#1170 Move `address` out of `util`
  examples/bip32.rs
  examples/ecdsa-psbt.rs
  fuzz/fuzz_targets/deserialize_address.rs
  fuzz/fuzz_targets/deserialize_script.rs
  src/address.rs
  src/blockdata/script.rs
  src/error.rs
  src/lib.rs
  src/parse.rs
  src/serde_utils.rs
  src/util/key.rs
  src/util/misc.rs
  src/util/mod.rs
Labels: minor API Change, P-high, code quality, aggregate release notes mention

#1139 Do error cleanups
  src/blockdata/transaction.rs
  src/util/bip152.rs
  src/util/bip158.rs
  src/util/merkleblock.rs
Labels: API break, error handling, release notes mention

#1077 Move sighash types to the sighash module
  src/blockdata/transaction.rs
  src/blockdata/witness.rs
  src/lib.rs
  src/util/bip143.rs
  src/util/ecdsa.rs
  src/util/psbt/map/input.rs
  src/util/psbt/mod.rs
  src/util/sighash.rs
Labels: API break, no release notes mention

#1138 Introduce new canonical license blurb
  src/blockdata/locktime.rs
Labels: P-low, no release notes mention

#1172 Re-export blockdata modules
  src/blockdata/block.rs
  src/blockdata/locktime.rs
  src/blockdata/transaction.rs
  src/lib.rs
  src/util/bip143.rs
  src/util/sighash.rs
Labels: release notes mention

#1204 [update] macro to implement Debug from Display and add Display implementation where needed
  src/blockdata/opcodes.rs
  src/blockdata/script.rs
  src/internal_macros.rs
  src/util/uint.rs
Labels: API break

#1191 Hex macros cleanup
  src/address.rs
  src/internal_macros.rs
  src/util/key.rs
  src/util/sighash.rs
Labels: code quality
