Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-09, with the labels that each got.

#1196 Add relative lock time type
  examples/ecdsa-psbt.rs
  src/blockdata/constants.rs
  src/blockdata/locktime/absolute.rs
  src/blockdata/locktime/mod.rs
  src/blockdata/locktime/relative.rs
  src/blockdata/transaction.rs
  src/lib.rs
  src/util/bip143.rs
  src/util/bip152.rs
  src/util/psbt/mod.rs
  src/util/sighash.rs
Labels: enhancement, minor API Change, release notes mention

#1211 Move bip158 module to crate root
  src/bip158.rs
  src/lib.rs
  src/util/mod.rs
Labels: minor API Change, 1.0, aggregate release notes mention

#1238 CI clean ups
  contrib/test.sh
  src/blockdata/constants.rs
  src/blockdata/mod.rs
  src/blockdata/script.rs
  src/consensus/encode.rs
  src/network/message_blockdata.rs
  src/util/amount.rs
  src/util/base58.rs
  src/util/bip32.rs
Labels: ci, trivial, one ack, no release notes mention

#1240 Add new type for block version
  src/blockdata/block.rs
  src/blockdata/constants.rs
  src/lib.rs
  src/util/bip152.rs
Labels: one ack, release notes mention

#1244 BIP 34: Check last minimal encoding accoriding of heights
  src/blockdata/block.rs
  src/blockdata/script.rs
Labels: bug, no release notes mention

#1249 Run cargo fmt
  examples/ecdsa-psbt.rs
  src/internal_macros.rs
Labels: trivial, one ack

#1252 Remove unused consensus encoding error variants
  src/consensus/encode.rs
Labels: API break, 1.0, error handling

#1136 Impl std error using macro
  src/network/message.rs
  src/util/sighash.rs
  src/util/uint.rs
Labels: code quality, trivial

#1248 implement `From<PublicKey>` for `PubkeyHash`
  src/util/key.rs
Labels: minor API Change, trivial, one ack

#1250 Simplify `PublicKey` serialization code
  src/util/key.rs
Labels: code quality, trivial

#1255 Add a comment to delineate test_macros re-export
  src/internal_macros.rs
Labels: trivial, one ack, no release notes mention

#1183 Use `Borrow` trait bound for bip158 `Iterator::Item`
  src/bip158.rs
  src/lib.rs
Labels: one ack, no release notes mention

#1268 Implement basic support for fast hex encoding
  internals/Cargo.toml
  internals/src/hex/buf_encoder.rs
  internals/src/hex/display.rs
  internals/src/hex/mod.rs
  internals/src/lib.rs
Labels: enhancement

#1125 Update docs on rustfmt
  CONTRIBUTING.md
Labels: documentation, trivial, one ack, no release notes mention

#1269 Hex fixups
  internals/build.rs
  internals/src/hex/display.rs
Labels: bug, documentation, code quality

#1273 Redesign `hex::BufEncoder` to accept owned arrays
  internals/src/hex/buf_encoder.rs
  internals/src/hex/display.rs
  internals/src/lib.rs
Labels: enhancement, 1.0

#1276 Fix deprecated v0.28.0
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  bitcoin/src/util/bip143.rs
  bitcoin/src/util/bip32.rs
  bitcoin/src/util/mod.rs
  bitcoin/src/util/schnorr.rs
  bitcoin/src/util/sighash.rs
  fuzz/fuzz_targets/deserialize_transaction.rs
Labels: API break, release notes mention

#1286 Make `ChainHash::using_genesis_block` constant
  bitcoin/src/blockdata/constants.rs
Labels: enhancement, minor API Change, trivial

#1258 Add API method `absolute::LockTime::is_satisfied_by_lock`
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/locktime/relative.rs
Labels: minor API Change, release notes mention

#1277 Try to fix up sighash export mess
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  bitcoin/src/util/psbt/mod.rs
  bitcoin/src/util/schnorr.rs
  bitcoin/src/util/sighash.rs
Labels: API break, release notes mention

#1259 Move/re-name the `util::misc` module
  bitcoin/src/lib.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/util/mod.rs
Labels: minor API Change, 1.0, aggregate release notes mention

#1299 Fix clippy warnings
  bitcoin/src/consensus/encode.rs
  bitcoin/src/util/psbt/mod.rs
  bitcoin/src/util/taproot.rs
Labels: code quality, trivial

#1301 `AsMut` impls for `Magic`
  bitcoin/src/network/constants.rs
Labels: enhancement, minor API Change, trivial, one ack
