Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2022-05, with the labels that each got.

#982 Remove irrelevant notes about version pinning
  README.md
Labels: documentation, trivial

#960 Trival docs fixes
  src/util/ecdsa.rs
  src/util/psbt/map/output.rs
Labels: trivial

#1010 Match against an optional single trailing colon
  src/util/amount.rs
Labels: trivial, one ack
