Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2023-01, with the labels that each got.

#1438 Replace `Vec::from_hex` with `hex!`
  bitcoin/src/address.rs
  bitcoin/src/base58.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/network/address.rs
  bitcoin/src/network/message.rs
  bitcoin/src/network/message_blockdata.rs
  bitcoin/src/network/message_network.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/sighash.rs
Labels: code quality, is blocking other

#1531 Remove `ToHex`
  bitcoin/src/address.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/sighash.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot.rs
  hashes/Cargo.toml
  hashes/embedded/src/main.rs
  hashes/src/hash160.rs
  hashes/src/hex.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  internals/src/hex/display.rs
Labels: API break, code quality, 1.0, perf

#1545 Add CI script for the `internals` crate
  .github/workflows/rust.yml
  contrib/test.sh
  hashes/contrib/test.sh
  internals/contrib/test.sh
  internals/src/hex/display.rs
Labels: bug, documentation, ci, P-medium, one ack, is blocking other

#1539 Add a rustdoc test to Denomination
  bitcoin/src/amount.rs
Labels: Tests, trivial

#1572 Remove `hashes::hex::HexWriter`
  hashes/src/hex.rs
Labels: API break, P-high, trivial
