Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2023-11, with the labels that each got.

#1979 Make `Payload` and `AddressEncoding` private
  bitcoin/src/address/mod.rs
Labels: API break, 1.0

#2194 Script documentation weirdness and typos
  CONTRIBUTING.md
  bitcoin/src/blockdata/script/borrowed.rs
Labels: documentation, trivial, one ack

#1127 Add policy section to docs
  CONTRIBUTING.md
Labels: documentation, manual merge

#2172 Add `params` method to `Network`
  bitcoin/src/consensus/params.rs
  bitcoin/src/network.rs
Labels: enhancement, minor API Change, API hole
