Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2023-02, with the labels that each got.

#1609 Associate io, encode errors with psbt::Error
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
Labels: P-high

#1618 Add newline in rustdoc
  bitcoin/src/taproot.rs
Labels: documentation, trivial, one ack

#1610 Add KeyPair import to rustdoc example
  bitcoin/src/crypto/schnorr.rs
Labels: P-high

#1625 Improve `SighashCache` API
  bitcoin/src/psbt/mod.rs
  bitcoin/src/sighash.rs
Labels: API break

#1624 Improve `sighash` module documentation
  bitcoin/src/sighash.rs
Labels: documentation, trivial

#1621 Rename `from_slice` methods to `decode`
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot.rs
  bitcoin/tests/serde.rs
Labels: API break

#1627 Add `Weight` and `FeeRate` newtypes
  bitcoin/fuzz/fuzz_targets/deserialize_transaction.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/fee_rate.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/weight.rs
  bitcoin/src/parse.rs
Labels: enhancement

#1592 Add `From<Address>` for `ScriptBuf`
  bitcoin/src/address.rs
Labels: P-high

#1642 Add `minimal_non_dust` to `TxOut`
  bitcoin/src/blockdata/transaction.rs
Labels: enhancement, minor API Change

#1593 hashes: Implement AsRef for fixed size arrays
  bitcoin/src/address.rs
  bitcoin/src/network/message.rs
  bitcoin/src/psbt/serialize.rs
  hashes/src/internal_macros.rs
  hashes/src/util.rs
Labels: P-high

#1652 Clarify the intention of strange condition
  bitcoin/src/blockdata/script/push_bytes.rs
Labels: code quality, trivial

#1658 Changing docs and examples to use correct function signature
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/bip32.rs
Labels: documentation, trivial, one ack

#1654 Do trivial manifest cleanup
  bitcoin/Cargo.toml
Labels: trivial

#1664 Pin syn dependency for MSRV toolchain
  README.md
  bitcoin/contrib/test.sh
Labels: ci, trivial

#1672 Accept borrowed values in InputWeightPrediction::new()
  bitcoin/src/blockdata/transaction.rs
Labels: enhancement, trivial, one ack

#1674 Reexport `Magic`
  bitcoin/src/network/mod.rs
Labels: enhancement, trivial

#1676 Fix docs for UnknownMagic to be accurate
  bitcoin/src/network/constants.rs
Labels: documentation, trivial, one ack

#1577 Re-name hash inner/byte methods
  bitcoin/Cargo.toml
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/hash_types.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/network/message.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/macros.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot.rs
  hashes/extended_tests/schemars/src/main.rs
  hashes/src/hash160.rs
  hashes/src/hmac.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/util.rs
Labels: API break, P-high, one ack

#1675 Add utils to convert ChainHash to a Network
  bitcoin/src/network/constants.rs
Labels: API hole

#1670 `hash_newtype` cleanup
  hashes/src/util.rs
Labels: documentation, code quality
