Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2023-03, with the labels that each got.

#1682 Include address in Error::NetworkValidation
  bitcoin/src/address.rs
Labels: enhancement, one ack

#1111 Run cargo fmt in CI
  .github/workflows/rust.yml
  CONTRIBUTING.md
  bitcoin/contrib/test.sh
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address.rs
  bitcoin/src/amount.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/network/address.rs
  bitcoin/src/network/constants.rs
  bitcoin/src/network/message.rs
  bitcoin/src/network/message_blockdata.rs
  bitcoin/src/network/message_network.rs
  bitcoin/src/pow.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/string.rs
  bitcoin/src/taproot.rs
  bitcoin/tests/psbt.rs
  bitcoin/tests/serde.rs
  githooks/pre-commit
  hashes/contrib/test.sh
  internals/contrib/test.sh
  internals/src/hex/buf_encoder.rs
  internals/src/hex/display.rs
  internals/src/macros.rs
  rustfmt.toml
Labels: ci, one ack, no release notes mention

#1692 Add constants to `InputWeightPrediction`
  bitcoin/src/blockdata/transaction.rs
Labels: enhancement

#1708 Fix CI builds where default features are added accidentally
  bitcoin/contrib/test.sh
Labels: bug, ci, trivial, one ack

#1709 Improve QR code formatting documentation
  bitcoin/src/address.rs
Labels: documentation, trivial

#1713 Swap out `Work::log2` implementation for `U256::to_f64`
  bitcoin/src/pow.rs
Labels: trivial, one ack

#1710 Support weight prediction in `const` context
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/internal_macros.rs
Labels: enhancement

#1717 Remove extern crate hashbrown
  bitcoin/src/lib.rs
Labels: trivial

#1719 Update testing section
  CONTRIBUTING.md
Labels: documentation, trivial

#1699 Release tracking PR - v0.30.0
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
Labels: Optech Make Me Famous!

#1728 Run cargo +nightly rustfmt
  bitcoin/src/blockdata/block.rs
Labels: P-high

#1735 Add kilo weight unit conversion
  bitcoin/src/blockdata/weight.rs
Labels: enhancement, one ack

#1753 Add `ChainHash::from_genesis_block_hash`
  bitcoin/src/blockdata/constants.rs
Labels: enhancement, trivial
