Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2023-06, with the labels that each got.

#1897 Rename `TaprootSpendInfo::as_script_map` to `script_map`
  bitcoin/src/taproot.rs
Labels: trivial

#1870 Add from_int_btc method to Amount
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/amount.rs
Labels: waiting for author

#1877 hashes: Remove stale status badge
  hashes/README.md
Labels: trivial

#1739 Mutate mul_u64 with mutagen
  bitcoin/src/pow.rs
Labels: Tests, trivial

#1915 Fix incorrect comment in ci script
  bitcoin/contrib/test.sh
Labels: documentation, trivial, one ack

#1911 Add a verify function to PublicKey
  bitcoin/src/crypto/key.rs
Labels: minor API Change, trivial
