Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2023-04, with the labels that each got.

#1771 Use slice patterns
  bitcoin/src/bip32.rs
Labels: code quality

#1758 CI: Only run release job for release PRs
  .github/workflows/release.yml
  contrib/release.sh
Labels: P-high

#1696 Remove `schemars` pin from manifest
  README.md
  bitcoin/contrib/test.sh
  hashes/Cargo.toml
  hashes/README.md
  hashes/contrib/test.sh
  hashes/extended_tests/schemars/Cargo.toml
  hashes/extended_tests/schemars/README.md
  hashes/src/lib.rs
  hashes/src/sha256t.rs
Labels: P-high

#1804 extended_tests: Remove stale docs
  hashes/extended_tests/schemars/README.md
Labels: documentation, trivial

#1796 transaction: Rename is_coin_base to is_coinbase
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/transaction.rs
  contrib/release.sh
Labels: API break, 1.0
