Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2023-05, with the labels that each got.

#1764 Test with minimal dependency versions
  CONTRIBUTING.md
  Cargo-minimal.lock
  Cargo-recent.lock
  README.md
  bitcoin/Cargo.toml
  bitcoin/contrib/test.sh
  contrib/test.sh
  hashes/contrib/test.sh
  internals/contrib/test.sh
Labels: P-high

#1736 Improve README
  README.md
Labels: documentation, trivial

#1793 Comment predict_weight
  bitcoin/src/blockdata/transaction.rs
Labels: documentation, one ack

#1768 Allow parsing sub-sat denominations with decimal points
  bitcoin/src/amount.rs
Labels: bug

#1848 Fix formatting
  bitcoin/src/address.rs
Labels: P-high

#1835 Fix associated constants of `InputWeightPrediction`
  bitcoin/src/blockdata/transaction.rs
Labels: bug

#1857 tests: Use script hash functions
  bitcoin/src/blockdata/script/tests.rs
Labels: Tests, trivial, one ack

#1879 embedded: Document how to clean up linker flags
  bitcoin/embedded/README.md
Labels: documentation, trivial

#1887 Remove doc(hidden) from error conversion functions
  bitcoin/src/address.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/sign_message.rs
Labels: documentation, trivial, one ack
