Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2023-12, with the labels that each got.

#2156 Taproot sig on stack
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/src/taproot/serialized_signature.rs
Labels: enhancement, minor API Change, perf

#2269 Remove impossible InvalidParity error variant
  bitcoin/src/taproot/mod.rs
Labels: API break, 1.0

#2263 `TaprootMerkleBranch` improvements
  .github/workflows/rust.yml
  bitcoin/src/lib.rs
  bitcoin/src/taproot/merkle_branch.rs
  bitcoin/src/taproot/mod.rs
Labels: enhancement, API break, code quality, 1.0, API hole

#1225 Add `bitcoin-units` crate
  .github/workflows/fuzz.yml
  Cargo-minimal.lock
  Cargo-recent.lock
  Cargo.toml
  bitcoin/Cargo.toml
  bitcoin/embedded/Cargo.toml
  bitcoin/src/lib.rs
  contrib/test.sh
  fuzz/Cargo.toml
  fuzz/fuzz_targets/units/deserialize_amount.rs
  hashes/embedded/Cargo.toml
  hashes/extended_tests/schemars/Cargo.toml
  internals/src/error/input_string.rs
  internals/src/error/parse_error.rs
  units/Cargo.toml
  units/README.md
  units/contrib/test.sh
  units/src/amount.rs
  units/src/lib.rs
Labels: API break, crate smashing

#1832 Remove Network from AddressInner
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/sign_message.rs
  bitcoin/tests/serde.rs
Labels: one ack

#2272 hashes: Add Hash::from_bytes_iter to construct hashes from iterators
  hashes/src/lib.rs
Labels: enhancement, minor API Change

#2262 Clean up `io` usage
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/p2p/message_bloom.rs
  bitcoin/src/p2p/message_network.rs
  bitcoin/src/p2p/mod.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/src/taproot/mod.rs
  units/src/amount.rs
Labels: P-high

#2277 Implement `CompressedPublicKey`
  bitcoin/embedded/src/main.rs
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/sighash.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/lib.rs
  bitcoin/src/sign_message.rs
Labels: API break, 1.0, Correctness
