Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-02, with the labels that each got.

#2430 Fix kani test
  .github/workflows/rust.yml
  units/src/amount.rs
Labels: ci, C-units

#2403 Make crate level attributes uniform
  bitcoin/src/lib.rs
  hashes/src/lib.rs
  internals/src/lib.rs
  io/Cargo.toml
  io/src/lib.rs
  units/src/lib.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io

#2353 Epic CI overhaul
  .github/workflows/rust.yml
  bitcoin/contrib/extra_tests.sh
  bitcoin/contrib/test.sh
  bitcoin/contrib/test_vars.sh
  bitcoin/embedded/scripts/install-deps
  contrib/gen_label_config.sh
  contrib/get_matrix.sh
  contrib/run_task.sh
  contrib/test.sh
  contrib/test_vars.sh
  fuzz/contrib/test.sh
  githooks/pre-commit
  hashes/contrib/extra_tests.sh
  hashes/contrib/test.sh
  hashes/contrib/test_vars.sh
  hashes/embedded/scripts/env.sh
  hashes/embedded/scripts/install-deps
  internals/contrib/test.sh
  internals/contrib/test_vars.sh
  io/contrib/test_vars.sh
  units/contrib/test.sh
  units/contrib/test_vars.sh
Labels: ci, P-high, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, doc

#2428 Remove the remaining TODOs
  bitcoin/src/blockdata/weight.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/pow.rs
  units/src/amount.rs
Labels: C-bitcoin, C-units

#2442 Remove non_exhaustive from struct errors with pub inner
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/sighash.rs
Labels: C-bitcoin

#2450 kani: fix Amount overflow test
  units/src/amount.rs
Labels: C-units

#2443 Print hex in Debug for Sequence
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#2445 Add API functions `p2wpkh_script_code`
  bitcoin/Cargo.toml
  bitcoin/contrib/test_vars.sh
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/crypto/key.rs
Labels: C-bitcoin

#2454 Remove broken kani test
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2451 Remove m prefix requirement
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/data/serde/psbt_bincode
  bitcoin/tests/psbt.rs
  bitcoin/tests/serde.rs
Labels: C-bitcoin, test

#2335 Improve error handling in errors emmited by `keys`
  bitcoin/src/bip32.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/error.rs
Labels: C-bitcoin

#2352 io: Cleanup
  io/CHANGELOG.md
  io/src/error.rs
  io/src/lib.rs
Labels: ci, P-high, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, doc

#2457 Inline private ScriptBuf::p2wpkh function
  bitcoin/src/blockdata/script/borrowed.rs
Labels: C-bitcoin

#2463 Add conditional check for debug_assertions
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/fee_rate.rs
  bitcoin/src/blockdata/weight.rs
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2464 Remove broken kani test
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2471 units: Implement ops::Neg for SignedAmount
  units/src/amount.rs
Labels: C-units

#2453 io: Remove blanket trait impls
  io/src/lib.rs
  io/src/macros.rs
Labels: P-high, C-io

#2462 feat: implement TryFrom trait to `SignedAmount` and `Amount`
  units/src/amount.rs
Labels: C-units

#2467 taproot: add TapNodeHash getter method on TapTree and NodeInfo
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#2436 Add unchecked variants to Amount and SignedAmount
  units/src/amount.rs
Labels: C-bitcoin, C-units

#2441 Release tracking PR: `io v0.1.0`
  CHANGELOG.md
Labels: C-io, doc

#2485 io: Bump version to 0.1.1
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  hashes/Cargo.toml
  io/CHANGELOG.md
  io/Cargo.toml
Labels: C-bitcoin, C-hashes, C-io, doc

#2488 Fix CI new build warnings
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/handshake.rs
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/fee_rate.rs
  bitcoin/src/blockdata/locktime/relative.rs
  bitcoin/src/blockdata/opcodes.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/weight.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/network.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/p2p/message_network.rs
  bitcoin/src/p2p/mod.rs
  bitcoin/src/parse.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/string.rs
  bitcoin/src/taproot/merkle_branch.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/src/taproot/serialized_signature.rs
  bitcoin/tests/psbt.rs
  bitcoin/tests/serde.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha512.rs
  io/src/error.rs
  io/src/lib.rs
  units/src/amount.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, test

#2491 Make from_hex inherent for byte-like types
  bitcoin/src/internal_macros.rs
Labels: C-bitcoin, C-hashes, C-units, C-io, test

#2480 Add a new base58 crate
  Cargo-minimal.lock
  Cargo-recent.lock
  Cargo.toml
  base58/Cargo.toml
  base58/README.md
  base58/contrib/test_vars.sh
  base58/src/lib.rs
  bitcoin/Cargo.toml
  bitcoin/embedded/Cargo.toml
  bitcoin/src/lib.rs
Labels: C-bitcoin, C-hashes, C-units, C-io, test, doc, C-base58

#2446 Make constructors const
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  hashes/src/siphash24.rs
Labels: C-bitcoin, C-hashes

#2497 Add the `FromScriptError` for handling errors in `address`
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#2506 Update bech32 dependency
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#2504 base58: Use pub extern crate instead of module
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip32.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/lib.rs
Labels: C-bitcoin

#2508 Add `NetworkValidationError`
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#2510 Trivial error cleanup
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
Labels: C-bitcoin

#2527 Tidy description
  units/src/amount.rs
Labels: C-units
