Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-11, with the labels that each got.

#3544 Favour `to_vec` over `to_bytes`
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/tests/psbt-sign-taproot.rs
  internals/src/macros.rs
  primitives/src/script/borrowed.rs
  primitives/src/script/owned.rs
  primitives/src/witness.rs
Labels: API break, C-bitcoin, C-internals, test, C-primitives

#3377 Release tracking PR: `bitcoin_hashes 0.15.0`
  hashes/CHANGELOG.md
Labels: C-hashes, doc

#3557 Remove needless_borrows_for_generic_args
  addresses/src/lib.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/lib.rs
  hashes/src/lib.rs
  internals/src/lib.rs
  io/src/lib.rs
  primitives/src/lib.rs
  primitives/src/witness.rs
  units/src/lib.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, C-primitives, C-addresses

#3517 Remove `private_key_debug_is_obfuscated` test
  bitcoin/src/crypto/key.rs
Labels: C-bitcoin

#3551 primitives: Add missing re-exports
  primitives/src/lib.rs
Labels: C-primitives

#3559 Replace `String` with `InputString`
  internals/src/error/mod.rs
  units/src/locktime/absolute.rs
  units/src/parse.rs
Labels: API break, C-units, C-internals

#3560 units: Remove `alloc` feature gating from modules
  units/src/lib.rs
  units/src/locktime/absolute.rs
  units/src/parse.rs
Labels: API break, C-units

#3566 io: Bump version to 0.1.3
  Cargo-minimal.lock
  Cargo-recent.lock
  io/CHANGELOG.md
  io/Cargo.toml
Labels: C-io, doc

#3550 primitives: Add rustdoc links back in
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  primitives/src/sequence.rs
Labels: C-primitives

#2861 Introduce `impl_bytelike_traits` macro
  bitcoin/src/blockdata/transaction.rs
  hashes/src/internal_macros.rs
  hashes/src/macros.rs
Labels: API break, C-bitcoin, C-hashes

#3562 Re-export `block::Header` as `BlockHeader`
  bitcoin/src/lib.rs
  primitives/src/lib.rs
Labels: C-bitcoin, C-primitives

#3546 Copy crate level attributes to chacha20_poly1305
  chacha20_poly1305/src/lib.rs
Labels: C-chacha20_poly1305

#3561 bitcoin: Re-format crate level re-exports
  bitcoin/src/lib.rs
  primitives/src/lib.rs
Labels: C-bitcoin, C-primitives

#3577 Update rust-bitcoin-maintainer-tools
  .github/workflows/rust.yml
Labels: ci

#3539 Improve the `amount` module
  bitcoin/examples/taproot-psbt.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/fee_rate.rs
  units/src/lib.rs
Labels: API break, C-bitcoin, C-units

#2543 hashes: Default to `no_std`
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/network/mod.rs
  bitcoin/src/pow.rs
  hashes/embedded/src/main.rs
  hashes/src/hash160.rs
  hashes/src/hmac.rs
  hashes/src/lib.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha512.rs
Labels: C-bitcoin, C-hashes

#3579 hashes: Hide error internals
  hashes/src/error.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/sha256t.rs
Labels: C-hashes

#3585 Fix bip34 number parsing for Block
  bitcoin/src/blockdata/block.rs
Labels: API break, C-bitcoin

#3592 Update generic param
  bitcoin/src/internal_macros.rs
Labels: C-bitcoin

#3588 Reword `Address` constructor docs
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#3587 Split checked_div_by_weight into floor and ceiling version
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
Labels: API break, C-units

#3594 Add callouts to the chacha20-poly1305 public docs
  chacha20_poly1305/README.md
Labels: doc, C-chacha20_poly1305

#3581 Fix re-exports and (manually) format the codebase
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/lib.rs
  chacha20_poly1305/src/lib.rs
  primitives/src/lib.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units, C-primitives, C-chacha20_poly1305

#3604 Add constructor to `FeeRate`
  units/src/fee_rate.rs
Labels: C-units

#3605 Mark function as const
  units/src/weight.rs
Labels: C-units

#3601 Fix bug in witness stack getters
  bitcoin/src/blockdata/witness.rs
  primitives/src/witness.rs
Labels: C-bitcoin, C-primitives, port-0.32.x, Needs Backport

#3608 Mark funtions const
  units/src/weight.rs
Labels: C-units

#3576 transaction: Add plural field getters
  primitives/src/transaction.rs
Labels: C-primitives

#3619 Remove test suffix from test names
  units/src/fee_rate.rs
Labels: C-units

#3606 Deprecate function
  bitcoin/src/blockdata/transaction.rs
  units/src/weight.rs
Labels: C-bitcoin, C-units, port-0.32.x

#3621 Remove Amount::fmt_value_in
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: API break, C-units

#3582 Re-design and move `Block` to `primitives`
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/pow.rs
  fuzz/fuzz_targets/bitcoin/deserialize_block.rs
  primitives/src/block.rs
  primitives/src/lib.rs
Labels: API break, C-bitcoin, test, C-primitives

#3614 Add test case
  units/src/fee_rate.rs
Labels: C-units

#3378 Release tracking PR: `primitives 0.101.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  primitives/CHANGELOG.md
  primitives/Cargo.toml
  primitives/src/lib.rs
Labels: API break, C-bitcoin, doc, C-primitives

#3623 backport: Deprecate Amount::fmt_value_in
  units/src/amount.rs
Labels: C-units

#3611 Hashes: Make `hex` dependency optional
  .github/workflows/rust.yml
  bitcoin/Cargo.toml
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  hashes/Cargo.toml
  hashes/embedded/Cargo.toml
  hashes/embedded/src/main.rs
  hashes/src/hmac.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/macros.rs
  hashes/src/sha256.rs
  hashes/src/sha256t.rs
  hashes/tests/io.rs
  hashes/tests/regression.rs
  primitives/Cargo.toml
  primitives/src/block.rs
  primitives/src/merkle_tree.rs
  primitives/src/taproot.rs
  primitives/src/transaction.rs
Labels: ci, C-bitcoin, C-hashes, test, C-primitives

#3625 Rename tests that have _test suffix
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/network/mod.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
Labels: C-bitcoin

#3627 Mark functions `const` in `fee_rate`
  units/src/fee_rate.rs
Labels: C-units

#3636 Mark `checked_` functions as `const`
  bitcoin/src/psbt/mod.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units

#3641 Fix documentation of Xpub::identifier
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#3637 README: Fix Kani badge and update `no-std` details
  README.md
Labels: doc

#3640 address: Add `Address::into_unchecked`
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#3639 units: Add integration test of API surface
  units/tests/api.rs
Labels: C-units, test

#3655 Manually backport 3640
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#3657 Re-export bech32 crate
  bitcoin/src/lib.rs
Labels: C-bitcoin

#3656 Fix typo in hash tag type
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#3653 Deprecate iwp weight
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#3662 backport: Re-export bech32 crate
  bitcoin/src/lib.rs
Labels: C-bitcoin

#3667 Fix psbt fuzz crash
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/data/psbt_fuzz1.hex
  bitcoin/tests/data/psbt_fuzz2.hex
Labels: C-bitcoin, test

#3643 Account for data pushing opcodes in `is_standard_op_return`
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/policy.rs
Labels: C-bitcoin

#3660 Update `from_next_work_required` to take an i64 for timespan
  bitcoin/src/network/params.rs
  bitcoin/src/pow.rs
Labels: C-bitcoin

#3663 Fix internal weight calculation
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#3642 Add p2wpkh address creation example
  bitcoin/Cargo.toml
  bitcoin/examples/create-p2wpkh-address.rs
Labels: C-bitcoin

#3670 Remove duplicate test case
  bitcoin/src/blockdata/script/tests.rs
Labels: C-bitcoin

#3672 units: Remove serde from amounts
  bitcoin/src/crypto/sighash.rs
  primitives/src/transaction.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units, C-primitives

#3659 Add string regression tests in leaf crates
  units/tests/str.rs
Labels: C-units, test

#3680 units: Test C-COMMON-TRAITS
  units/tests/api.rs
Labels: C-units, test

#3673 units: Close the hex parse errors
  bitcoin/src/lib.rs
  units/src/parse.rs
  units/tests/api.rs
Labels: API break, C-bitcoin, C-units, test

#3677 units: Implement `iter::Sum` for all types that implement `ops::Add`
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/block.rs
  units/src/fee_rate.rs
Labels: C-units

#3681 hashes: Documents C-QUESTION-MARK
  hashes/src/lib.rs
Labels: C-hashes
