Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-04, with the labels that each got.

#2632 internals: Release tracking PR `v0.3.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  bitcoin/Cargo.toml
  contrib/run_task.sh
  internals/CHANGELOG.md
  internals/Cargo.toml
  units/Cargo.toml
Labels: P-high, C-bitcoin, C-units, C-internals, test, doc, C-base58

#2581 Implement ArbitraryOrd for relative::LockTime
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/locktime/relative.rs
  bitcoin/src/lib.rs
Labels: P-high, C-bitcoin

#2337 Add check to max difficulty transition threshold
  bitcoin/src/blockdata/block.rs
  bitcoin/src/consensus/params.rs
  bitcoin/src/lib.rs
  bitcoin/src/pow.rs
  hashes/src/lib.rs
  internals/src/lib.rs
  io/src/lib.rs
  units/src/lib.rs
Labels: API break, P-high, C-bitcoin, C-hashes, C-units, C-internals, C-io

#2514 Add hex parsing to `pow` types
  bitcoin/src/pow.rs
  units/src/parse.rs
Labels: P-high, C-bitcoin, C-units

#2636 Upgrade secp dependency
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
  contrib/run_task.sh
Labels: P-high, C-bitcoin, test

#2650 Improve docs in pow module
  bitcoin/src/pow.rs
Labels: P-high, C-bitcoin, doc

#2651 units: Release tracking PR: `0.1.0` - BOOM!
  units/CHANGELOG.md
  units/src/lib.rs
Labels: P-high, C-units, doc

#2541 Reduce usage of `Network` in the public API
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/params.rs
  bitcoin/src/lib.rs
  bitcoin/src/network.rs
  bitcoin/src/p2p/mod.rs
Labels: P-high, C-bitcoin, test

#2658 Use pinned nightly in all the tools
  .github/workflows/rust.yml
  githooks/pre-commit
  justfile
  nightly-version
Labels: ci

#2652 psbt: Return internal key for key path spend
  bitcoin/src/psbt/mod.rs
Labels: P-high, C-bitcoin

#2655 units: Release tracking PR: `0.1.1`
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  bitcoin/Cargo.toml
  units/CHANGELOG.md
  units/Cargo.toml
Labels: bug, C-bitcoin, C-units, doc, C-base58

#2657 bitcoin: Release tracking PR: `v0.32.0-rc1` - oh yeah!
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
Labels: P-high, C-bitcoin, C-units, doc, C-base58

#2667 Remove deprecated legacy numeric methods
  bitcoin/src/bip152.rs
  bitcoin/src/consensus/encode.rs
  io/src/lib.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
Labels: C-bitcoin, C-units, C-io

#2669 Minor fixes for latest rustc nightly
  .github/workflows/cron-daily-update-nightly.yml
  bitcoin/tests/psbt-sign-taproot.rs
Labels: ci, C-bitcoin, C-units, C-io, test

#2676 Improve deprecation notice
  bitcoin/src/blockdata/script/borrowed.rs
Labels: C-bitcoin, port-0.32.x

#2677 Allow m prefix in derivation paths
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/tests/psbt-sign-taproot.rs
Labels: port-0.32.x

#2686 Fix kani codegen CI job
  .github/workflows/rust.yml
  units/src/amount.rs
Labels: ci, C-units

#2684 Allow m prefix in derivation paths
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/tests/psbt-sign-taproot.rs
Labels: C-bitcoin, test

#2692 Add docs for custom signets
  bitcoin/src/consensus/params.rs
Labels: C-bitcoin

#2695 Allow deprecated Params field
  bitcoin/src/consensus/params.rs
Labels: C-bitcoin

#2696 Fix example spend amount
  bitcoin/examples/sign-tx-segwit-v0.rs
Labels: C-bitcoin

#2700 Fix kani test
  units/src/amount.rs
Labels: C-units

#2685 Add backport section to contributing docs
  CONTRIBUTING.md
Labels: doc

#2699 Set release version in deprecated attribute
  bitcoin/src/consensus/params.rs
  bitcoin/src/pow.rs
Labels: P-high, C-bitcoin, port-0.32.x

#2710 Document the *_encode_signing_data_to functions
  bitcoin/src/crypto/sighash.rs
Labels: C-bitcoin

#2709 CI: Run kani daily job with latest version
  .github/workflows/rust.yml
Labels: ci

#2705 Set release version in deprecated attribute
  bitcoin/src/consensus/params.rs
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2706 bitcoin: Release tracking PR: `v0.32.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
Labels: C-bitcoin, doc

#2716 docs: Make rustdoc imports more terse
  hashes/src/lib.rs
Labels: C-hashes

#2720 CI: Enable sync-labels for labeler
  .github/workflows/manage-pr.yml
Labels: ci

#2721 bitcoin: Upgrade base64 dependency
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
Labels: API break, C-bitcoin

#2718 bitcoin: Stop slicing hashes
  bitcoin/src/address/mod.rs
  bitcoin/src/crypto/sighash.rs
Labels: C-bitcoin

#2726 chore: format and standardize all markdowns files
  base58/README.md
  bitcoin/tests/data/README.md
  bitcoin/tests/data/serde/README.md
  fuzz/README.md
  hashes/README.md
  hashes/extended_tests/schemars/README.md
  internals/README.md
  io/README.md
  logo/README.md
  units/README.md
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, test, doc, C-base58

#2633 CI: Re-write `run_task.sh`
  .github/workflows/rust.yml
  base58/contrib/test_vars.sh
  bitcoin/contrib/test_vars.sh
  contrib/run_task.sh
  hashes/contrib/test_vars.sh
  hashes/src/sha256.rs
  internals/contrib/test_vars.sh
  io/contrib/test_vars.sh
  units/contrib/test_vars.sh
Labels: ci, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-base58
