Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-03, with the labels that each got.

#2534 fix some comments
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/parse.rs
  bitcoin/src/taproot/merkle_branch.rs
Labels: C-bitcoin

#2542 Improve contributing doc
  CONTRIBUTING.md
Labels: doc

#2492 Remove the FromHexStr trait
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/error.rs
  bitcoin/src/lib.rs
  bitcoin/src/parse.rs
  bitcoin/src/pow.rs
  bitcoin/src/string.rs
Labels: P-high, C-bitcoin, C-hashes, C-units, C-io, test

#2546 Fix CJDNS marker byte check
  bitcoin/src/p2p/address.rs
Labels: C-bitcoin

#2548 tweak nightly CI update
  .github/workflows/cron-daily-update-nightly.yml
Labels: ci

#2516 Impl `From<core::convert::Infallible>` for Errors
  CONTRIBUTING.md
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  base58/src/lib.rs
  bitcoin/src/address/error.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/locktime/relative.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/consensus/validation.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/mod.rs
  internals/src/macros.rs
  io/src/error.rs
  units/src/amount.rs
Labels: ci, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, doc, C-base58

#2521 Remove link to std from rustdoc
  internals/src/error/parse_error.rs
Labels: C-internals

#2396 Add consts to Params for individual networks
  bitcoin/src/consensus/params.rs
Labels: C-bitcoin

#2562 Replaced Deprecated Function
  bitcoin/src/blockdata/script/tests.rs
Labels: C-bitcoin

#2433 Split relative locktime error up
  bitcoin/src/blockdata/locktime/relative.rs
  bitcoin/src/blockdata/transaction.rs
Labels: P-high, C-bitcoin

#2473 Upgrade to `hex v0.2.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  bitcoin/Cargo.toml
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/taproot/serialized_signature.rs
  hashes/Cargo.toml
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/util.rs
Labels: P-high, C-bitcoin, C-hashes, C-units, C-io, test, C-base58

#2573 Remove useless convertion
  units/src/amount.rs
Labels: P-high, C-units

#2572 Upgrade bitcoinconsenus
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
Labels: C-bitcoin

#2530 Improve leaf errors
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/pow.rs
  hashes/src/lib.rs
Labels: C-bitcoin, C-hashes

#2538 Add support for SHA384
  hashes/src/lib.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
Labels: C-bitcoin, C-hashes, C-base58

#2565 Removes txid prefix in transaction IDs
  bitcoin/src/blockdata/transaction.rs
  hashes/src/util.rs
Labels: C-bitcoin, C-hashes

#2576 Return error when constructing pubkey from slice
  bitcoin/src/crypto/key.rs
Labels: bug, P-high, C-bitcoin

#2458 Support signing taproot in psbt
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/bip_174.rs
  bitcoin/tests/psbt-sign-taproot.rs
Labels: C-bitcoin, test

#2563 Added more tests for PublicKey::from_str
  bitcoin/src/crypto/key.rs
Labels: C-bitcoin

#2600 CI: Disable MSAN job
  contrib/run_task.sh
Labels: test

#2569 Move types to `units`
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/locktime/relative.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  bitcoin/src/parse.rs
  bitcoin/src/pow.rs
  units/src/fee_rate.rs
  units/src/lib.rs
  units/src/locktime/absolute.rs
  units/src/locktime/mod.rs
  units/src/locktime/relative.rs
  units/src/parse.rs
  units/src/weight.rs
Labels: P-high, C-bitcoin, C-hashes, C-units, C-base58

#2603 fix: small typo in SECURITY.md
  SECURITY.md
Labels: doc

#2604 Enforce displaying Amount with trailing zeros
  units/src/amount.rs
Labels: C-units

#2596 Release tracking PR: `io v0.1.2`
  Cargo-minimal.lock
  Cargo-recent.lock
  io/CHANGELOG.md
  io/Cargo.toml
Labels: C-io, doc

#2039 Add a `consensus::deserialize_hex` function
  bitcoin/src/consensus/encode.rs
  bitcoin/src/consensus/mod.rs
  bitcoin/src/consensus/serde.rs
Labels: C-bitcoin

#2607 merkle_block: add resource limit check during deserialization
  bitcoin/src/merkle_tree/block.rs
Labels: C-bitcoin

#2582 fix: Manually implement serde traits
  units/src/lib.rs
  units/src/locktime/absolute.rs
  units/src/test_macros.rs
Labels: P-high, C-bitcoin, C-units

#2518 Re-export `address::error::P2shError` from `address` module
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#2525 ci: skip CI for things that modify only markdown files
  .github/workflows/coveralls.yml
  .github/workflows/fuzz.yml
  .github/workflows/rust.yml
  contrib/classify-pr.sh
Labels: ci

#2503 base58: Re-name crate to base58ck
  Cargo-minimal.lock
  Cargo-recent.lock
  Cargo.toml
  base58/Cargo.toml
  base58/README.md
  bitcoin/Cargo.toml
  bitcoin/embedded/Cargo.toml
Labels: P-high, C-bitcoin, doc, C-base58

#2617 Revert #2525 (filter CI)
  .github/workflows/coveralls.yml
  .github/workflows/fuzz.yml
  .github/workflows/rust.yml
  contrib/classify-pr.sh
Labels: ci

#2622 fuzz: Use path in manifest instead of version
  fuzz/Cargo.toml
Labels: test

#2578 Document how to write commits
  CONTRIBUTING.md
Labels: doc

#2549 improve relative locktime API
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/locktime/relative.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
Labels: P-high, C-bitcoin, C-units

#2619 Call is_witness_program from witness_version
  bitcoin/src/blockdata/script/borrowed.rs
Labels: C-bitcoin

#2625 Put back in deprecated dust_value
  bitcoin/src/blockdata/script/borrowed.rs
Labels: C-bitcoin

#2481 Improve base58 crate
  base58/Cargo.toml
  base58/src/error.rs
  base58/src/lib.rs
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip32.rs
  bitcoin/src/crypto/key.rs
  units/src/amount.rs
Labels: P-high, C-bitcoin, C-units, test, doc, C-base58

#2626 Replace TBD with 0.32.0
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/taproot/merkle_branch.rs
Labels: C-bitcoin

#2610 Add a validation variant to `ParseError`
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#2595 Release tracking PR: `base58ck v0.1.0`
  base58/CHANGELOG.md
Labels: P-high, C-bitcoin, C-units, doc, C-base58

#2621 Release tracking PR: `hashes v0.14.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  bitcoin/Cargo.toml
  contrib/run_task.sh
  hashes/CHANGELOG.md
  hashes/Cargo.toml
Labels: P-high, C-bitcoin, C-hashes, test, doc, C-base58

#2635 Add set -euo pipefail
  contrib/gen_label_config.sh
  contrib/release.sh
  contrib/run_task.sh
  fuzz/cycle.sh
  fuzz/fuzz.sh
  fuzz/generate-files.sh
Labels: C-hashes, test

#2640 Remove stale changelog
  CHANGELOG.md
Labels: doc
