Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-01, with the labels that each got.

#2322 Remove Push enum
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/transaction.rs
Labels: P-high

#2320 Remove `AddressInner` from rustdocs
  bitcoin/src/address/mod.rs
Labels: documentation

#2230 Add effective value calculation
  bitcoin/src/blockdata/transaction.rs
Labels: enhancement, minor API Change, one ack

#2268 Add convenience constants to `Denomination`
  units/src/amount.rs
Labels: enhancement, minor API Change, trivial

#2336 units: Enable parsing Amount from `u64::MAX`
  units/src/amount.rs
Labels: P-high, 1.0, C-units

#2383 Remove DO_COV
  .github/workflows/rust.yml
  bitcoin/contrib/test.sh
Labels: ci, C-bitcoin, test

#2393 Add kani test and remove TODO
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2381 Remove bech32 from the public API
  bitcoin/src/lib.rs
Labels: C-bitcoin

#2387 Use KnowHrp instead of Network
  bitcoin/examples/bip32.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/lib.rs
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#2382 Improve private function `use_segwit_serialization`
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#2366 Rename `txid` to `compute_txid`
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/mod.rs
Labels: ci, 1.0, C-bitcoin, C-internals

#2362 Factor out `io::Error` from sighash errors
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
Labels: API break, error handling, C-bitcoin

#2384 Remove `serde-std` from `hashes`
  hashes/Cargo.toml
  hashes/contrib/test.sh
Labels: C-hashes, test

#2388 Use hex-conservative to display pubkey
  bitcoin/src/crypto/key.rs
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2392 Add functionality to serialize signatures to a writer
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/taproot/serialized_signature.rs
Labels: C-bitcoin

#2395 Do minor error fixes
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/script/witness_version.rs
Labels: C-bitcoin

#2097 Add `Witness::p2tr_key_spend` function
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin

#2402 Remove TODOs
  bitcoin/examples/sighash.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/serialize.rs
  units/src/lib.rs
Labels: C-bitcoin, C-units

#2399 Use `Magic::BITCOIN` in unit tests
  bitcoin/src/p2p/message.rs
Labels: C-bitcoin

#2370 Improve units
  units/src/amount.rs
Labels: API break, 1.0, C-units

#2408 Provide `Amount` & co in no-alloc
  units/src/amount.rs
  units/src/lib.rs
Labels: API break, 1.0, C-units

#2410 Use `unsigned_abs` instead of manual code
  bitcoin/src/blockdata/script/mod.rs
Labels: bug, trivial, C-bitcoin

#2417 Improve lock time errors
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/parse.rs
Labels: API break, C-bitcoin
