Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-09, with the labels that each got.

#3278 Show compressed public key in Debug for CompressedPublicKey
  bitcoin/src/crypto/key.rs
Labels: bug, C-bitcoin

#3277 Automated weekly update to cargo-semver-checks (to 0.34.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#3276 fix: deprecate wrong and unused max script num
  bitcoin/src/blockdata/constants.rs
Labels: API break, C-bitcoin

#3275 Enforce that `Hash::Bytes` is an array
  hashes/src/hkdf.rs
  hashes/src/hmac.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/util.rs
Labels: 1.0, C-hashes

#3268 Fix clippy rustdocs warnings
  bitcoin/src/bip152.rs
  bitcoin/src/psbt/map/input.rs
  io/src/error.rs
  units/src/amount.rs
Labels: C-bitcoin, C-units, C-io

#3280 Remove bool from const_assert
  internals/src/macros.rs
Labels: C-internals

#3201 CI: Generate `CRATES` using shell
  .github/workflows/rust.yml
  contrib/crates.sh
Labels: ci

#3150 Create a macro that implements `to_hex` for types that have `core::fmt::LowerHex` implemented
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/p2p/mod.rs
  bitcoin/src/pow.rs
  bitcoin/src/taproot/mod.rs
  internals/src/macros.rs
  primitives/src/lib.rs
  primitives/src/pow.rs
  primitives/src/sequence.rs
Labels: C-bitcoin, C-internals, C-primitives

#3287 Move `transaction::Version` to `primitives`
  bitcoin/src/blockdata/transaction.rs
  primitives/src/lib.rs
  primitives/src/transaction.rs
Labels: API break, P-high, C-bitcoin, C-primitives

#3294 units: Fix typo in measured
  units/src/locktime/relative.rs
Labels: C-units

#3316 Automated weekly update to rustc stable (to 1.81.0)
  .github/workflows/stable-version
Labels: ci

#3286 Add additional docs to Witness
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin

#3301 Deprecate `from_slice` methods in favor of arrays
  bitcoin/src/sign_message.rs
  hashes/src/sha256t.rs
Labels: C-bitcoin, C-hashes

#3314 hashes: Use $crate in internal macros
  hashes/src/internal_macros.rs
Labels: C-hashes

#3323 Update the documentation to indicate that the Display implementation in Amount is unstable
  units/src/amount.rs
Labels: C-units

#3321 Automated weekly update to cargo-semver-checks (to 0.35.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#3308 priority: Add coinbase associated consts
  bitcoin/src/blockdata/transaction.rs
Labels: P-high, C-bitcoin

#3293 priority: Re-write (and re-name) `read_uint_iter`
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/blockdata/script/mod.rs
  internals/src/lib.rs
  internals/src/script.rs
Labels: P-high, C-bitcoin, C-internals

#3310 Shoosh linter in bench build
  base58/src/lib.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/lib.rs
  hashes/src/lib.rs
Labels: C-bitcoin, C-hashes, C-base58

#3128 hashes: Remove `io` feature
  bitcoin/Cargo.toml
  hashes/Cargo.toml
  hashes/contrib/sanitizer.sh
  hashes/contrib/test_vars.sh
  hashes/embedded/Cargo.toml
  hashes/src/hmac.rs
  hashes/src/impls.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/tests/io.rs
  hashes/tests/regression.rs
Labels: C-bitcoin, C-hashes, test

#3259 priority: Introduce and use a new `compact_size` module
  bitcoin/src/blockdata/witness.rs
  internals/src/compact_size.rs
  internals/src/lib.rs
Labels: P-high, C-bitcoin, C-internals

#3328 Add basic `miri` checks
  .github/workflows/miri.yml
  contrib/test-miri.sh
  hashes/src/siphash24.rs
  nightly-version
Labels: ci, C-hashes

#3295 internals: Fix lint warnings on macro
  internals/src/macros.rs
Labels: C-internals

#3350 Stop using deprecated `OutPoint` functions
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#3344 Deprecate `OutPoint::new` constructor
  bitcoin/src/blockdata/transaction.rs
Labels: P-high, C-bitcoin

#3351 CI: Run the nightly update job at 5 past midnight
  .github/workflows/cron-semi-weekly-update-nightly.yml
Labels: ci

#3288 priority: Move txid hash types to `primitives`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/merkle_tree/mod.rs
  primitives/Cargo.toml
  primitives/src/lib.rs
  primitives/src/transaction.rs
Labels: API break, P-high, C-bitcoin, C-primitives

#3352 hashes: Put test function in a module
  hashes/src/cmp.rs
Labels: C-hashes

#3194 priority: Prepare moving script types to `primitives`
  bitcoin/Cargo.toml
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/tests.rs
  primitives/Cargo.toml
Labels: API break, P-high, C-bitcoin, C-primitives

#3346 Add a condition for parsing zero from string when not denominated.
  units/src/amount.rs
Labels: C-units

#3357 Support `impl AsRef<[u8]>` in `signed_msg_hash`
  bitcoin/src/sign_message.rs
Labels: C-bitcoin

#3360 Improve documentation test in merkle_tree
  bitcoin/src/merkle_tree/mod.rs
Labels: C-bitcoin

#3356 Fix GetKey for sets (plus some related changes)
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/psbt-sign-taproot.rs
Labels: C-bitcoin, test

#3365 Move feature flag inside impl_to_hex_from_lower_hex macro
  internals/src/macros.rs
Labels: API break, C-internals

#3370 Document the magic bytes for witness commitment
  bitcoin/src/blockdata/block.rs
Labels: C-bitcoin

#2850 Implement GetKey for Vec<Xpriv>
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#3359 Use UFCS in macros
  bitcoin/src/internal_macros.rs
  hashes/src/internal_macros.rs
  hashes/src/serde_macros.rs
Labels: C-bitcoin, C-hashes

#3363 Implement Arbitrary for Transaction
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  primitives/Cargo.toml
  primitives/contrib/test_vars.sh
  primitives/src/locktime/absolute.rs
  primitives/src/sequence.rs
  primitives/src/transaction.rs
Labels: C-bitcoin, test, C-primitives

#3371 Add doc comment detailing fee calculation
  units/src/fee_rate.rs
Labels: C-units

#3364 Remove unused inports, and fix unused variables and methods in docs
  addresses/src/lib.rs
  base58/src/lib.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/network/params.rs
  bitcoin/src/psbt/map/input.rs
  hashes/src/lib.rs
  internals/src/lib.rs
  internals/src/macros.rs
  io/src/lib.rs
  primitives/src/lib.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  units/src/lib.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, C-primitives, C-base58, C-addresses

#3389 Ignore doc example that has a compile error
  bitcoin/src/crypto/sighash.rs
Labels: C-bitcoin

#3383 primitives: Move optional dependency to correct place
  primitives/Cargo.toml
Labels: C-primitives

#3375 Release tracking PR: `bitcoin-internals 0.4.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  bitcoin/Cargo.toml
  internals/CHANGELOG.md
  internals/Cargo.toml
  io/Cargo.toml
  primitives/Cargo.toml
  units/Cargo.toml
Labels: C-bitcoin, C-units, C-internals, C-io, doc, C-primitives, C-base58

#3298 hashes: Rename length field and use u64
  hashes/src/hash160.rs
  hashes/src/hmac.rs
  hashes/src/lib.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/siphash24.rs
  hashes/src/util.rs
Labels: API break, C-hashes

#3402 Soften wording on MSRV
  README.md
Labels: doc

#3395 Remove schemars all together
  Cargo-minimal.lock
  Cargo-recent.lock
  hashes/Cargo.toml
  hashes/contrib/extra_tests.sh
  hashes/contrib/test_vars.sh
  hashes/extended_tests/schemars/Cargo.toml
  hashes/extended_tests/schemars/README.md
  hashes/extended_tests/schemars/src/main.rs
  hashes/src/hmac.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/sha256t.rs
Labels: C-hashes, test, doc

#3381 Add FeeRate addition and subtraction traits
  units/src/fee_rate.rs
Labels: C-units

#3374 hashes: Remove unused file
  hashes/src/impls.rs
Labels: C-hashes

#3386 transaction: Remove `Default` implementations
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#3392 fix: script number overflow check for push_int
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/tests.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
Labels: C-bitcoin, test

#3391 CI: Use latest run_task version
  .github/workflows/rust.yml
Labels: ci

#3416 Release tracking PR: `bitcoin 0.32.3`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
Labels: C-bitcoin, doc

#3420 Refactor Arbitrary for Sequence
  primitives/src/sequence.rs
Labels: C-primitives

#3397 Implement Arbitrary for signature types
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
Labels: C-bitcoin

#3358 Add Xpriv::to_xpub and improve related method names
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/bip_174.rs
Labels: C-bitcoin, test

#2931 Remove `VarInt` and use `ReadExt` and `WriteExt` trait methods instead
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/mod.rs
  internals/src/compact_size.rs
Labels: API break, C-bitcoin, C-internals

#3400 Move `merkle_tree` hash types to `primitives`
  bitcoin/src/merkle_tree/mod.rs
  primitives/src/lib.rs
  primitives/src/merkle_tree.rs
Labels: API break, C-bitcoin, C-primitives

#3401 Move the `block` hash types over to `primitives`
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/pow.rs
  primitives/src/block.rs
  primitives/src/lib.rs
Labels: API break, C-bitcoin, C-primitives

#3409 Improve `witness` unit tests
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin

#3388 Move `OutPoint` to `primitives`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/transaction.rs
  primitives/Cargo.toml
  primitives/src/transaction.rs
Labels: API break, C-bitcoin, C-primitives
