Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-08, with the labels that each got.

#3113 Push up the Default bound on HashEngine in order to better support keyed hash functions
  hashes/src/hkdf.rs
  hashes/src/hmac.rs
  hashes/src/impls.rs
  hashes/src/lib.rs
  hashes/src/siphash24.rs
  hashes/tests/regression.rs
Labels: API break, C-hashes, test

#3119 Rename Siphash::as_u64 to Siphash::to_u64
  hashes/src/siphash24.rs
Labels: API break, C-hashes

#3121 bip158: Improve casting
  bitcoin/src/bip158.rs
Labels: C-bitcoin

#3122 Introduce helper function name policy
  CONTRIBUTING.md
  bitcoin/src/blockdata/script/borrowed.rs
Labels: C-bitcoin, doc

#3126 Remove catch all pattern
  bitcoin/src/blockdata/script/owned.rs
Labels: C-bitcoin

#3077 hashes: Add a new `hash_reader` function
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/sha256t.rs
Labels: C-hashes

#3127 hashes: Call through to trait methods
  hashes/src/internal_macros.rs
  hashes/src/sha256t.rs
Labels: C-hashes

#3129 hashes:: Rename const_hash functions
  hashes/src/sha256.rs
Labels: C-hashes

#3120 base58: Remove or document casts
  base58/src/lib.rs
Labels: C-base58

#3139 Remove build cfg for versions less than MSRV
  bitcoin/Cargo.toml
  bitcoin/build.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/lib.rs
  internals/Cargo.toml
  internals/build.rs
  internals/src/array_vec.rs
Labels: C-bitcoin, C-internals

#3138 Manually format
  bitcoin/src/blockdata/script/owned.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/sha256t.rs
Labels: C-bitcoin, C-hashes

#2929 Introduce `ToU64` trait
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/raw.rs
  internals/src/lib.rs
Labels: C-bitcoin, C-internals

#3137 De-sugar `self`
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/consensus_validation.rs
  bitcoin/src/internal_macros.rs
Labels: C-bitcoin

#3140 primitives: Fix alloc feature
  primitives/src/lib.rs
Labels: C-primitives

#3118 Automated weekly update to rustc stable (to 1.80.1)
  .github/workflows/stable-version
Labels: ci

#3156 impl IndexMut for PushBytes (already has Index) and fix/add docs
  bitcoin/src/blockdata/script/push_bytes.rs
Labels: C-bitcoin

#3059 Move `CompactTarget` to `primitives`
  bitcoin/src/pow.rs
  primitives/src/lib.rs
  primitives/src/pow.rs
Labels: API break, C-bitcoin, C-primitives

#3155 Extension trait for `Script`
  bitcoin/examples/sighash.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus_validation.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/psbt-sign-taproot.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
  fuzz/fuzz_targets/bitcoin/script_bytes_to_asm_fmt.rs
Labels: API break, 1.0, C-bitcoin, test

#3176 Io improvements
  io/Cargo.toml
  io/build.rs
  io/src/bridge.rs
  io/src/lib.rs
Labels: enhancement, P-high, API hole, C-io

#3167 Reduce vec macro usage
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/network/mod.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/pow.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/tests/bip_174.rs
  bitcoin/tests/serde.rs
  hashes/src/hash160.rs
  hashes/src/hmac.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
Labels: C-bitcoin, C-hashes, test

#3182 Refactor Rust version checking
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/build.rs
  internals/Cargo.toml
  internals/build.rs
  internals/src/array_vec.rs
  internals/src/const_tools.rs
  internals/src/lib.rs
  io/Cargo.toml
  io/build.rs
  io/src/bridge.rs
  io/src/lib.rs
Labels: enhancement, API break, C-bitcoin, C-internals, C-io

#3164 Extension traits for `ScriptBuf`
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/tests/bip_174.rs
  bitcoin/tests/serde.rs
Labels: P-high, C-bitcoin, test

#3200 hashes: Fix a bunch of bugs caused by broken CI script
  contrib/crates.sh
  hashes/contrib/extra_tests.sh
  hashes/extended_tests/schemars/README.md
  hashes/extended_tests/schemars/src/main.rs
  hashes/src/lib.rs
  hashes/src/sha256t.rs
  hashes/src/siphash24.rs
Labels: C-hashes, test, doc

#3188 Add blanket impl of io traits for `&mut T`
  io/src/lib.rs
Labels: API break, API hole, C-io

#3202 Document the new build script magic
  internals/build.rs
Labels: C-internals

#3184 Reduce API surface of tagged wrapped hash types
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/taproot/mod.rs
  hashes/src/sha256.rs
  hashes/src/sha256t.rs
Labels: API break, C-bitcoin, C-hashes

#3214 Panic in const context
  hashes/src/sha256.rs
  units/src/amount.rs
  units/src/weight.rs
Labels: C-hashes, C-units

#3220 Fix CI
  .github/workflows/rust.yml
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/serde_utils.rs
  contrib/crates.sh
  primitives/Cargo.toml
  primitives/contrib/test_vars.sh
Labels: ci, C-bitcoin, test, C-primitives

#3221 feat(bip158): compute canonical filter hash
  bitcoin/src/bip158.rs
Labels: C-bitcoin

#3222 Siphash24 cleanup
  hashes/src/internal_macros.rs
  hashes/src/siphash24.rs
Labels: code quality, C-hashes

#3223 Use TBD in deprecated attribute
  bitcoin/src/hash_types.rs
  hashes/src/sha256.rs
  hashes/src/sha256t.rs
Labels: C-bitcoin, C-hashes

#2972 Use index size rather than pointer size to enforce convertibility of `u32` to `usize`
  bitcoin/src/lib.rs
  internals/src/macros.rs
  units/src/lib.rs
Labels: C-bitcoin, C-units, C-internals

#3181 Io improvements backport
  .github/nightly-version
  base58/Cargo.toml
  bitcoin/Cargo.toml
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/psbt/mod.rs
  fuzz/Cargo.toml
  hashes/Cargo.toml
  internals/Cargo.toml
  io/Cargo.toml
  io/build.rs
  io/src/bridge.rs
  io/src/lib.rs
  units/Cargo.toml
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
Labels: ci, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-base58

#3216 ecdsa: Improve error types
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/serialize.rs
Labels: API break, C-bitcoin

#3015 Add Arbitrary
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/contrib/test_vars.sh
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/transaction.rs
  units/Cargo.toml
  units/contrib/test_vars.sh
  units/src/amount.rs
  units/src/fee_rate.rs
Labels: C-bitcoin, C-units, test

#3230 ci: fix cron update-cargo-semver-checks
  .github/workflows/cron-weekly-update-cargo-semver-checks.yml
Labels: ci

#3248 Bump units version
  Cargo-minimal.lock
  Cargo-recent.lock
  units/Cargo.toml
Labels: C-units

#3227 feat: remove zeroed vector by pushing front
  base58/src/lib.rs
Labels: C-base58

#3254 Introduce `TxOutExt`
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#3258 Show output of failed semver checks
  .github/workflows/semver-checks-pr-label.yml
  contrib/check-semver-feature.sh
  contrib/check-semver-pr.sh
Labels: ci, P-high

#3256 Change `T::from_str(s)` to `s.parse::<T>()`
  bitcoin/examples/bip32.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/tests/bip_174.rs
  hashes/embedded/src/main.rs
  hashes/src/serde_macros.rs
  internals/src/serde.rs
  units/src/amount.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, test

#3252 bip32: Backport without typo
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#3255 fix: re-implement `Psbt` (de)serialization from/to readers/writers
  bitcoin/src/psbt/serialize.rs
Labels: C-bitcoin

#3257 Add Arbitrary to Weight
  units/src/weight.rs
Labels: C-units

#3204 Do many cleanups (and bug fix)
  bitcoin/src/pow.rs
  hashes/Cargo.toml
  hashes/src/hash160.rs
  hashes/src/hkdf.rs
  hashes/src/hmac.rs
  hashes/src/impls.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/siphash24.rs
  hashes/src/util.rs
Labels: C-bitcoin, C-hashes

#3272 Fix bug in `ArrayVec::extend_from_slice`
  internals/src/array_vec.rs
Labels: C-internals

#3274 Add Arbitrary to SignedAmount type
  units/src/amount.rs
Labels: C-units

#3271 Move import inside feature gate
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin

#3215 Improve const_assert
  bitcoin/src/lib.rs
  internals/src/lib.rs
  internals/src/macros.rs
Labels: C-bitcoin, C-internals
