Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-05, with the labels that each got.

#2693 Fix typo in deprecated type
  bitcoin/src/bip32.rs
Labels: C-bitcoin, port-0.31.x

#2734 fix(typo): examples/ecdsa-psbt.rs
  bitcoin/examples/ecdsa-psbt.rs
Labels: C-bitcoin

#2737 fuzz: Update generate-files.sh
  fuzz/generate-files.sh
Labels: test

#2662 hashes: Do not import str
  hashes/src/hash160.rs
  hashes/src/internal_macros.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/siphash24.rs
Labels: C-hashes

#2744 CI: Update nightly semi-weekly
  .github/workflows/cron-semi-weekly-update-nightly.yml
Labels: ci

#2746 hashes: Modify trait bounds
  bitcoin/src/bip32.rs
  bitcoin/src/psbt/map/input.rs
  hashes/src/hmac.rs
  hashes/src/lib.rs
Labels: C-bitcoin, C-hashes

#2707 Default to forward for tagged hashes
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/taproot/mod.rs
  hashes/CHANGELOG.md
  hashes/src/sha256t.rs
Labels: API break, one ack, release notes mention, C-bitcoin, C-hashes, doc

#2736 CI: Use run_task from maintainer tools
  .github/workflows/README.md
  .github/workflows/rust.yml
  contrib/crates.sh
  contrib/get_matrix.sh
  contrib/run_task.sh
  contrib/test_vars.sh
  hashes/contrib/sanitizer.sh
  hashes/contrib/test_vars.sh
  hashes/contrib/wasm.sh
Labels: ci, C-hashes, test, doc

#2759 Bench `base58` encoding and remove `SmallVec` to improve perf
  base58/src/lib.rs
Labels: C-base58

#2762 ci: shellcheck checks
  .github/workflows/shellcheck.yml
  base58/contrib/test_vars.sh
  bitcoin/contrib/test_vars.sh
  bitcoin/embedded/scripts/env.sh
  contrib/crates.sh
  contrib/gen_label_config.sh
  contrib/release.sh
  contrib/test_vars.sh
  fuzz/cycle.sh
  fuzz/fuzz.sh
  fuzz/generate-files.sh
  githooks/pre-commit
  hashes/contrib/test_vars.sh
  hashes/embedded/scripts/env.sh
  internals/contrib/test_vars.sh
  io/contrib/test_vars.sh
  units/contrib/test_vars.sh
Labels: ci, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-base58

#2761 psbt: documentation examples for PsbtSighashType
  bitcoin/src/psbt/map/input.rs
Labels: C-bitcoin

#2760 bip32: derive_xpriv should not return a Result
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/bip_174.rs
Labels: C-bitcoin, test

#2729 bitcoin: Set version number
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
Labels: C-bitcoin

#2740 Add difficulty adjustment calculation
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2774 Use concrete type for all_zeros call
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/p2p/message_blockdata.rs
Labels: C-bitcoin

#2772 Removed //! spare line at end of headers
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/locktime/mod.rs
  bitcoin/src/blockdata/locktime/relative.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/opcodes.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/consensus/mod.rs
  bitcoin/src/crypto/mod.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/p2p/message_bloom.rs
  bitcoin/src/p2p/message_compact_blocks.rs
  bitcoin/src/p2p/message_filter.rs
  bitcoin/src/p2p/message_network.rs
  bitcoin/src/policy.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/src/test_macros.rs
Labels: C-bitcoin

#2776 Fix rustdoc header format
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#2775 p2p: Cleanup test imports
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/p2p/message_network.rs
Labels: C-bitcoin

#2713 Check for changes to the public API
  .github/workflows/rust.yml
  CONTRIBUTING.md
  api/README.md
  api/base58/default-features.txt
  api/base58/no-features.txt
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  api/io/all-features.txt
  api/io/alloc-only.txt
  api/io/no-features.txt
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  contrib/check-for-api-changes.sh
  justfile
Labels: ci, doc

#2520 policy: Introduce error type re-export policy
  CONTRIBUTING.md
Labels: 1.0, error handling, doc

#2780 CI: Fix workflow quotes
  .github/workflows/rust.yml
Labels: ci

#2782 Format the `pow` module
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2519 policy: Mention format of error variants
  CONTRIBUTING.md
Labels: trivial, doc

#2789 Removed spare line at end of headers in hashes crate
  hashes/src/hash160.rs
  hashes/src/hmac.rs
  hashes/src/impls.rs
  hashes/src/ripemd160.rs
  hashes/src/serde_macros.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha512.rs
  hashes/src/siphash24.rs
Labels: C-hashes

#2791 Removed spare line at end of headers in units crate
  units/src/amount.rs
Labels: C-units

#2754 Document CompactTarget order/equality
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2786 hashes: Add regression tests
  hashes/tests/regression.rs
Labels: C-hashes, test

#2773 reduce two-ACK requirement to one-ACK requirement
  CONTRIBUTING.md
Labels: doc

#2785 Whitelist cfg attrs and bump nightly version
  base58/Cargo.toml
  bitcoin/Cargo.toml
  bitcoin/src/crypto/key.rs
  fuzz/Cargo.toml
  hashes/Cargo.toml
  internals/Cargo.toml
  io/Cargo.toml
  nightly-version
  units/Cargo.toml
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-base58

#2792 Header change from arguments to parameters
  bitcoin/examples/sighash.rs
  bitcoin/src/blockdata/transaction.rs
  internals/src/error/parse_error.rs
Labels: C-bitcoin, C-internals

#2796 Enable getting the witness program from an address
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/address/mod.rs
Labels: C-bitcoin, port-0.32.x

#2586 Hard code genesis script bytes instead of hex
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#2765 Flesh out hex unit parsing API
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  api/units/all-features.txt
  api/units/alloc-only.txt
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/error.rs
  bitcoin/src/lib.rs
  bitcoin/src/pow.rs
  units/src/locktime/absolute.rs
  units/src/parse.rs
Labels: C-bitcoin, C-units

#2803 fuzz: delete CBOR test
  .github/workflows/cron-daily-fuzz.yml
  Cargo-minimal.lock
  Cargo-recent.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/hashes/cbor.rs
  fuzz/generate-files.sh
Labels: ci, test

#2798 Standardize rustdoc subheadings
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/consensus/validation.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/src/taproot/merkle_branch.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/src/taproot/serialized_signature.rs
  internals/src/macros.rs
  units/src/amount.rs
  units/src/locktime/absolute.rs
Labels: C-bitcoin, C-units, C-internals

#2804 Enable getting the witness program from an address
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#2795 Make `Address:p2sh_from_hash` public
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/address/mod.rs
Labels: C-bitcoin, port-0.32.x

#2806 Make Address:p2sh_from_hash public
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#2808 Add an `AddressData` type
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/address/mod.rs
Labels: P-high, C-bitcoin, port-0.32.x

#2809 doc: fix "lazy line continuations" in markdown
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/tests/bip_174.rs
Labels: C-bitcoin, test

#2755 Fix units public re-exports
  units/src/lib.rs
Labels: C-units

#2585 Improve array macros
  bitcoin/src/bip152.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/psbt/serialize.rs
  internals/src/macros.rs
Labels: C-bitcoin, C-internals

#2715 psbt: Use macro to hash instead of relying on `Hash` trait
  bitcoin/src/psbt/macros.rs
  bitcoin/src/psbt/map/input.rs
Labels: P-high, one ack, C-bitcoin

#2807 Release tracking PR: `v0.32.1`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
Labels: C-bitcoin, doc

#2615 units: Add BlockHeight and BlockInterval types
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  api/units/all-features.txt
  api/units/alloc-only.txt
  bitcoin/src/consensus/params.rs
  bitcoin/src/lib.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_filter.rs
  units/src/block.rs
  units/src/lib.rs
Labels: C-bitcoin, C-units

#2815 Add `const` modifier to `Magic::from_bytes`
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/p2p/mod.rs
Labels: C-bitcoin

#2818 CI: Remove shebang from non-executable scripts
  base58/contrib/test_vars.sh
  bitcoin/contrib/test_vars.sh
  contrib/crates.sh
  contrib/test_vars.sh
  hashes/contrib/test_vars.sh
  internals/contrib/test_vars.sh
  io/contrib/test_vars.sh
  units/contrib/test_vars.sh
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-base58

#2644 Add HKDF to bitcoin_hashes
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  hashes/src/hkdf.rs
  hashes/src/lib.rs
Labels: C-hashes
