Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-10, with the labels that each got.

#3428 CI fixes for latest nightly
  bitcoin/src/p2p/message_network.rs
  bitcoin/src/serde_utils.rs
  hashes/src/serde_macros.rs
  internals/src/parse.rs
Labels: C-bitcoin, C-hashes, C-internals

#3410 Fix buggy cfg in rustdocs
  hashes/src/lib.rs
Labels: C-hashes

#3429 Rename Midstate::into_parts to Midstate::to_parts since it derives Copy
  hashes/src/sha256.rs
Labels: API break, C-hashes

#3408 Prepare `Witness`
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin

#3117 Release tracking PR: `bitcoin-units 0.2.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  primitives/Cargo.toml
  units/CHANGELOG.md
  units/Cargo.toml
Labels: C-bitcoin, C-units, doc, C-primitives

#3376 Release tracking PR: `bitcoin-io v0.2.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  hashes/Cargo.toml
  io/CHANGELOG.md
  io/Cargo.toml
  primitives/Cargo.toml
Labels: C-bitcoin, C-hashes, C-io, doc, C-primitives

#2945 Support Testnet4 Network
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/lib.rs
  bitcoin/src/network/mod.rs
  bitcoin/src/network/params.rs
  bitcoin/src/p2p/mod.rs
  bitcoin/tests/psbt-sign-taproot.rs
Labels: API break, C-bitcoin, test

#3440 Add stricter rustdoc requirement to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: doc

#3439 sequence: clarify sequence constant name and add FINAL
  primitives/src/sequence.rs
Labels: C-primitives

#3443 Input weight prediction helpers for nested P2WPKH
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#3451 Remove unnecessary lifetime
  internals/src/error/input_string.rs
Labels: C-internals

#3449 Fix fuzztest failure
  hashes/src/ripemd160.rs
  hashes/src/util.rs
Labels: C-hashes

#3430 Add checked div by weight to amount
  units/src/amount.rs
  units/src/fee_rate.rs
Labels: C-units

#3437 Move `block::Version` to primitives
  bitcoin/src/blockdata/block.rs
  primitives/src/block.rs
Labels: API break, C-bitcoin, C-primitives

#3296 Remove the `SliceIndex` implementation from hash types
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  base58/src/lib.rs
  bitcoin/Cargo.toml
  bitcoin/contrib/whitelist_deps.sh
  bitcoin/src/bip152.rs
  bitcoin/src/bip32.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/p2p/message.rs
  fuzz/fuzz_targets/hashes/ripemd160.rs
  fuzz/fuzz_targets/hashes/sha1.rs
  fuzz/fuzz_targets/hashes/sha256.rs
  fuzz/fuzz_targets/hashes/sha512.rs
  fuzz/fuzz_targets/hashes/sha512_256.rs
  hashes/Cargo.toml
  hashes/src/cmp.rs
  hashes/src/hash160.rs
  hashes/src/internal_macros.rs
  hashes/src/ripemd160.rs
  hashes/src/serde_macros.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/siphash24.rs
  hashes/src/util.rs
  primitives/Cargo.toml
Labels: C-bitcoin, C-hashes, test, C-primitives, C-base58

#3432 fmt: Use style_edition = 2021
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/p2p/message.rs
  internals/src/compact_size.rs
  primitives/src/lib.rs
  primitives/src/transaction.rs
  rustfmt.toml
Labels: C-bitcoin, C-internals, C-primitives

#3455 Use new Sequence::ENABLE_RBF_AND_LOCKTIME
  primitives/src/sequence.rs
Labels: C-primitives

#3438 Implement Arbitrary for Block
  bitcoin/src/blockdata/block.rs
  primitives/src/block.rs
Labels: C-bitcoin, C-primitives

#3457 Fix unused import
  bitcoin/src/blockdata/transaction.rs
  primitives/src/transaction.rs
Labels: C-bitcoin, C-primitives

#3450 Add version three variant to transaction version
  bitcoin/src/blockdata/transaction.rs
  primitives/src/transaction.rs
Labels: C-bitcoin, C-primitives

#3459 feat: replace ENABLE_RBF_NO_LOCKTIME with ENABLE_LOCKTIME_AND_RBF
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  primitives/src/sequence.rs
Labels: C-bitcoin, C-primitives

#3461 Remove unused import
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#3456 feat: add sign fn for sign_message
  bitcoin/src/sign_message.rs
Labels: C-bitcoin

#3431 Move script types to `primitives`
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/tests.rs
  primitives/Cargo.toml
  primitives/src/lib.rs
  primitives/src/script/borrowed.rs
  primitives/src/script/mod.rs
  primitives/src/script/owned.rs
Labels: API break, C-bitcoin, C-primitives

#3460 Add tests for block version
  primitives/src/block.rs
Labels: C-primitives

#3354 Enable attribute `deprecated_in_future`
  addresses/src/lib.rs
  base58/src/lib.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/macros.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot/merkle_branch.rs
  bitcoin/src/taproot/mod.rs
  hashes/src/hmac.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/serde_macros.rs
  hashes/src/util.rs
  internals/src/lib.rs
  primitives/src/lib.rs
  units/src/lib.rs
Labels: API break, C-bitcoin, C-hashes, C-units, C-internals, C-primitives, C-base58, C-addresses

#3417 Update CHANGELOG files
  bitcoin/CHANGELOG.md
Labels: C-bitcoin, doc

#3426 Update lock files and downgrade minimum arbitrary
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
Labels: C-bitcoin

#2906 psbt: Encode keytype as a compact size unsigned integer
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/tests/data/serde/proprietary_key_bincode
  bitcoin/tests/data/serde/psbt_bincode
  bitcoin/tests/data/serde/raw_pair_bincode
  bitcoin/tests/serde.rs
Labels: API break, C-bitcoin, test

#3382 Clear all lint errors and warnings
  base58/Cargo.toml
  bitcoin/Cargo.toml
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip152.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/tests/bip_174.rs
  bitcoin/tests/psbt-sign-taproot.rs
  fuzz/Cargo.toml
  hashes/Cargo.toml
  internals/Cargo.toml
  io/Cargo.toml
  io/src/error.rs
  io/src/lib.rs
  nightly-version
  units/Cargo.toml
  units/src/amount.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-base58

#3473 Fix lint errors
  bitcoin/src/sign_message.rs
  io/src/lib.rs
  units/src/fee_rate.rs
Labels: C-bitcoin, C-units, C-io

#3475 Unify deprecated note field format
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/hash_types.rs
  bitcoin/src/network/params.rs
  bitcoin/src/p2p/mod.rs
  bitcoin/src/pow.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/merkle_branch.rs
  hashes/src/sha256.rs
  hashes/src/sha256t.rs
  primitives/src/sequence.rs
  units/src/amount.rs
Labels: C-bitcoin, C-hashes, C-units, C-primitives

#3474 Remove `allow_unused` flag in serde
  bitcoin/src/consensus/serde.rs
Labels: C-bitcoin

#3471 Make changelogs more discoverable
  CHANGELOG.md
  README.md
Labels: doc

#3379 bitcoin: Allow deprecated
  bitcoin/src/lib.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-base58

#3476 Contributing: Add section about release versions and deprecation
  CONTRIBUTING.md
Labels: doc

#2960 Add the ChaCha20Poly1305 AEAD algorithm
  Cargo-minimal.lock
  Cargo-recent.lock
  Cargo.toml
  chacha20_poly1305/Cargo.toml
  chacha20_poly1305/README.md
  chacha20_poly1305/contrib/test_vars.sh
  chacha20_poly1305/src/chacha20.rs
  chacha20_poly1305/src/lib.rs
  chacha20_poly1305/src/poly1305.rs
Labels: test, doc, C-chacha20_poly1305

#3173 [0.32] Bound decode methods on `Read`, rather than `BufRead`
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/p2p/message_bloom.rs
  bitcoin/src/p2p/message_network.rs
  bitcoin/src/p2p/mod.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/macros.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/raw.rs
Labels: C-bitcoin

#3472 test: add test for new sign fn
  bitcoin/src/sign_message.rs
Labels: C-bitcoin

#3468 Move `block::Header` to `primitives`
  bitcoin/src/blockdata/block.rs
  bitcoin/src/pow.rs
  primitives/src/block.rs
Labels: API break, C-bitcoin, C-primitives

#3478 bitcoin: Set version to `0.33.0-alpha`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
Labels: C-bitcoin

#3488 refactor: compute recid in a single line
  bitcoin/src/sign_message.rs
Labels: C-bitcoin

#3406 Move `Witness` to `primitives`
  Cargo-minimal.lock
  Cargo-recent.lock
  README.md
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/src/blockdata/witness.rs
  internals/Cargo.toml
  internals/src/serde.rs
  primitives/Cargo.toml
  primitives/README.md
  primitives/src/lib.rs
  primitives/src/witness.rs
Labels: API break, C-bitcoin, C-internals, doc, C-primitives

#3492 Automated weekly update to cargo-semver-checks (to 0.36.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#3493 Make `Amount::to_sat` and `SignedAmount::to_sat` const
  units/src/amount.rs
Labels: C-units

#3496 Expose units::amount::ParseError
  bitcoin/src/lib.rs
Labels: C-bitcoin

#3494 backport 2740 (diff adjustment) to 0.32
  bitcoin/src/pow.rs
Labels: C-bitcoin

#3284 Add a few unit tests for Sequence
  primitives/src/sequence.rs
Labels: C-primitives

#3498 Seal extension traits
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus_validation.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/pow.rs
Labels: API break, C-bitcoin

#3418 CI: Copy main workflow from master
  .github/workflows/README.md
  .github/workflows/rust.yml
  contrib/crates.sh
  hashes/contrib/sanitizer.sh
  hashes/contrib/wasm.sh
Labels: ci, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, doc, C-base58

#3477 Polish the `hashes` crate
  hashes/src/hash160.rs
  hashes/src/hmac.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/siphash24.rs
  hashes/src/util.rs
Labels: API break, C-hashes

#3500 Move `taproot` hash types to `primitives`
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/taproot/mod.rs
  primitives/src/lib.rs
  primitives/src/taproot.rs
Labels: API break, C-bitcoin, C-primitives

#3481 Decode an address string based on prefix
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
Labels: API break, C-bitcoin

#3505 CI: Hobble WASM job
  hashes/contrib/wasm.sh
Labels: C-hashes

#3504 Remove unnecessary lifetimes
  internals/src/serde.rs
Labels: C-internals

#3487 Move `TxIn` and `TxOut` to `primitives`
  bitcoin/src/blockdata/transaction.rs
  primitives/src/lib.rs
  primitives/src/transaction.rs
Labels: API break, C-bitcoin, C-primitives

#3514 Remove unnecessary lifetimes
  hashes/src/serde_macros.rs
Labels: C-hashes

#3485 Automated weekly update to rustc stable (to 1.82.0)
  .github/workflows/stable-version
Labels: ci

#3522 Elide more lifetimes
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/network/mod.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/pow.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/taproot/mod.rs
  nightly-version
  primitives/src/locktime/absolute.rs
  primitives/src/script/mod.rs
  primitives/src/witness.rs
Labels: C-bitcoin, C-primitives

#3045 Remove `bech32` from `address::ParseError`
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#3497 Explicitly re-export stuff from crates down the stack
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/mod.rs
  primitives/src/lib.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-bitcoin, C-primitives

#3509 Release tracking PR: `bitcoin 0.32.4`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
  bitcoin/src/blockdata/constants.rs
  hashes/contrib/wasm.sh
Labels: C-bitcoin, C-hashes, doc

#3299 hashes: Remove `utils` module
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/macros.rs
  hashes/src/serde_macros.rs
Labels: API break, C-hashes

#3520 Use fully qualified path in macro
  bitcoin/src/psbt/macros.rs
  bitcoin/src/psbt/map/input.rs
Labels: C-bitcoin

#3519 psbt: Fix bug in Subtype consensus_encode
  bitcoin/src/psbt/raw.rs
Labels: C-bitcoin

#3480 bitcoin: Add some upgrade notes
  bitcoin/CHANGELOG.md
Labels: C-bitcoin, doc

#3523 Add API for extracting the inner payload of RawNetworkMessage
  bitcoin/src/p2p/message.rs
Labels: C-bitcoin

#3528 hashes: Make more effort with the macros docs
  hashes/src/hmac.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/macros.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256t.rs
  hashes/src/sha512.rs
  hashes/src/siphash24.rs
Labels: C-hashes

#3510 Move `Transaction` to `primitives`
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus_validation.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
  fuzz/fuzz_targets/bitcoin/deserialize_transaction.rs
  hashes/src/siphash24.rs
  primitives/src/lib.rs
  primitives/src/transaction.rs
Labels: API break, C-bitcoin, C-hashes, test, C-primitives

#3525 Release tracking PR: `chacha20-poly1305` v0.1.0
  chacha20_poly1305/CHANGELOG.md
Labels: doc, C-chacha20_poly1305

#3536 Use `doc(notable_trait)`
  bitcoin/src/internal_macros.rs
  bitcoin/src/lib.rs
Labels: C-bitcoin

#3533 base58: Close all errors
  base58/src/error.rs
  base58/src/lib.rs
Labels: API break, C-base58

#3537 Fix macro feature gate
  internals/src/macros.rs
  primitives/src/pow.rs
  primitives/src/script/mod.rs
  primitives/src/sequence.rs
Labels: C-internals, C-primitives

#3543 Bump hex-conservative to 0.3.0
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  bitcoin/Cargo.toml
  bitcoin/src/consensus/serde.rs
  chacha20_poly1305/Cargo.toml
  hashes/Cargo.toml
  internals/Cargo.toml
  primitives/Cargo.toml
Labels: C-bitcoin, C-hashes, C-internals, C-primitives, C-base58, C-chacha20_poly1305

#3545 Add no_std flag to the chacha20-poly1305 crate
  chacha20_poly1305/src/chacha20.rs
  chacha20_poly1305/src/lib.rs
  chacha20_poly1305/src/poly1305.rs
Labels: C-chacha20_poly1305

#3547 Remove more wildcard re-exports
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  primitives/src/script/mod.rs
Labels: C-bitcoin, C-primitives
