Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-06, with the labels that each got.

#2819 docs: Add more info to the update api files section
  CONTRIBUTING.md
Labels: doc

#2535 Move `read_scriptint` to `PushBytes` & create `read_int` function
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/blockdata/script/tests.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
Labels: C-bitcoin, test

#2828 fuzz: add more coverage for `deserialize_block`
  fuzz/fuzz_targets/bitcoin/deserialize_block.rs
Labels: test

#2747 bitcoin: Add PSBT multiple inputs examples
  bitcoin/Cargo.toml
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/taproot-psbt-simple.rs
Labels: C-bitcoin

#2832 Standardized rustdoc style
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/sign_message.rs
  hashes/src/sha256t.rs
  units/src/amount.rs
Labels: C-bitcoin, C-hashes, C-units

#2837 pow: Fix off-by-one error
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2843 release 0.32.2
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
Labels: C-bitcoin, doc

#2845 fix ServiceFlags::remove
  bitcoin/src/p2p/mod.rs
Labels: C-bitcoin

#2846 generate Network <-> Magic From and TryFrom with a macro
  bitcoin/src/p2p/mod.rs
Labels: C-bitcoin

#2839 Add API for extracting the inner payload of `RawNetworkMessage`
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  bitcoin/src/p2p/message.rs
Labels: C-bitcoin

#2851 hashes: Move non-trait functions
  hashes/src/internal_macros.rs
  hashes/src/sha256t.rs
Labels: C-hashes

#2857 Remove repetition from sha256t_hash_newtype macro
  bitcoin/src/taproot/mod.rs
  hashes/src/sha256t.rs
Labels: C-bitcoin, C-hashes

#2833 Update bitcoinconsensus version to 0.106.0+26
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/src/consensus/validation.rs
Labels: C-bitcoin

#2856 bitcoin: Remove "std" feature from examples
  bitcoin/Cargo.toml
Labels: C-bitcoin

#2816 make difficulty_float general to all network
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/blockdata/block.rs
  bitcoin/src/pow.rs
Labels: C-bitcoin

#2852 Add inherent functions to hashes
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  base58/src/lib.rs
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/hash_types.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/tests/serde.rs
  fuzz/fuzz_targets/hashes/ripemd160.rs
  fuzz/fuzz_targets/hashes/sha1.rs
  fuzz/fuzz_targets/hashes/sha256.rs
  fuzz/fuzz_targets/hashes/sha512.rs
  fuzz/fuzz_targets/hashes/sha512_256.rs
  hashes/src/hash160.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha256t.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/siphash24.rs
  hashes/src/util.rs
Labels: C-bitcoin, C-hashes, test, C-base58

#2867 Link to std::error::Error
  internals/src/error/parse_error.rs
Labels: C-internals

#2868 Pass keys by value
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/embedded/src/main.rs
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/sign_message.rs
Labels: C-bitcoin

#2865 Refactor test module in `merkle_tree/block.rs`
  bitcoin/src/merkle_tree/block.rs
Labels: C-bitcoin

#2866 Run schemars test from extra_tests
  .github/workflows/README.md
  .github/workflows/rust.yml
  hashes/contrib/extra_tests.sh
Labels: ci, C-hashes, test, doc

#2794 Enforce script size limit when hashing scripts
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#2872 Update PushBytes::read_scriptint(x) to x.read_scriptint()
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/instruction.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
Labels: C-bitcoin, test

#2863 Updated workflows/README.md to mention new Shellcheck job
  .github/workflows/README.md
Labels: ci, doc

#2864 Add trait bound to Merkle tree method; fix typing
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
Labels: C-bitcoin

#2858 clarify the meaning of `Height` & `Time` based locktime.
  bitcoin/src/blockdata/locktime/absolute.rs
Labels: C-bitcoin

#2885 Remove usage of blockdata from paths
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/consensus/validation.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/network.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/p2p/message_filter.rs
  bitcoin/src/policy.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/tests/bip_174.rs
  bitcoin/tests/serde.rs
  bitcoin/tests/serde_opcodes.rs
  fuzz/fuzz_targets/bitcoin/deserialize_block.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
  fuzz/fuzz_targets/bitcoin/deserialize_transaction.rs
  fuzz/fuzz_targets/bitcoin/deserialize_witness.rs
  fuzz/fuzz_targets/bitcoin/outpoint_string.rs
Labels: C-bitcoin, test

#2893 CI: Pin cargo-public-api version
  .github/workflows/rust.yml
Labels: ci

#2878 Implement constants for `ChildNumber` enum
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#2880 Pass hash types by value
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#2887 Remove `InvalidInternalKey` variant from `TaprootBuilderError`
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#2894 Contributing: add instructions on wildcards in import statements
  CONTRIBUTING.md
Labels: doc

#2896 Move `PushBytes::read_scriptint` outside of the `private` module
  bitcoin/src/blockdata/script/push_bytes.rs
Labels: C-bitcoin

#2877 hashes: remove `all_zeros` and constify constructors
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/serialize.rs
  hashes/src/hmac.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/sha256t.rs
  hashes/src/util.rs
Labels: C-bitcoin, C-hashes

#2910 hashes: split `Hash` into `GeneralHash` and `Hash`
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/hash_types.rs
  bitcoin/src/psbt/macros.rs
  bitcoin/src/psbt/mod.rs
  hashes/embedded/src/main.rs
  hashes/src/hash160.rs
  hashes/src/hkdf.rs
  hashes/src/hmac.rs
  hashes/src/impls.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/sha256.rs
  hashes/src/sha256t.rs
  hashes/src/util.rs
  hashes/tests/regression.rs
Labels: C-bitcoin, C-hashes, test

#2870 Remove `Denomination::MilliSatoshi`
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/amount.rs
Labels: C-units

#2904 hashes: Add type alias'
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  hashes/src/lib.rs
Labels: C-hashes

#2920 Remove unnecessary braces
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#2915 Clean up manifests
  Cargo.toml
  base58/Cargo.toml
  bitcoin/Cargo.toml
  bitcoin/src/blockdata/script/push_bytes.rs
  hashes/Cargo.toml
  internals/Cargo.toml
  units/Cargo.toml
Labels: trivial, C-bitcoin, C-hashes, C-units, C-internals, C-base58

#2921 Make 'use core::fmt' calls consistent
  bitcoin/src/bip158.rs
  bitcoin/src/network.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/mod.rs
  io/src/error.rs
Labels: C-bitcoin, C-io

#2925 Fix fuzz script
  fuzz/fuzz.sh
Labels: test

#2895 Re-export UnprefixedHexError in the bitcoin crate root
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/lib.rs
Labels: C-bitcoin

#2886 taproot: Split errors up
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/taproot/merkle_branch.rs
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#2899 Pass sigs and associated types by value
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/taproot/serialized_signature.rs
Labels: C-bitcoin

#2909 bip32: add From<&'a [u32]> for DerivationPath
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#2932 Remove `bech32` dependency from `blockdata`
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/script/witness_version.rs
Labels: C-bitcoin

#2892 Remove wildcard imports
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/opcodes.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/network.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_network.rs
  bitcoin/src/p2p/mod.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/mod.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/merkle_branch.rs
  bitcoin/src/taproot/mod.rs
  hashes/src/hkdf.rs
  units/src/locktime/absolute.rs
Labels: C-bitcoin, C-hashes, C-units

#2930 Improve docs on private `Witness` fields
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin
