Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-07, with the labels that each got.

#2890 Move `serde` string macros to internals
  bitcoin/src/address/mod.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/serde_utils.rs
  internals/src/lib.rs
  internals/src/serde.rs
Labels: C-bitcoin, C-internals

#2943 Release tracking PR: `units v0.1.2`
  Cargo-minimal.lock
  Cargo-recent.lock
  units/CHANGELOG.md
  units/Cargo.toml
Labels: C-units, doc

#2916 Capitalize proper nouns
  bitcoin/CHANGELOG.md
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot/merkle_branch.rs
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin, doc

#2940 Revert "bug fix" (actually a bug) from #2655
  units/Cargo.toml
Labels: bug, C-units

#2949 OP_RETURN standardness check
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/tests.rs
Labels: C-bitcoin

#2953 Update README instructions for running MSRV
  README.md
Labels: doc

#2947 Remove fuzz rust version
  fuzz/Cargo.toml
Labels: test

#2951 Fix `Amount` decimals handling
  units/src/amount.rs
Labels: bug, C-units

#2950 Introduce empty primitives crate
  Cargo-minimal.lock
  Cargo-recent.lock
  Cargo.toml
  primitives/CHANGELOG.md
  primitives/Cargo.toml
  primitives/README.md
  primitives/contrib/test_vars.sh
  primitives/src/lib.rs
Labels: test, doc, C-primitives

#2961 bip158: Hash data instead of copying first
  bitcoin/src/bip158.rs
Labels: C-bitcoin

#2946 ci: `cargo-semver-checks`
  .github/workflows/rust.yml
  CONTRIBUTING.md
  api/README.md
  api/base58/default-features.txt
  api/base58/no-features.txt
  api/bitcoin/all-features.txt
  api/bitcoin/default-features.txt
  api/bitcoin/no-features.txt
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  api/io/all-features.txt
  api/io/alloc-only.txt
  api/io/no-features.txt
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  contrib/check-for-api-changes.sh
  contrib/check-semver.sh
  justfile
Labels: ci, doc

#2964 Remove nonsense method
  units/src/weight.rs
Labels: C-units

#2855 bitcoin: Update crate level docs
  bitcoin/Cargo.toml
  bitcoin/src/lib.rs
Labels: C-bitcoin

#2982 Add missing `ref` keyword in `p2p`
  bitcoin/src/p2p/message_blockdata.rs
Labels: C-bitcoin

#2889 Move `serde_round_trip` macro to internals
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  bitcoin/src/test_macros.rs
  internals/Cargo.toml
  internals/src/lib.rs
  internals/src/serde.rs
  units/Cargo.toml
  units/src/lib.rs
  units/src/locktime/absolute.rs
  units/src/test_macros.rs
Labels: C-bitcoin, C-units, C-internals

#2970 bip152: check if indexes do not overflow
  bitcoin/src/bip152.rs
Labels: C-bitcoin

#2957 Fix rustdocs in `units` crate
  units/src/amount.rs
  units/src/block.rs
  units/src/fee_rate.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/src/parse.rs
  units/src/weight.rs
Labels: C-units

#2969 ci: move semver-checks to its own job
  .github/workflows/rust.yml
  .github/workflows/semver-checks.yml
Labels: ci

#2990 Use super for imports in script module
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/witness_program.rs
Labels: C-bitcoin

#2989 Move opcodes to `primitives`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/embedded/Cargo.toml
  bitcoin/src/blockdata/mod.rs
  primitives/Cargo.toml
  primitives/src/lib.rs
  primitives/src/opcodes.rs
Labels: C-bitcoin, C-primitives

#2988 Add additional `HashEngine` types
  bitcoin/src/address/mod.rs
  bitcoin/src/crypto/sighash.rs
  hashes/src/hash160.rs
  hashes/src/impls.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
Labels: C-bitcoin, C-hashes

#2985 internals: Remove derive from test-serde
  internals/Cargo.toml
Labels: C-internals

#2994 Remove private prelude module from `units` crate
  units/src/lib.rs
  units/src/locktime/absolute.rs
Labels: C-units

#3002 Optimize base58 on small inputs
  base58/src/lib.rs
Labels: perf, C-base58

#3000 ci: add `all-features` semver-checks and run on rust `stable`
  .github/workflows/semver-checks.yml
  CONTRIBUTING.md
  contrib/check-semver.sh
Labels: ci, doc

#3007 Run the formatter
  bitcoin/src/bip152.rs
  units/src/locktime/absolute.rs
Labels: C-bitcoin, C-units

#2996 Add alloc feature to `base58`, `addresses`, and `primitives`
  addresses/contrib/test_vars.sh
  addresses/src/lib.rs
  base58/Cargo.toml
  base58/contrib/test_vars.sh
  base58/src/lib.rs
  bitcoin/Cargo.toml
  primitives/Cargo.toml
  primitives/contrib/test_vars.sh
  primitives/src/lib.rs
Labels: C-bitcoin, test, C-primitives, C-base58, C-addresses

#2646 Some additional inspectors on Script and Witness
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin

#3017 hashes: Use `$crate` in macro
  hashes/src/hash160.rs
  hashes/src/internal_macros.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256d.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/siphash24.rs
Labels: C-hashes

#3026 Specify required_height in variable name when comparing to other height
  bitcoin/src/blockdata/locktime/relative.rs
Labels: C-bitcoin

#2980 just: install/remove git hooks
  README.md
  contrib/copy-githooks.sh
  justfile
Labels: doc

#2955 Add scriptPubkey extension traits to script types
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#3009 Remove midstate from the `GeneralHash` and `HashEngine` traits
  hashes/src/hash160.rs
  hashes/src/hmac.rs
  hashes/src/lib.rs
  hashes/src/ripemd160.rs
  hashes/src/sha1.rs
  hashes/src/sha256.rs
  hashes/src/sha256d.rs
  hashes/src/sha384.rs
  hashes/src/sha512.rs
  hashes/src/sha512_256.rs
  hashes/src/siphash24.rs
Labels: C-hashes

#3022 Update Key documentation
  bitcoin/src/psbt/raw.rs
Labels: C-bitcoin

#2981 Remove to/from/as_raw_hash functions
  hashes/src/lib.rs
  hashes/src/util.rs
Labels: C-hashes

#3048 Rename key field in Key to key_data
  bitcoin/src/psbt/macros.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/tests/serde.rs
Labels: C-bitcoin, test

#2991 Move locktimes and `Sequence` to `primitives`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  bitcoin/src/psbt/mod.rs
  primitives/Cargo.toml
  primitives/src/lib.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/mod.rs
  primitives/src/locktime/relative.rs
  primitives/src/sequence.rs
Labels: P-high, C-bitcoin, C-primitives

#3032 Move impl above tests
  units/src/weight.rs
Labels: C-units

#3030 Rename variable assignment
  units/src/weight.rs
Labels: C-units

#3052 Throw error instead of panic when from_second_ceil input is too large
  units/src/locktime/relative.rs
Labels: C-units

#3019 Fix error messages
  bitcoin/build.rs
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/handshake.rs
  bitcoin/examples/sighash.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/mod.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/map/global.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  hashes/src/util.rs
  internals/build.rs
  units/src/amount.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals

#3047 Remove unused variable from LockTime example
  primitives/src/locktime/relative.rs
Labels: C-primitives

#3028 ci: fix semver-checks master
  .github/workflows/semver-checks-pr-label.yml
  .github/workflows/semver-checks.yml
Labels: ci

#3062 Add more unit test coverage for relative LockTime
  units/src/locktime/relative.rs
Labels: C-units

#3064 Remove public error re-export
  bitcoin/src/blockdata/transaction.rs
Labels: API break, C-bitcoin

#3058 Improve `define_extension_trait`
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/internal_macros.rs
Labels: C-bitcoin

#3067 Move `params` to the `network` module
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/mod.rs
  bitcoin/src/lib.rs
  bitcoin/src/network/mod.rs
  bitcoin/src/network/params.rs
  bitcoin/src/p2p/mod.rs
  bitcoin/src/pow.rs
Labels: API break, C-bitcoin

#3069 Remove re-export of `ParseIntError`
  bitcoin/src/blockdata/script/witness_version.rs
  units/src/lib.rs
Labels: API break, C-bitcoin, C-units

#3056 CONTRIBUTING: error/expect messages
  CONTRIBUTING.md
Labels: doc

#2936 Bump honggfuzz version
  Cargo-minimal.lock
  Cargo-recent.lock
  fuzz/Cargo.toml
Labels: test

#3083 Fix rustdocs in `blockdata`
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin

#3037 `primitives`: Re-export `units` types
  primitives/src/lib.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  units/src/lib.rs
Labels: P-high, brainstorm, C-units, C-primitives

#3065 Move `validation` module to `consensus_validation`
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/mod.rs
  bitcoin/src/consensus_validation.rs
  bitcoin/src/lib.rs
Labels: API break, C-bitcoin

#3092 Direct link to ./CONTRIBUTING.md
  README.md
Labels: doc

#3010 Add `length` field to `sha256::Midstate`
  hashes/src/sha256.rs
  hashes/src/sha256t.rs
  hashes/tests/regression.rs
Labels: API break, C-hashes, test

#3098 Make `ScriptBuf::p2wpkh_script_code` stand alone
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/crypto/key.rs
Labels: API break, P-high, C-bitcoin

#3108 Fix typo in primitives Cargo.toml
  primitives/Cargo.toml
Labels: C-primitives

#3003 ci: semver-checks for non-additive cargo features
  .github/workflows/cargo-semver-checks-version
  .github/workflows/cron-weekly-update-cargo-semver-checks.yml
  .github/workflows/cron-weekly-update-stable.yml
  .github/workflows/semver-checks-pr-label.yml
  .github/workflows/semver-checks.yml
  .github/workflows/stable-version
  contrib/check-semver-feature.sh
  contrib/check-semver-pr.sh
  io/src/error.rs
Labels: ci, API break, C-io

#3100 Bump MSRV to 1.63
  .github/workflows/rust.yml
  README.md
  addresses/Cargo.toml
  addresses/README.md
  base58/Cargo.toml
  base58/README.md
  bitcoin/Cargo.toml
  bitcoin/contrib/test_vars.sh
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/consensus_validation.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/lib.rs
  bitcoin/src/network/mod.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/raw.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/taproot/merkle_branch.rs
  bitcoin/src/taproot/mod.rs
  clippy.toml
  fuzz/generate-files.sh
  hashes/Cargo.toml
  hashes/README.md
  hashes/src/sha256t.rs
  internals/Cargo.toml
  io/Cargo.toml
  primitives/Cargo.toml
  primitives/README.md
  primitives/src/lib.rs
  primitives/src/locktime/relative.rs
  primitives/src/sequence.rs
  units/Cargo.toml
  units/README.md
Labels: ci, API break, P-medium, 1.0, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, doc, C-primitives, C-base58, C-addresses

#3096 Add validation extension to script
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/consensus_validation.rs
Labels: API break, P-high, release notes mention, C-bitcoin
