Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2024-12, with the labels that each got.

#3683 Automated weekly update to rustc stable (to 1.83.0)
  .github/workflows/stable-version
Labels: ci

#3684 refactor: remove unnecessary if block
  bitcoin/src/crypto/taproot.rs
Labels: C-bitcoin

#3686 Run nightly update bot once a week
  .github/workflows/cron-weekly-update-nightly.yml
Labels: ci

#3674 Close `amounts` error types
  units/src/amount/error.rs
  units/src/amount/mod.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
Labels: API break, C-units

#3689 Fix typo in re-export
  bitcoin/src/lib.rs
Labels: C-bitcoin

#3630 Release tracking PR: `bitcoin 0.33.0-alpha.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
  units/CHANGELOG.md
Labels: C-bitcoin, C-units, doc

#3693 Change `Amount::MAX` from `u64::MAX` to `Amount::MAX_MONEY`
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/psbt/mod.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units

#3682 Add API scripts and output files
  .github/workflows/rust.yml
  CONTRIBUTING.md
  api/README.md
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  api/io/all-features.txt
  api/io/alloc-only.txt
  api/io/no-features.txt
  api/primitives/all-features.txt
  api/primitives/alloc-only.txt
  api/primitives/no-features.txt
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  contrib/api.sh
  contrib/check-for-api-changes.sh
  justfile
Labels: ci, doc

#3706 units: test for C-SEND-SYNC
  units/tests/api.rs
Labels: C-units, test

#3699 Explicitly define Ord for NodeInfo
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#3700 Automated weekly update to cargo-semver-checks (to 0.37.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#3711 primitives: Reduce alloc requirements
  primitives/src/lib.rs
  primitives/src/sequence.rs
Labels: C-primitives

#3679 Support serde serializing Amount as string
  units/Cargo.toml
  units/src/amount/serde.rs
  units/src/amount/tests.rs
Labels: C-units

#3712 primitives: Add `must_use`
  primitives/src/block.rs
  primitives/src/lib.rs
  primitives/src/opcodes.rs
  primitives/src/script/borrowed.rs
  primitives/src/script/owned.rs
  primitives/src/witness.rs
Labels: C-primitives

#3713 io: Add lint `return_self_not_must_use`
  io/src/lib.rs
Labels: C-io

#3714 hashes: Add `must_use`
  hashes/src/lib.rs
  hashes/src/sha256.rs
Labels: API break, C-hashes

#3722 clippy: Set avoid-breaking-exported-api to false
  bitcoin/src/bip32.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/internal_macros.rs
  bitcoin/src/taproot/serialized_signature.rs
  clippy.toml
  primitives/src/locktime/relative.rs
  primitives/src/sequence.rs
  units/src/block.rs
  units/src/locktime/relative.rs
Labels: C-bitcoin, C-units, C-primitives

#3717 base58ck: Bump version to 0.2.0
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/CHANGELOG.md
  base58/Cargo.toml
  bitcoin/Cargo.toml
Labels: C-bitcoin, doc, C-base58

#3715 units: Add `must_use`
  units/src/amount/mod.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
  units/src/fee_rate.rs
  units/src/lib.rs
  units/src/locktime/relative.rs
  units/src/weight.rs
Labels: API break, C-units

#3719 Change `SignedAmount` `MAX` and `MIN` to equal +/- `MAX_MONEY`
  units/src/amount/signed.rs
  units/src/amount/tests.rs
Labels: C-units

#3733 Add additional catagories
  hashes/Cargo.toml
  internals/Cargo.toml
  primitives/Cargo.toml
  units/Cargo.toml
Labels: C-hashes, C-units, C-internals, C-primitives

#3727 units: Add _export::_core
  units/src/lib.rs
  units/src/parse.rs
Labels: API break, C-units

#3741 Clean up possibly confusing
  units/src/amount/mod.rs
Labels: C-units

#3745 Use backticks on amount types
  bitcoin/src/lib.rs
Labels: trivial, C-bitcoin

#3748 Remove ToU64 from rustdocs
  bitcoin/src/blockdata/transaction.rs
Labels: trivial, C-bitcoin

#3751 Remove unnecessary rustdocs
  bitcoin/src/blockdata/transaction.rs
Labels: trivial, C-bitcoin

#3742 Test all the valid denomination forms
  units/src/amount/tests.rs
Labels: trivial, C-units

#3738 Remove Weight::from_wu_usize function
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/transaction.rs
  units/src/weight.rs
Labels: API break, C-bitcoin, C-units

#3743 Refactor predict weight
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#3753 Update to arbitrary v1.4
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  primitives/Cargo.toml
  units/Cargo.toml
Labels: minor API Change, C-bitcoin, C-units, C-primitives

#3746 bitcoin: Improve rustdocs on extern crates
  bitcoin/src/lib.rs
Labels: trivial, C-bitcoin

#3749 Remove unnecessary type
  bitcoin/src/psbt/mod.rs
Labels: trivial, C-bitcoin

#3756 units::Amount Make rustdocs conform to the API guidelines
  units/src/amount/unsigned.rs
Labels: C-units

#3758 api: Run just check-api
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
Labels: P-high

#3723 Use Self in amount consts
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: trivial, C-units

#3737 Improve rustdocs on addresses module
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#3744 Change paramater type used for whole bitcoin
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
Labels: API break, C-units

#3740 Add `Weight::to_kwu_ceil`
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/weight.rs
Labels: minor API Change, C-units

#3739 Add units tests for cBTC
  units/src/amount/tests.rs
Labels: C-units

#3765 contrib: check if the user has cargo-public-api
  CONTRIBUTING.md
  api/README.md
  contrib/check-for-api-changes.sh
Labels: doc

#3728 units: Unify and flesh out ops impls
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/fee_rate.rs
  units/src/internal_macros.rs
  units/src/lib.rs
  units/src/weight.rs
Labels: minor API Change, C-units

#3754 Release tracking PR: `hashes 0.16.0`
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  bitcoin/Cargo.toml
  hashes/CHANGELOG.md
  hashes/Cargo.toml
  primitives/Cargo.toml
Labels: C-bitcoin, C-hashes, doc, C-primitives, C-base58

#3762 Remove double spacing in rustdocs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/p2p/mod.rs
  units/src/amount/mod.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units

#3780 Use uniform capitalisation of SegWit in rustdocs
  bitcoin/examples/bip32.rs
  bitcoin/examples/sighash.rs
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/consensus/error.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/policy.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/mod.rs
  fuzz/fuzz_targets/bitcoin/deserialize_transaction.rs
  primitives/src/transaction.rs
  primitives/src/witness.rs
Labels: C-bitcoin, test, C-primitives

#3781 Remove deprecated tests
  units/src/amount/tests.rs
Labels: C-units

#3704 units: Enable pedantic clippy lints
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/Cargo.toml
  units/src/amount/error.rs
  units/src/amount/mod.rs
  units/src/amount/serde.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/block.rs
  units/src/fee_rate.rs
  units/src/lib.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/src/parse.rs
  units/src/weight.rs
Labels: API break, C-units

#3757 Test types MIN/MAX instead of i64::MIN/i64::MAX
  units/src/amount/tests.rs
Labels: C-units

#3782 A couple of kani fixes
  internals/Cargo.toml
  internals/src/array_vec.rs
  units/src/amount/verification.rs
Labels: P-high, C-units, C-internals

#3786 units::SignedAmount make rustdocs conform to the API guidelines
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-units

#3777 Implement Arbitrary for units types
  api/units/all-features.txt
  units/src/amount/mod.rs
  units/src/block.rs
  units/src/fee_rate.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/tests/api.rs
Labels: C-units, test

#3801 units: Make `amount::error` module private
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/amount/mod.rs
  units/tests/api.rs
Labels: API break, C-units, test

#3802 Rename parameter `rhs` to `weight`
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/amount/unsigned.rs
  units/src/fee_rate.rs
Labels: C-units

#3803 Fix typos
  base58/src/lib.rs
  bitcoin/src/merkle_tree/mod.rs
  chacha20_poly1305/src/chacha20.rs
  hashes/CHANGELOG.md
  units/src/fee_rate.rs
Labels: C-bitcoin, C-hashes, C-units, doc, C-base58, C-chacha20_poly1305

#3798 refactor: use amount type
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#3769 Change method return type for to_unsigned()
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  bitcoin/src/blockdata/transaction.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units

#3812 Remove unnecessary floating code comment
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-units

#3819 hashes: Hide both macros
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  hashes/src/macros.rs
Labels: C-hashes

#3811 Introduce an unchecked constructor for the `Amount` type
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
Labels: C-units

#3828 Update to latest `rust-ordered`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  primitives/Cargo.toml
Labels: C-bitcoin, C-primitives

#3789 Add hash data to Inventory's Error variant
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
Labels: C-bitcoin
