Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-10, with the labels that each got.

#5061 units: Fix lint warnings
  primitives/src/hash_types/generic.rs
Labels: C-primitives

#5063 docs: correct crate name and link reference
  docs/crates.md
Labels: doc

#5071 docs: update deprecated hash_types::Txid imports to direct Txid imports
  bitcoin/src/merkle_tree/block.rs
Labels: C-bitcoin

#5062 fix: remove assertion in Cursor when reading past end
  io/src/lib.rs
Labels: C-io

#5057 consensus_encoding: Implement additional decoders
  consensus_encoding/src/decode/decoders.rs
  consensus_encoding/src/decode/mod.rs
  consensus_encoding/src/lib.rs
  fuzz/fuzz_targets/bitcoin/arbitrary_witness.rs
  fuzz/fuzz_targets/units/parse_int.rs
  internals/src/compact_size.rs
Labels: C-internals, test, C-consensus_encoding

#5083 docs: fix typos
  bitcoin/src/crypto/sighash.rs
  p2p/src/message.rs
  units/src/sequence.rs
Labels: C-bitcoin, C-units, C-p2p

#5078 units: replace wildcard import with specific imports in verification
  units/src/amount/verification.rs
Labels: C-units

#4992 Add `Encodable` for transaction types
  api/units/all-features.txt
  consensus_encoding/src/encode/mod.rs
  primitives/src/transaction.rs
  primitives/src/witness.rs
  units/src/amount/mod.rs
Labels: C-units, C-primitives, C-consensus_encoding

#4995 Implement `Encodable` for `Block`
  primitives/src/block.rs
  primitives/src/transaction.rs
Labels: C-primitives

#5086 consensus_encoding: Add `CompactSizeEncoder` and refactor `WitnessEncoder`
  consensus_encoding/src/encode/encoders.rs
  consensus_encoding/src/lib.rs
  primitives/src/witness.rs
Labels: C-primitives, C-consensus_encoding

#5070 Fix clippy lint with `no-default-features` in `primitives` and `units`
  consensus_encoding/src/encode/encoders.rs
  primitives/src/lib.rs
  units/src/amount/tests.rs
Labels: C-units, C-primitives, C-consensus_encoding
