Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-06, with the labels that each got.

#4534 Make `FeeRate` use MvB internally
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/psbt/mod.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
  units/src/amount/tests.rs
  units/src/fee.rs
  units/src/fee_rate/mod.rs
  units/src/fee_rate/serde.rs
  units/src/result.rs
  units/tests/serde.rs
Labels: API break, C-bitcoin, C-units, test

#4591 chore: add missing backticks
  primitives/tests/api.rs
Labels: test, C-primitives

#4588 Add backticks around OPCodes
  bitcoin/src/blockdata/opcodes.rs
  primitives/src/opcodes.rs
Labels: C-bitcoin, C-primitives

#4590 Clean up `bip32` test
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#4593 units: Add `is_satisfied_by` locktime tests
  units/src/locktime/absolute.rs
Labels: C-units

#4599 Add backticks around OPCodes
  bitcoin/src/blockdata/opcodes.rs
  primitives/src/opcodes.rs
Labels: C-bitcoin, C-primitives

#4607 Manual update to rustc (to nightly-2025-06-06)
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/taproot/mod.rs
  io/src/lib.rs
  nightly-version
  primitives/src/witness.rs
Labels: C-bitcoin, C-io, C-primitives

#4614 Add fee rate constructors that take `Amount` as arg
  units/src/fee_rate/mod.rs
Labels: C-units

#4613 Inline `fee` functions back into their respective modules
  units/src/amount/unsigned.rs
  units/src/fee.rs
  units/src/fee_rate/mod.rs
  units/src/lib.rs
  units/src/weight.rs
Labels: P-high, trivial, C-units

#4620 Add alternate print format to DerivationPath using 'h' suffix
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#4624 impl LowerHex, UpperHex, Octal, and Binary for ChildNumber
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#4589 Move `bitcoin::p2p` into `p2p`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/src/lib.rs
  bitcoin/src/p2p/deser.rs
  bitcoin/src/p2p/mod.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/bitcoin/deser_net_msg.rs
  fuzz/fuzz_targets/bitcoin/p2p_address_roundtrip.rs
  p2p/Cargo.toml
  p2p/examples/handshake.rs
  p2p/src/address.rs
  p2p/src/consensus.rs
  p2p/src/lib.rs
  p2p/src/message.rs
  p2p/src/message_blockdata.rs
  p2p/src/message_bloom.rs
  p2p/src/message_compact_blocks.rs
  p2p/src/message_filter.rs
  p2p/src/message_network.rs
Labels: API break, C-bitcoin, test, C-p2p

#4631 Add tests to kill mutants
  primitives/src/transaction.rs
  units/src/amount/tests.rs
  units/src/fee_rate/mod.rs
  units/src/locktime/relative.rs
Labels: C-units, C-primitives

#4629 Improve locktime docs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
Labels: C-units

#4623 Improve `Xpriv::derive_xpriv` and `Xpub::derive_xpub` ergonomics slightly
  bitcoin/examples/bip32.rs
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#4637 psbt: check that non-witness UTXOs' txids match the input txid
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/tests/data/serde/psbt_base64.json
  bitcoin/tests/data/serde/psbt_bincode
  bitcoin/tests/serde.rs
Labels: C-bitcoin, test

#4641 Automated weekly update to rustc stable (to 1.88.0)
  .github/workflows/stable-version
Labels: ci

#4643 minor correction bridge.rs
  io/src/bridge.rs
Labels: C-io

#4626 Saturate iwp constructors to u32 max
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin
