Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-07, with the labels that each got.

#4647 fix: typo in error message
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#4654 Remove match arm and guard mutant exclusion
  .cargo/mutants.toml
  .github/workflows/cron-weekly-cargo-mutants.yml
Labels: ci

#4668 Inline `script_pubkey` extension traits
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
Labels: API break, C-bitcoin

#4684 bitcoin: Remove re-export of Denomination
  bitcoin/src/lib.rs
  bitcoin/tests/bip_174.rs
Labels: C-bitcoin, test

#4693 [src]: fix wrong article before `u64`
  hashes/src/siphash24/mod.rs
Labels: C-hashes

#4689 Add Arbitrary impl for relative::LockTime
  primitives/src/locktime/relative.rs
Labels: C-primitives

#4710 Update NumOpResult arbitrary impl to only consume 1 byte of entropy
  units/src/result.rs
Labels: C-units

#4691 backport: Add support for pay to anchor outputs
  bitcoin/Cargo.toml
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/witness_program.rs
Labels: C-bitcoin

#4698 Remove amount serde traits
  units/src/amount/serde.rs
  units/tests/data/serde_bincode
  units/tests/serde.rs
Labels: API break, C-units, test

#4662 primitives: Inline `impl_to_hex_from_lower_hex` macro and deprecate
  primitives/src/pow.rs
  primitives/src/script/borrowed.rs
  primitives/src/script/mod.rs
  primitives/src/script/owned.rs
  primitives/src/sequence.rs
Labels: C-primitives

#4669 bitcoin: Add public ext modules
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/lib.rs
Labels: C-bitcoin

#4717 script: Remove public re-exports
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
Labels: C-bitcoin

#4723 chore: fix misspelled
  primitives/src/script/borrowed.rs
Labels: C-primitives

#4686 Move `locktime` and `sequence` to `units`
  bitcoin/src/blockdata/mod.rs
  primitives/src/lib.rs
  primitives/src/locktime/mod.rs
  primitives/src/transaction.rs
  primitives/tests/api.rs
  units/Cargo.toml
  units/src/lib.rs
  units/src/locktime/absolute.rs
  units/src/locktime/absolute/error.rs
  units/src/locktime/absolute/mod.rs
  units/src/locktime/relative.rs
  units/src/locktime/relative/error.rs
  units/src/locktime/relative/mod.rs
  units/src/sequence.rs
  units/tests/api.rs
Labels: API break, C-bitcoin, C-units, test, C-primitives

#4713 Update `deserialize_witness` fuzz target to use the `Witness` `arbitrary` impl
  .github/workflows/cron-daily-fuzz.yml
  Cargo-minimal.lock
  Cargo-recent.lock
  fuzz/Cargo.toml
  fuzz/fuzz-util.sh
  fuzz/fuzz_targets/bitcoin/deserialize_witness.rs
  fuzz/fuzz_targets/units/parse_amount.rs
  fuzz/generate-files.sh
Labels: ci, test

#4731 doc: Remove duplicate word
  bitcoin/src/network/mod.rs
Labels: C-bitcoin

#4738 fix: correct typo in test function name "tyes" to "types"
  io/tests/api.rs
Labels: C-io, test

#4722 Add Arbitary impls for some bip152, bip158 & merkle block types
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/merkle_tree/block.rs
Labels: C-bitcoin

#4705 units: Check the API using `cargo public-api`
  .github/workflows/README.md
  .github/workflows/rust.yml
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  contrib/check-for-api-changes.sh
Labels: ci, doc

#4734 Allow missing panics docs in const functions
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-units

#4721 Add docs directory
  docs/README.md
  docs/address.md
  docs/bip-32.md
  docs/psbt.md
  docs/roadmap.md
Labels: doc

#4737 p2p: Add a `V1MessageHeader`
  p2p/src/message.rs
Labels: C-p2p

#4741 Fix LICENSE link in p2p/README.md
  p2p/README.md
Labels: doc, C-p2p
