Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-04, with the labels that each got.

#4303 fix correction typos
  bitcoin/src/blockdata/constants.rs
Labels: C-bitcoin

#4304 minor docstring fixups
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#4302 Add push_relative_lock_time() and deprecate push_sequence()
  bitcoin/src/blockdata/script/builder.rs
Labels: API break, C-bitcoin

#4165 Update contributing guide re merging and CI
  CONTRIBUTING.md
Labels: doc

#4305 Automated weekly update to rustc stable (to 1.86.0)
  .github/workflows/stable-version
Labels: ci

#4307 Rename 'indecies' to 'indices' in bip_174.rs for correct terminology
  bitcoin/tests/bip_174.rs
Labels: C-bitcoin, test

#4311 fix correction in comment mod.rs
  bitcoin/src/blockdata/mod.rs
Labels: C-bitcoin

#4306 chore: remove unused cortex-m dependency
  bitcoin/embedded/Cargo.toml
  hashes/embedded/Cargo.toml
Labels: C-bitcoin, C-hashes

#4312 units: Return `NumOpResult` when implementing `Div`
  units/src/amount/mod.rs
  units/src/amount/result.rs
  units/src/amount/tests.rs
  units/src/fee.rs
  units/src/internal_macros.rs
  units/src/lib.rs
  units/src/result.rs
Labels: API break, C-units

#4317 add copy trait to address and AddressInner
  bitcoin/src/address/mod.rs
  bitcoin/tests/psbt-sign-taproot.rs
Labels: C-bitcoin, test

#4321 hashes: update serde dependency to match workspace
  hashes/Cargo.toml
Labels: C-hashes

#4320 units: Do trivial docs fixes
  units/src/fee.rs
  units/src/fee_rate/mod.rs
Labels: C-units

#4328 fix typo in `array.rs` documentation
  internals/src/array.rs
Labels: C-internals

#4326 primitives: Add tests to kill mutants
  primitives/src/witness.rs
Labels: C-primitives

#4327 primitives: Add tests to improve coverage
  primitives/src/script/borrowed.rs
  primitives/src/script/mod.rs
Labels: C-primitives

#4332 fix typo in test function name
  bitcoin/src/blockdata/script/tests.rs
Labels: C-bitcoin

#4341 units: Improve crate level docs
  units/src/lib.rs
Labels: C-units

#4262 primitives: Make `hex` optional
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  primitives/Cargo.toml
  primitives/src/block.rs
  primitives/src/merkle_tree.rs
  primitives/src/script/mod.rs
  primitives/src/transaction.rs
  primitives/src/witness.rs
Labels: C-bitcoin, C-primitives

#4342 Remove Option return from `minimal_non_dust`
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#4346 chore: Fix the typos in the comments and variables
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/script/tests.rs
Labels: C-bitcoin

#4349 minor docstring fixups message.rs
  bitcoin/src/p2p/message.rs
Labels: C-bitcoin

#4348 refactor: Replace fold with try_fold
  units/src/amount/mod.rs
Labels: C-units

#4338 primitives: Document script to/from bytes
  primitives/src/script/borrowed.rs
  primitives/src/script/owned.rs
Labels: C-primitives

#4017 hashes: Add an `api` test module
  hashes/tests/api.rs
Labels: API break, C-hashes, test

#4269 Implement `Display` for `Header`
  Cargo-minimal.lock
  Cargo-recent.lock
  primitives/Cargo.toml
  primitives/src/block.rs
Labels: C-primitives

#4258 units: Improve code enforcing privacy boundry
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-units

#4343 units: Go over the rendered docs for the whole crate
  units/src/amount/error.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
  units/src/fee.rs
  units/src/fee_rate/mod.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/src/result.rs
  units/src/weight.rs
Labels: C-units

#4318 Document the `NumOpResult` type
  units/src/result.rs
Labels: API break, C-units

#4347 primitives: Increase test coverage in `Script`
  primitives/src/script/mod.rs
Labels: C-primitives

#4359 fix `rejectection` to `rejection` message_network.rs
  bitcoin/src/p2p/message_network.rs
Labels: C-bitcoin

#4322 fix: enforce standard minimal push for push_slice
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/owned.rs
Labels: C-bitcoin

#4336 units: Make minor improvements to `MathOp`
  units/src/result.rs
Labels: API break, C-units

#2456 Use InputWeightPrediction to calculate effective_value
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#4371 Allow using the 'base64' feature in `no_std` environments
  bitcoin/Cargo.toml
Labels: C-bitcoin

#4366 Deserialize witness from a list of hex strings
  primitives/src/witness.rs
Labels: C-primitives

#4369 Rename `try_into_taptree` to `try_into_tap_tree`
  bitcoin/src/taproot/mod.rs
Labels: API break, C-bitcoin

#4368 test: add test for push slice minimal
  bitcoin/src/blockdata/script/tests.rs
Labels: C-bitcoin

#4375 Add ControlBlock constructor that takes a hex string
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#4365 Implement FromIterator for Witness
  primitives/src/witness.rs
Labels: C-primitives

#4376 primitives: replace error propagation with `expect`
  primitives/src/block.rs
Labels: C-primitives

#4381 Make Version::maybe_non_standard and Version::is_standard const
  primitives/src/transaction.rs
Labels: C-primitives

#4383 rustdocs: Make headings consistent
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip158.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/consensus/encode.rs
  chacha20_poly1305/src/lib.rs
  hashes/src/internal_macros.rs
  hashes/src/macros.rs
  primitives/src/block.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  primitives/src/script/borrowed.rs
  primitives/src/sequence.rs
  primitives/src/transaction.rs
  units/src/parse.rs
  units/src/result.rs
Labels: C-bitcoin, C-hashes, C-units, C-primitives, C-chacha20_poly1305

#4250 Introduce and use `test_hex_unwrap` macro in `internals`
  base58/src/lib.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_blockdata.rs
  bitcoin/src/p2p/message_network.rs
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin, C-base58

#4386 fix typo in serialized_signature.rs
  bitcoin/src/taproot/serialized_signature.rs
Labels: C-bitcoin

#4392 Fix minor typos and improve clarity in documentation and comments
  bitcoin/src/internal_macros.rs
  bitcoin/src/network/params.rs
  bitcoin/src/p2p/message_compact_blocks.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#4395 fix error in comment pow.rs
  bitcoin/src/pow.rs
Labels: C-bitcoin

#4391 test: push minimality check for zero(empty)
  bitcoin/src/blockdata/script/tests.rs
Labels: C-bitcoin

#4394 chore: fix docs for `WitnessProgram` and extend test for P2A
  bitcoin/src/address/mod.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/blockdata/script/witness_program.rs
Labels: C-bitcoin

#4398 Fix typo in result.rs documentation: "operatons" -> "operations"
  units/src/result.rs
Labels: C-units

#4393 docs: Remove dead API documentation link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#4397 Automated weekly update to cargo-semver-checks (to 0.41.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#4344 Locktime MtpAndHeight
  primitives/src/locktime/relative.rs
  units/src/lib.rs
  units/src/locktime/relative.rs
  units/src/mtp_height.rs
Labels: C-units, C-primitives

#4403 docs: correction CHANGELOG.md
  bitcoin/CHANGELOG.md
Labels: C-bitcoin, doc

#4316 Improve the script hex APIs
  bitcoin/Cargo.toml
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/script.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/tests/bip_174.rs
  bitcoin/tests/serde.rs
  primitives/src/script/mod.rs
Labels: C-bitcoin, test, C-primitives

#4408 fix: wording and punctuation
  README.md
Labels: doc
