Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-03, with the labels that each got.

#4114 Policy: Relax MIN_STANDARD_TX_NONWITNESS_SIZE to 65
  bitcoin/src/policy.rs
Labels: C-bitcoin

#4091 primitives: Hide error internals
  bitcoin/src/address/mod.rs
  primitives/src/locktime/relative.rs
  primitives/src/script/mod.rs
Labels: C-bitcoin, C-primitives

#4123 hashes: Remove Clone trait bound from Tag
  hashes/src/sha256t/mod.rs
Labels: C-hashes

#4138 units: Improve code comment on macros
  units/src/parse.rs
Labels: C-units

#4149 Fix typos in code comments and documentation
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/taproot/serialized_signature.rs
  units/src/amount/mod.rs
Labels: C-bitcoin, C-units

#4142 Typo fix in: README.md
  hashes/README.md
Labels: C-hashes, doc

#4175 Use uniform return statement in docs
  units/src/fee.rs
Labels: C-units

#4154 update secp256k1 to 0.30.0
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/bip32.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin

#4170 Improve crate docs headings
  chacha20_poly1305/src/lib.rs
  hashes/src/lib.rs
  io/src/lib.rs
  primitives/src/lib.rs
  units/src/lib.rs
Labels: C-hashes, C-units, C-io, C-primitives, C-chacha20_poly1305

#4143 primitives: Inline small functions
  primitives/src/block.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  primitives/src/opcodes.rs
  primitives/src/pow.rs
  primitives/src/sequence.rs
  primitives/src/transaction.rs
  primitives/src/witness.rs
Labels: C-primitives

#4181 Implement `Rem` for `Weight`
  units/src/weight.rs
Labels: C-units

#4177 Manually update nightly version
  bitcoin/src/psbt/mod.rs
  nightly-version
Labels: C-bitcoin

#4167 bitcoin: Remove hash type re-exports
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/src/hash_types.rs
  bitcoin/src/lib.rs
Labels: API break, C-bitcoin

#4184 Bump GitHub Actions Artifacts to v4
  .github/workflows/cron-daily-fuzz.yml
  fuzz/generate-files.sh
Labels: ci, test

#4185 fuzz: cover more stuff for Script
  fuzz/fuzz_targets/bitcoin/deserialize_psbt.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
  fuzz/fuzz_targets/bitcoin/fuzz_utils.rs
Labels: test

#4188 ci: update Kani GitHub Actions runners to ubuntu-24.04
  .github/workflows/cron-daily-kani.yml
  .github/workflows/rust.yml
Labels: ci

#4189 Private key from slice fix
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/serialize.rs
Labels: bug, C-bitcoin, Deprecation

#4186 Clean up Witness API
  bitcoin/examples/sighash.rs
  bitcoin/src/blockdata/witness.rs
  primitives/src/witness.rs
Labels: C-bitcoin, C-primitives, Needs Backport

#4092 Add `Timestamp` newtype
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/lib.rs
  bitcoin/src/pow.rs
  primitives/src/block.rs
  primitives/src/lib.rs
  units/src/lib.rs
  units/src/timestamp.rs
  units/tests/api.rs
Labels: C-bitcoin, C-units, test, C-primitives

#4126 Add additional re-exports
  bitcoin/src/lib.rs
  primitives/src/lib.rs
Labels: C-bitcoin, C-primitives

#4198 Minor: fix typo
  base58/src/error.rs
Labels: C-base58

#4190 Kill mutants in primitives and units
  primitives/src/transaction.rs
  units/src/amount/tests.rs
Labels: C-units, C-primitives

#4199 ci: Update GitHub workflows to use ubuntu-24.04 instead of ubuntu-latest
  .github/workflows/coveralls.yml
  .github/workflows/cron-daily-fuzz.yml
  .github/workflows/cron-weekly-cargo-mutants.yml
  .github/workflows/cron-weekly-rustfmt.yml
  .github/workflows/cron-weekly-update-cargo-semver-checks.yml
  .github/workflows/cron-weekly-update-nightly.yml
  .github/workflows/cron-weekly-update-stable.yml
  .github/workflows/gh-release.yml
  .github/workflows/manage-pr.yml
  .github/workflows/miri.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/semver-checks-pr-label.yml
  .github/workflows/semver-checks.yml
  .github/workflows/shellcheck.yml
  fuzz/generate-files.sh
Labels: ci, test

#4085 Remove the `GeneralHash` trait
  bitcoin/src/bip32.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/psbt/macros.rs
  bitcoin/src/psbt/map/input.rs
  hashes/src/hash160/mod.rs
  hashes/src/hkdf/mod.rs
  hashes/src/hmac/mod.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/ripemd160/mod.rs
  hashes/src/sha1/mod.rs
  hashes/src/sha256/mod.rs
  hashes/src/sha256d/mod.rs
  hashes/src/sha256t/mod.rs
  hashes/src/sha384/mod.rs
  hashes/src/sha512/mod.rs
  hashes/src/sha512_256/mod.rs
  hashes/src/siphash24/mod.rs
  hashes/tests/regression.rs
  io/src/hash.rs
  io/src/lib.rs
Labels: API break, C-bitcoin, C-hashes, C-io, test

#4127 units: Prevent casting pub enums as ints
  units/src/amount/mod.rs
Labels: API break, C-units

#4197 Take `spent` closure by value in `count_witness_sigops`
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#4182 Replace uses of `chunks_exact` with `as_chunks`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/src/taproot/merkle_branch.rs
  hashes/Cargo.toml
  hashes/src/ripemd160/crypto.rs
  hashes/src/ripemd160/mod.rs
  hashes/src/sha1/crypto.rs
  hashes/src/sha1/mod.rs
  hashes/src/sha256/crypto.rs
  hashes/src/sha256/mod.rs
  hashes/src/sha512/crypto.rs
  hashes/src/sha512/mod.rs
  internals/src/lib.rs
  internals/src/slice.rs
Labels: enhancement, C-bitcoin, C-hashes, C-internals

#4212 Add `fee_rate::serde` re-export
  bitcoin/src/blockdata/mod.rs
Labels: C-bitcoin

#4214 Fix some comments
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/key.rs
  hashes/src/macros.rs
Labels: C-bitcoin, C-hashes

#4161 Improve ops for amount types
  units/src/amount/result.rs
  units/src/amount/tests.rs
Labels: C-units

#4178 primitives: Enable pedantic lints
  clippy.toml
  primitives/Cargo.toml
  primitives/src/block.rs
  primitives/src/lib.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  primitives/src/opcodes.rs
  primitives/src/pow.rs
  primitives/src/script/mod.rs
  primitives/src/sequence.rs
  primitives/src/transaction.rs
  primitives/src/witness.rs
Labels: C-primitives

#4209 Fix fuzz targets
  fuzz/fuzz_targets/bitcoin/deserialize_psbt.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
  fuzz/src/fuzz_utils.rs
  fuzz/src/lib.rs
Labels: test

#4101 Backport witness fixes
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/taproot/mod.rs
Labels: bug, C-bitcoin, Deprecation

#4223 primitives: Feature gate import
  primitives/src/transaction.rs
Labels: C-primitives

#4216 Replace underflow with overflow in doc comments
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/taproot/serialized_signature.rs
  units/src/amount/mod.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units

#4226 fix typos
  README.md
  bitcoin/src/consensus/encode.rs
Labels: C-bitcoin, doc

#4227 docs: The quotation marks are incorrect.
  io/src/error.rs
Labels: C-io

#4228 docs: Update README to replace use of mutagen with cargo-mutants
  README.md
  bitcoin/Cargo.toml
  primitives/Cargo.toml
Labels: C-bitcoin, doc, C-primitives

#4164 Prepare to enforce MAX_MONEY invariant
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/serde.rs
  units/src/amount/mod.rs
  units/src/amount/result.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/fee.rs
  units/tests/str.rs
Labels: API break, P-high, C-bitcoin, C-units, test

#4229 feature: introduce MAX_BLOCK_SERIALIZED_SIZE to check limit
  bitcoin/src/blockdata/constants.rs
Labels: C-bitcoin

#4230 Fix BIP32 validation for private keys and master key constraints (#4195)
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#4232 fix comment ecdsa-psbt.rs
  bitcoin/examples/ecdsa-psbt.rs
Labels: C-bitcoin

#4233 test: add coverage for ServiceFlags::P2P_V2
  bitcoin/src/p2p/mod.rs
Labels: C-bitcoin

#4234 chore: add missing backquotes
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#4219 Rename then new `Timestamp` type
  bitcoin/src/bip152.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/lib.rs
  bitcoin/src/pow.rs
  primitives/src/block.rs
  primitives/src/lib.rs
  units/src/lib.rs
  units/src/time.rs
  units/tests/api.rs
Labels: API break, C-bitcoin, C-units, test, C-primitives

#4235 Use impl_op_for_references macro in fee module
  units/src/fee.rs
Labels: C-units

#4157 Enforce MAX_MONEY invariant in amount types
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/lib.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/psbt-sign-taproot.rs
  primitives/src/transaction.rs
  units/src/amount/mod.rs
  units/src/amount/result.rs
  units/src/amount/serde.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/amount/verification.rs
  units/src/fee.rs
Labels: API break, C-bitcoin, C-units, test, C-primitives

#4239 Automated weekly update to cargo-semver-checks (to 0.40.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#4246 fix spelling issues
  bitcoin/examples/sighash.rs
  bitcoin/src/blockdata/script/owned.rs
Labels: C-bitcoin

#4251 Enable getting the network kind from an address
  bitcoin/src/address/mod.rs
Labels: C-bitcoin, Needs Backport

#4253 primitives: Increase test coverage in LockTime
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-primitives

#4256 Followups to #4157: remove Amount::from_sat_unchecked
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/serde.rs
  units/src/amount/error.rs
  units/src/amount/mod.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/fee.rs
Labels: API break, P-high, C-bitcoin, C-units, test

#4248 Alloc-free (AKA zero-copy) control block
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/taproot/merkle_branch/borrowed.rs
  bitcoin/src/taproot/merkle_branch/buf.rs
  bitcoin/src/taproot/merkle_branch/mod.rs
  bitcoin/src/taproot/mod.rs
Labels: API break, C-bitcoin

#4266 Automated weekly update to rustc stable (to 1.85.1)
  .github/workflows/stable-version
Labels: ci

#4200 Remove a bunch of `try_into().expect()`
  base58/src/lib.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/lib.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot/mod.rs
  internals/src/array.rs
  internals/src/lib.rs
  internals/src/slice.rs
  primitives/src/witness.rs
Labels: Correctness, C-bitcoin, C-internals, C-primitives, C-base58

#4128 Remove `From<hash>` for not-general-hash types
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/p2p/message.rs
  hashes/src/macros.rs
  primitives/src/transaction.rs
Labels: C-bitcoin, C-hashes, C-primitives

#4263 docs: fix LICENSE link
  base58/README.md
  primitives/README.md
  units/README.md
Labels: C-units, doc, C-primitives, C-base58

#4271 Make code style consistent and fix naming in macro Array implementations
  bitcoin/src/taproot/merkle_branch/buf.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units

#4279 `Witness` api improvements and test cleanups
  bitcoin/src/blockdata/witness.rs
  primitives/src/witness.rs
Labels: Tests, code quality, API hole, C-bitcoin, C-primitives

#4166 Remove bip158 types from crate root
  bitcoin/src/hash_types.rs
  bitcoin/src/lib.rs
Labels: API break, C-bitcoin

#4285 chore: remove explicit into iteration
  bitcoin/src/psbt/serialize.rs
Labels: C-bitcoin

#4284 Use `path = [bala]` for `rust-bitcoin`'s workspace members dependencies. remove `[patch.crates-io.balab]`
  Cargo.toml
  base58/Cargo.toml
  bitcoin/Cargo.toml
  bitcoin/embedded/Cargo.toml
  hashes/Cargo.toml
  hashes/embedded/Cargo.toml
  io/Cargo.toml
  primitives/Cargo.toml
  units/Cargo.toml
Labels: C-bitcoin, C-hashes, C-units, C-io, C-primitives, C-base58

#4287 units: Kill mutants found in weekly mutation testing
  .cargo/mutants.toml
  units/src/amount/tests.rs
  units/src/time.rs
Labels: C-units

#4288 chore: fix some typos in comment
  hashes/src/sha256/crypto.rs
  internals/src/macros.rs
Labels: C-hashes, C-internals

#4281 Return `ControlBlock` from `Witness::taproot_control_block`
  bitcoin/src/address/error.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/blockdata/script/push_bytes.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/taproot/merkle_branch/borrowed.rs
  bitcoin/src/taproot/mod.rs
  hashes/src/internal_macros.rs
  hashes/src/sha256t/mod.rs
  internals/src/lib.rs
  internals/src/macros.rs
  io/src/bridge.rs
  primitives/src/script/borrowed.rs
  primitives/src/script/mod.rs
  primitives/src/script/owned.rs
Labels: API break, C-bitcoin, C-hashes, C-internals, C-io, C-primitives

#4290 fix err `P2WPKH` to `P2WSH` witness_version.rs
  bitcoin/src/blockdata/script/witness_version.rs
Labels: C-bitcoin

#4289 [hashes] Disable fixed-time equality cmp when building for fuzzers, use fixed-time equality for `Hmac`
  hashes/src/cmp.rs
  hashes/src/hmac/mod.rs
Labels: C-hashes

#4293 chore: remove needless question mark
  units/src/fee_rate/serde.rs
  units/src/locktime/absolute.rs
  units/src/parse.rs
Labels: C-units

#4280 updated and corrected links CHANGELOG.md
  bitcoin/CHANGELOG.md
Labels: C-bitcoin, doc

#4292 chore: fix grammatical errors
  base58/src/error.rs
  bitcoin/CHANGELOG.md
  units/src/amount/error.rs
  units/src/fee_rate/mod.rs
  units/tests/api.rs
Labels: C-bitcoin, C-units, test, doc, C-base58

#4297 chore: remove unused serde_json dep
  Cargo-minimal.lock
  Cargo-recent.lock
  hashes/Cargo.toml
Labels: C-hashes
