Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-08, with the labels that each got.

#4752 Fix typos in message_network.rs comments
  p2p/src/message_network.rs
Labels: C-p2p

#4747 Fix check-api
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  nightly-version
Labels: P-high

#4756 Remove # from crate rustdoc titles
  addresses/src/lib.rs
  bitcoin/src/lib.rs
  chacha20_poly1305/src/lib.rs
  fuzz/src/lib.rs
  hashes/src/lib.rs
  internals/src/lib.rs
  io/src/lib.rs
  p2p/src/lib.rs
  primitives/src/lib.rs
  units/src/lib.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-primitives, C-addresses, C-chacha20_poly1305, C-p2p

#4735 Use `FeeRate` in `FeeFilter` message
  p2p/src/message.rs
Labels: C-p2p

#4764 chore: fix minor typos
  bitcoin/src/crypto/sighash.rs
Labels: C-bitcoin

#4759 Automated weekly update to cargo-semver-checks (to 0.42.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#4740 Release tracking PR: `bitcoin 0.32.7`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
Labels: C-bitcoin, doc

#4725 Add a `ProtocolVersion` type with named values
  p2p/examples/handshake.rs
  p2p/src/lib.rs
  p2p/src/message.rs
  p2p/src/message_blockdata.rs
  p2p/src/message_network.rs
Labels: C-p2p

#4749 p2p: Remove deprecated const
  p2p/src/lib.rs
Labels: C-p2p

#4769 doc: Add miniscript item
  docs/roadmap.md
Labels: doc

#4776 primitives: Remove empty file
  primitives/src/taproot.rs
Labels: C-primitives

#4736 p2p: Add a `UserAgent` type
  p2p/examples/handshake.rs
  p2p/src/message.rs
  p2p/src/message_network.rs
Labels: C-p2p

#4779 docs: fix documentation typos in sequence.rs
  units/src/sequence.rs
Labels: C-units

#4811 primitives: Document re-exports
  primitives/src/lib.rs
Labels: C-primitives

#4814 fix: correct typo in comment in crypto.rs
  hashes/src/ripemd160/crypto.rs
Labels: C-hashes

#4771 docs: Link to bip-32 super issue
  docs/bip-32.md
Labels: doc

#4789 bitcoin: Add a serde example module
  bitcoin/Cargo.toml
  bitcoin/contrib/test_vars.sh
  bitcoin/examples/serde.rs
Labels: C-bitcoin, test

#4800 Refactor how we call private macros
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/pow.rs
Labels: C-bitcoin

#4817 Pin cargo public-api version
  .github/workflows/rust.yml
Labels: ci

#4805 Manually update nightly
  bitcoin/src/lib.rs
  internals/src/array_vec.rs
  nightly-version
Labels: C-bitcoin, C-internals

#4813 docs: clarify "iff" to "if and only if"
  CONTRIBUTING.md
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/merkle_tree/mod.rs
  bitcoin/src/taproot/mod.rs
Labels: C-bitcoin, doc

#4777 Do trivial module / extern crate clean up
  chacha20_poly1305/src/lib.rs
  p2p/src/lib.rs
  primitives/src/lib.rs
  units/src/lib.rs
Labels: C-units, C-primitives, C-chacha20_poly1305, C-p2p

#4815 unit: kill new mutants
  .cargo/mutants.toml
  units/src/amount/result.rs
Labels: C-units

#4762 Implement `Encodable`/`Decodable` for list of `u8`
  bitcoin/src/consensus/encode.rs
Labels: C-bitcoin

#4832 Add rustfmt skip to macro call
  bitcoin/src/blockdata/block.rs
Labels: C-bitcoin

#4755 Use no_std when testing
  addresses/src/lib.rs
  primitives/src/block.rs
  primitives/src/lib.rs
  primitives/src/opcodes.rs
  primitives/src/pow.rs
  primitives/src/script/borrowed.rs
  primitives/src/script/mod.rs
  primitives/src/script/owned.rs
  primitives/src/transaction.rs
  primitives/src/witness.rs
Labels: C-primitives, C-addresses

#4830 p2p: Add `HeadersMessage` wrapper with useful methods
  p2p/src/message.rs
Labels: C-p2p

#4843 fix: grammar
  fuzz/fuzz-util.sh
  internals/src/array.rs
Labels: C-internals, test

#4840 hashes: Remove code deprecated in `v0.15.0`
  hashes/src/hmac/mod.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/macros.rs
  hashes/src/sha256/mod.rs
  hashes/src/sha256t/mod.rs
  hashes/src/siphash24/mod.rs
Labels: API break, C-hashes

#4845 units: Add my name to authors list
  units/Cargo.toml
Labels: C-units

#4838 Fix overflow during *_ceil FeeRate conversions
  units/src/fee_rate/mod.rs
Labels: C-units

#4850 fix: correct typos in comments
  chacha20_poly1305/src/lib.rs
Labels: C-chacha20_poly1305

#4848 docs: fix typo "inefficientcies" -> "inefficiencies"
  chacha20_poly1305/src/chacha20.rs
Labels: C-chacha20_poly1305

#4857 fix: IsSatisfiedByTimeError::Incompatible wording to lock-by-time
  units/src/locktime/relative/error.rs
Labels: C-units

#4860 witness: rewrite the docs on several Taproot-related methods and deprecate one method
  bitcoin/src/blockdata/witness.rs
Labels: C-bitcoin

#4863 bitcoin: Improve import statements
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  bitcoin/src/network/params.rs
  bitcoin/tests/psbt-sign-taproot.rs
Labels: C-bitcoin, test

#4852 Move policy stuff to docs directory
  CONTRIBUTING.md
  docs/policy.md
Labels: doc

#4877 docs: fix typo "Depenency" -> "Dependency" in README
  docs/README.md
Labels: doc

#4870 Automated weekly update to cargo-semver-checks (to 0.43.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#4847 Fix overflows in `Weight` and add fuzz target
  .github/workflows/cron-daily-fuzz.yml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/units/arbitrary_weight.rs
  fuzz/generate-files.sh
  units/src/weight.rs
Labels: ci, C-units, test

#4906 docs: fix typo in message_network.rs
  p2p/src/message_network.rs
Labels: C-p2p

#4896 base58: Remove hex dependency
  Cargo-minimal.lock
  Cargo-recent.lock
  base58/Cargo.toml
  base58/src/lib.rs
Labels: C-base58

#4890 io: Enable features in internals crate
  io/Cargo.toml
Labels: C-io

#4893 fix: correct grammar in block and transaction docs
  primitives/src/block.rs
  primitives/src/transaction.rs
Labels: C-primitives

#4854 Add dependency policy doc
  docs/dependencies.md
Labels: doc

#4910 Update CHANGELOG.md
  units/CHANGELOG.md
Labels: C-units, doc

#4889 Manually print `InvalidChecksum`
  bitcoin/src/consensus/error.rs
Labels: C-bitcoin

#4888 Do trivial import clean up
  bitcoin/src/blockdata/block.rs
Labels: C-bitcoin

#4844 Add a bunch of project management docs
  docs/addresses.md
  docs/crates.md
  docs/crypto.md
  docs/keys.md
  docs/policy.md
  docs/roadmap.md
  docs/taproot.md
Labels: doc

#4918 docs: remove redundant "a" in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#4923 docs: fix typos
  docs/crypto.md
Labels: doc
