Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-05, with the labels that each got.

#4420 primitives: Add regression tests for `Display` implementations
  primitives/src/sequence.rs
  primitives/src/transaction.rs
Labels: C-primitives

#4422 units: Add regression tests for `Display` implementations
  units/src/amount/tests.rs
  units/src/locktime/absolute.rs
  units/tests/str.rs
Labels: C-units, test

#4426 Improve docs on absolute::LockTime::is_implied_by
  primitives/src/locktime/absolute.rs
Labels: C-primitives

#4373 Add as_inner method to TweakedKeypair
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/taproot/mod.rs
Labels: API break, C-bitcoin

#4431 units: rename relative locktime types, absolute::Time, and constructors
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/transaction.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  primitives/src/sequence.rs
  units/src/block.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/tests/api.rs
  units/tests/serde.rs
Labels: API break, C-bitcoin, C-units, test, C-primitives

#4434 [backport 0.32.x] bip32: return error when attempting to derive past maximum depth
  bitcoin/src/bip32.rs
Labels: C-bitcoin

#4446 Fix broken changelog links
  bitcoin/CHANGELOG.md
Labels: C-bitcoin, doc

#4448 bitcoin: remove torv2 support
  bitcoin/src/p2p/address.rs
Labels: API break, release notes mention, C-bitcoin

#4028 hashes: several cleanups
  hashes/src/hash160/mod.rs
  hashes/src/internal_macros.rs
  hashes/src/ripemd160/mod.rs
  hashes/src/sha1/mod.rs
  hashes/src/sha256/mod.rs
  hashes/src/sha256d/mod.rs
  hashes/src/sha256t/mod.rs
  hashes/src/sha384/mod.rs
  hashes/src/sha512/mod.rs
  hashes/src/sha512_256/mod.rs
  hashes/src/siphash24/mod.rs
Labels: C-hashes

#4451 Set deprecation to released date of to_inner
  bitcoin/src/crypto/key.rs
Labels: C-bitcoin

#4409 Manual update to rustc (to nightly-2025-05-02)
  addresses/src/lib.rs
  base58/src/lib.rs
  bitcoin/examples/bip32.rs
  bitcoin/examples/create-p2wpkh-address.rs
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/examples/handshake.rs
  bitcoin/examples/script.rs
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/lib.rs
  chacha20_poly1305/src/lib.rs
  hashes/src/lib.rs
  hashes/tests/api.rs
  hashes/tests/regression.rs
  internals/build.rs
  internals/src/lib.rs
  internals/src/slice.rs
  io/src/lib.rs
  nightly-version
  primitives/src/lib.rs
  units/src/lib.rs
Labels: C-bitcoin, C-hashes, C-units, C-internals, C-io, test, C-primitives, C-base58, C-addresses, C-chacha20_poly1305

#4410 Wrap secp256k1::XOnlyPublicKey to improve error handling
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/tests/psbt-sign-taproot.rs
Labels: API break, C-bitcoin, test

#4457 rustdoc: Fix unused lint warnings
  primitives/src/locktime/relative.rs
  units/src/lib.rs
  units/src/result.rs
Labels: C-units, C-primitives

#4428 Use NumOpResult instead of Option
  bitcoin/src/blockdata/transaction.rs
  units/src/fee.rs
  units/src/result.rs
Labels: C-bitcoin, C-units

#4450 backport: Add methods to retrieve inner types
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/taproot/mod.rs
Labels: P-high, C-bitcoin

#4458 locktimes: replace `MtpAndHeight` type with pair of `BlockMtp` and `BlockHeight`
  bitcoin/src/blockdata/block.rs
  bitcoin/src/lib.rs
  bitcoin/src/network/params.rs
  primitives/src/lib.rs
  primitives/src/locktime/relative.rs
  units/src/block.rs
  units/src/lib.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/src/mtp_height.rs
  units/tests/api.rs
Labels: API break, C-bitcoin, C-units, test, C-primitives

#4443 backport: Add XOnlyPublicKey support for PSBT key retrieval and improve Taproot signing
  bitcoin/src/crypto/key.rs
  bitcoin/src/psbt/mod.rs
Labels: P-high, C-bitcoin, test

#4471 Change rustdoc tag from `compile_fail` to `ignore`
  internals/src/slice.rs
Labels: C-internals

#4462 Do lock time renames
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/mod.rs
  bitcoin/src/blockdata/transaction.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  primitives/src/sequence.rs
  units/src/block.rs
  units/src/fee.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/tests/api.rs
  units/tests/serde.rs
Labels: API break, C-bitcoin, C-units, test, C-primitives

#4078 primitives: Add an API test module
  primitives/src/witness.rs
  primitives/tests/api.rs
Labels: test, C-primitives

#4473 Assert num op error
  units/src/fee.rs
  units/src/result.rs
Labels: C-units

#4467 units: Use functional style
  units/src/block.rs
Labels: API break, C-units

#4474 Mark method as constant
  units/src/fee.rs
Labels: C-units

#4484 Introduce `map` function for `NumOpResult`
  units/src/result.rs
Labels: C-units

#4495 test: Add constructor test
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#4485 Add `Builder::with_capacity()`
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/tests.rs
  primitives/src/script/owned.rs
Labels: C-bitcoin, C-primitives

#4453 Release tracking PR: `bitcoin 0.32.6`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/CHANGELOG.md
  bitcoin/Cargo.toml
Labels: C-bitcoin, doc

#4489 Fix link to BIP-113
  primitives/src/locktime/absolute.rs
Labels: C-primitives

#4461 Implementing Div<NonZeroU64|I64> for Amount, SignedAmount, FeeRate, and and Weight
  units/src/amount/result.rs
  units/src/amount/tests.rs
  units/src/fee_rate/mod.rs
  units/src/weight.rs
Labels: C-units

#4500 refactor: Use map combinator instead of match
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#4505 units: `serde` cleanup
  units/src/amount/serde.rs
  units/src/fee_rate/serde.rs
  units/tests/serde.rs
Labels: C-units, test

#4506 units: Manually implement serde traits
  units/src/locktime/relative.rs
  units/src/time.rs
  units/src/weight.rs
Labels: C-units

#4504 CI: Manually remove trailing whitespace
  .github/workflows/cron-weekly-rustfmt.yml
Labels: ci

#4509 fix: add author to the chacha20_poly1305 crate
  chacha20_poly1305/Cargo.toml
Labels: C-chacha20_poly1305

#4503 Fix up script to/from hex
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/owned.rs
Labels: C-bitcoin

#4508 units: Make block-related types have private inner fields
  units/src/block.rs
Labels: API break, C-units

#4517 Automated weekly update to rustc stable (to 1.87.0)
  .github/workflows/stable-version
Labels: ci

#4521 feat(p2p): add `AddrV2` <> `SocketAddr` conversions
  bitcoin/src/p2p/address.rs
Labels: C-bitcoin

#4512 Remove Display/FromStr for FeeRate
  bitcoin/src/psbt/mod.rs
  units/src/fee_rate/mod.rs
  units/tests/str.rs
Labels: C-bitcoin, C-units, test

#4518 Release tracking for chacha20-poly1305 v0.1.2
  Cargo-minimal.lock
  Cargo-recent.lock
  chacha20_poly1305/CHANGELOG.md
  chacha20_poly1305/Cargo.toml
Labels: doc, C-chacha20_poly1305

#4529 psbt: replace the fee rate magic numbers with named constants in tests
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#4532 units: Kill mutants found in weekly mutation testing
  .cargo/mutants.toml
  units/src/block.rs
  units/src/locktime/relative.rs
  units/src/result.rs
Labels: C-units

#4537 Use / to divide fee by weight
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#4539 units: re-order ceil/floor functions
  units/src/fee.rs
Labels: C-units

#4540 Remove `impl From<u64> for FeeRate`
  units/src/fee_rate/mod.rs
Labels: C-units

#4542 Fix FeeRate::checked_add/sub
  units/src/fee_rate/mod.rs
Labels: C-units

#4545 fix dead link CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#4526 feat(p2p): add AddrV2 <> IpAddr conversions
  .github/workflows/cron-daily-fuzz.yml
  bitcoin/src/p2p/address.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/bitcoin/p2p_address_roundtrip.rs
Labels: ci, API break, C-bitcoin, test

#4541 fee_rate: Put test assertions in correct order
  units/src/fee_rate/mod.rs
Labels: C-units

#4554 Sane InputWeightPredition Arbitrary Type
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#4440 Add support for de/serializing PSBT_{IN,OUT}_MUSIG2_PARTICIPANT_PUBKEYS
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/psbt/serialize.rs
Labels: API break, C-bitcoin

#4562 Remove redundant `ServiceFlags` test
  bitcoin/src/network/mod.rs
Labels: C-bitcoin

#4580 fix typo Porallel to Parallel crypto.rs
  hashes/src/ripemd160/crypto.rs
Labels: C-hashes

#4468 Improve lock times - fix off-by-one bug
  bitcoin/src/blockdata/mod.rs
  bitcoin/tests/serde.rs
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
  primitives/tests/api.rs
  units/src/block.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/tests/api.rs
Labels: API break, P-high, C-bitcoin, C-units, test, C-primitives

#4572 Introduce empty p2p messages crate
  Cargo-minimal.lock
  Cargo-recent.lock
  Cargo.toml
  p2p/CHANGELOG.md
  p2p/Cargo.toml
  p2p/README.md
  p2p/contrib/test_vars.sh
  p2p/src/lib.rs
Labels: test, doc, C-p2p
