Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-09, with the labels that each got.

#4926 Bump MSRV from 1.63.0 to 1.74.0 for all crates in the repo
  .github/workflows/rust.yml
  README.md
  addresses/Cargo.toml
  addresses/README.md
  base58/Cargo.toml
  base58/README.md
  bitcoin/Cargo.toml
  bitcoin/src/bip32.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/pow.rs
  chacha20_poly1305/Cargo.toml
  chacha20_poly1305/README.md
  clippy.toml
  fuzz/Cargo.toml
  hashes/Cargo.toml
  hashes/README.md
  hashes/src/hkdf/mod.rs
  hashes/src/sha256/crypto.rs
  internals/Cargo.toml
  internals/build.rs
  internals/src/array_vec.rs
  io/Cargo.toml
  io/src/bridge.rs
  p2p/Cargo.toml
  p2p/README.md
  primitives/Cargo.toml
  primitives/README.md
  units/Cargo.toml
  units/README.md
  units/src/amount/mod.rs
  units/src/fee_rate/mod.rs
  units/src/locktime/relative/mod.rs
  units/src/weight.rs
Labels: ci, C-bitcoin, C-hashes, C-units, C-internals, C-io, test, doc, C-primitives, C-base58, C-addresses, C-chacha20_poly1305, C-p2p

#4886 Rename `units::parse` to `parse_int`
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  bitcoin/src/pow.rs
  primitives/src/lib.rs
  primitives/src/transaction.rs
  units/CHANGELOG.md
  units/src/block.rs
  units/src/lib.rs
  units/src/locktime/absolute/error.rs
  units/src/locktime/absolute/mod.rs
  units/src/locktime/relative/mod.rs
  units/src/parse_int.rs
  units/src/sequence.rs
  units/src/weight.rs
  units/tests/api.rs
Labels: C-bitcoin, C-units, test, doc, C-primitives

#4911 bitcoin: add "extreme object size" deserialization unit test
  bitcoin/src/consensus/encode.rs
Labels: C-bitcoin

#4938 fix: resolve clippy::len_zero lint in Instructions::size_hint
  bitcoin/src/blockdata/script/instruction.rs
Labels: C-bitcoin

#4885 primitives: Use new import policy
  primitives/src/block.rs
  primitives/src/transaction.rs
Labels: C-primitives

#4899 Fix 0.31.x build
  .github/workflows/fuzz.yml
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/examples/ecdsa-psbt.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/amount.rs
  bitcoin/src/base58.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/locktime/absolute.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/instruction.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/consensus/encode.rs
  bitcoin/src/consensus/serde.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/lib.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/network.rs
  bitcoin/src/p2p/message.rs
  bitcoin/src/p2p/message_network.rs
  bitcoin/src/pow.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/serde_utils.rs
  bitcoin/src/taproot.rs
  bitcoin/tests/psbt.rs
  contrib/test.sh
  fuzz/Cargo.toml
  fuzz/generate-files.sh
  hashes/Cargo.toml
  hashes/src/internal_macros.rs
  hashes/src/serde_macros.rs
  internals/Cargo.toml
  internals/src/error/input_string.rs
  internals/src/parse.rs
  internals/src/serde.rs
Labels: C-bitcoin, C-hashes, C-internals, test

#4937 fix: correct function names in deprecation notes
  bitcoin/examples/script.rs
  bitcoin/src/blockdata/script/owned.rs
Labels: C-bitcoin

#4837 fix(docs): correct typos in transaction, witness, and amount test comments
  primitives/src/transaction.rs
  primitives/src/witness.rs
  units/src/amount/tests.rs
Labels: C-units, C-primitives

#4919 Add a `sha3_256` module with `SHA3-256`
  hashes/src/lib.rs
  hashes/src/sha3_256/mod.rs
  hashes/tests/api.rs
  hashes/tests/regression.rs
Labels: C-hashes, test

#4962 fix: correct grammatical errors in example code comments
  bitcoin/examples/script.rs
  bitcoin/examples/serde.rs
Labels: C-bitcoin

#4966 chore: fix grammatical typo in comment
  p2p/src/message_network.rs
Labels: C-p2p

#4968 fix: correct grammar in address documentation comments
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#4965 simplify is_op_return() using map_or instead of match
  bitcoin/src/blockdata/script/borrowed.rs
Labels: C-bitcoin

#4972 Backport #4964
  bitcoin/src/bip158.rs
Labels: C-bitcoin

#4977 encoding: Do trivial docs fixes
  consensus_encoding/src/encode/encoders.rs
Labels: C-consensus_encoding

#4884 Improve BIP links
  bitcoin/CHANGELOG.md
  bitcoin/examples/sighash.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/lib.rs
  bitcoin/src/network/params.rs
  bitcoin/src/taproot/mod.rs
  bitcoin/tests/serde.rs
  docs/bip-32.md
  docs/crates.md
  docs/roadmap.md
  hashes/src/macros.rs
  hashes/src/sha256/mod.rs
  primitives/src/script/mod.rs
  primitives/src/transaction.rs
Labels: C-bitcoin, C-hashes, test, doc, C-primitives

#4768 Update `p2p` fuzz targets
  .github/workflows/cron-daily-fuzz.yml
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/src/ex
  fuzz/Cargo.toml
  fuzz/fuzz_targets/p2p/arbitrary_addrv2.rs
  fuzz/fuzz_targets/p2p/deserialize_addrv2.rs
  fuzz/fuzz_targets/p2p/deserialize_raw_net_msg.rs
  fuzz/generate-files.sh
  p2p/Cargo.toml
  p2p/contrib/test_vars.sh
  p2p/src/address.rs
  p2p/src/lib.rs
  p2p/src/message.rs
  p2p/src/message_blockdata.rs
  p2p/src/message_bloom.rs
  p2p/src/message_compact_blocks.rs
  p2p/src/message_filter.rs
  p2p/src/message_network.rs
Labels: ci, C-bitcoin, test, C-p2p

#4983 fix: Use local variable instead of macro parameter in concat_bytes_to…
  internals/src/const_tools.rs
Labels: C-internals

#4984 fix function name in panic message for chain_hash_and_genesis_block
  bitcoin/src/blockdata/constants.rs
Labels: C-bitcoin

#4967 Standard I/O ops for encoders
  consensus_encoding/src/encode/mod.rs
  consensus_encoding/src/lib.rs
  consensus_encoding/tests/encode.rs
  units/Cargo.toml
Labels: C-units, test, C-consensus_encoding

#4971 Do not enable secp rand feature
  bitcoin/Cargo.toml
Labels: C-bitcoin

#4978 primitives: Implement `Encodable` for `&Script<T>`
  Cargo-minimal.lock
  Cargo-recent.lock
  consensus_encoding/Cargo.toml
  consensus_encoding/src/encode/encoders.rs
  consensus_encoding/src/encode/mod.rs
  internals/src/compact_size.rs
  primitives/src/script/borrowed.rs
  primitives/src/script/mod.rs
Labels: C-internals, C-primitives, C-consensus_encoding

#5003 consensus_encoding: Fix clippy lifetime warnings
  consensus_encoding/src/encode/encoders.rs
Labels: C-consensus_encoding

#4999 Use `criterion` for `bitcoin` benchmarking
  Cargo.toml
  benches/Cargo.toml
  benches/bitcoin/block.rs
  benches/bitcoin/transaction.rs
  benches/bitcoin/witness.rs
  bitcoin/Cargo.toml
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/lib.rs
Labels: C-bitcoin

#5013 docs: fix typos
  docs/primitives.md
  primitives/src/transaction.rs
Labels: doc, C-primitives

#4785 Update `bitcoin` fuzz targets to use `Arbitrary`
  .github/workflows/cron-daily-fuzz.yml
  Cargo-minimal.lock
  Cargo-recent.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/bitcoin/arbitrary_block.rs
  fuzz/fuzz_targets/bitcoin/arbitrary_script.rs
  fuzz/fuzz_targets/bitcoin/arbitrary_transaction.rs
  fuzz/fuzz_targets/bitcoin/deserialize_block.rs
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
  fuzz/fuzz_targets/bitcoin/deserialize_transaction.rs
  fuzz/fuzz_targets/bitcoin/deserialize_witness.rs
  fuzz/fuzz_targets/bitcoin/parse_address.rs
  fuzz/fuzz_targets/bitcoin/parse_outpoint.rs
  fuzz/generate-files.sh
Labels: ci, test

#5012 Add `hashes` and `chacha20_poly1305` to `criterion` benches crate
  benches/Cargo.toml
  benches/README.md
  benches/chacha20_poly1305/chacha20.rs
  benches/hashes/cmp.rs
  benches/hashes/hash160.rs
  benches/hashes/hmac.rs
  benches/hashes/ripemd160.rs
  benches/hashes/sha1.rs
  benches/hashes/sha256.rs
  benches/hashes/sha384.rs
  benches/hashes/sha3_256.rs
  benches/hashes/sha512.rs
  benches/hashes/sha512_256.rs
  benches/hashes/siphash24.rs
  chacha20_poly1305/src/benches.rs
  chacha20_poly1305/src/lib.rs
  hashes/Cargo.toml
  hashes/src/cmp.rs
  hashes/src/hash160/mod.rs
  hashes/src/hmac/mod.rs
  hashes/src/lib.rs
  hashes/src/ripemd160/mod.rs
  hashes/src/sha1/mod.rs
  hashes/src/sha256/mod.rs
  hashes/src/sha256d/mod.rs
  hashes/src/sha384/mod.rs
  hashes/src/sha3_256/mod.rs
  hashes/src/sha512/mod.rs
  hashes/src/sha512_256/mod.rs
  hashes/src/siphash24/mod.rs
Labels: C-hashes, doc, C-chacha20_poly1305

#5011 Automated weekly update to rustc stable (to 1.90.0)
  .github/workflows/stable-version
Labels: ci

#4928 Make pushnum opcodes more terse
  bitcoin/src/blockdata/opcodes.rs
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/blockdata/script/owned.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/tests/bip_174.rs
  bitcoin/tests/serde_opcodes.rs
  primitives/src/opcodes.rs
Labels: API break, release notes mention, C-bitcoin, test, C-primitives

#4982 Implement `SliceEncoder`
  consensus_encoding/Cargo.toml
  consensus_encoding/contrib/test_vars.sh
  consensus_encoding/examples/encoder.rs
  consensus_encoding/src/encode/encoders.rs
  consensus_encoding/src/lib.rs
  consensus_encoding/tests/wrappers.rs
Labels: test, C-consensus_encoding

#5006 Remove the implicit lifetime name requirement in the encoder_newtype macro
  api/units/all-features.txt
  consensus_encoding/src/encode/encoders.rs
  consensus_encoding/src/encode/mod.rs
  consensus_encoding/tests/encode.rs
Labels: test, C-consensus_encoding

#5033 docs: replace CMerkleBlock with MerkleBlock in test documentation
  bitcoin/src/merkle_tree/block.rs
Labels: C-bitcoin

#5034 Remove current index from `SliceEncoder`
  consensus_encoding/src/encode/encoders.rs
Labels: C-consensus_encoding

#5039 Clean up encoders unit tests and fix empty SliceEncoder
  consensus_encoding/src/encode/encoders.rs
Labels: C-consensus_encoding

#5040 Automated weekly update to cargo-semver-checks (to 0.44.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#5037 consensus_encoding: tag composers with inline
  consensus_encoding/src/decode/decoders.rs
  consensus_encoding/src/encode/encoders.rs
Labels: C-consensus_encoding

#5038 chore: fix typos
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/witness_version.rs
Labels: C-bitcoin

#5030 Add decoder I/O drivers
  api/units/all-features.txt
  consensus_encoding/src/decode/decoders.rs
  consensus_encoding/src/decode/mod.rs
  consensus_encoding/src/lib.rs
  consensus_encoding/tests/composition.rs
  units/src/amount/unsigned.rs
  units/src/block.rs
  units/src/locktime/absolute/mod.rs
  units/src/sequence.rs
  units/src/time.rs
Labels: C-units, test, C-consensus_encoding

#5049 chore: fix inconsistent comments and typos
  bitcoin/src/psbt/map/input.rs
  bitcoin/src/psbt/map/output.rs
  bitcoin/src/psbt/mod.rs
Labels: C-bitcoin

#5048 fix grammar in API test comments
  hashes/tests/api.rs
  io/tests/api.rs
  primitives/tests/api.rs
Labels: C-hashes, C-io, test, C-primitives

#5058 docs: fix syntax errors and grammar in policy.md
  docs/policy.md
Labels: doc
