Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-01, with the labels that each got.

#3836 Update to rust-ordered 0.4.0
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  primitives/Cargo.toml
Labels: C-bitcoin, C-primitives

#3784 units: Document public macros
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/parse.rs
Labels: C-units

#3838 primitives: Add core re-exports
  primitives/src/lib.rs
Labels: C-primitives

#3841 Remove macro `debug_from_display`
  bitcoin/src/blockdata/script/builder.rs
  bitcoin/src/p2p/mod.rs
  internals/src/macros.rs
  primitives/src/opcodes.rs
Labels: C-bitcoin, C-internals, C-primitives

#3842 Remove usage of impl_from_infallible in leaf crates
  hashes/src/error.rs
  primitives/src/script/mod.rs
  primitives/src/transaction.rs
  units/src/amount/error.rs
  units/src/amount/mod.rs
  units/src/locktime/absolute.rs
  units/src/parse.rs
Labels: C-hashes, C-units, C-primitives

#3846 Remove `test_` prefix from unit tests
  base58/src/lib.rs
  bitcoin/src/address/mod.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/blockdata/witness.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/p2p/address.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/mod.rs
  chacha20_poly1305/src/chacha20.rs
  chacha20_poly1305/src/lib.rs
  chacha20_poly1305/src/poly1305.rs
  hashes/src/hkdf.rs
  hashes/src/siphash24.rs
  primitives/src/block.rs
  units/src/amount/tests.rs
  units/tests/api.rs
Labels: trivial, one ack, C-bitcoin, C-hashes, C-units, test, C-primitives, C-base58, C-chacha20_poly1305

#3851 Automated weekly update to cargo-semver-checks (to 0.38.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#3850 Fix typo in MerkleBlock::from_block_with_predicate comment
  bitcoin/src/merkle_tree/block.rs
Labels: C-bitcoin

#3840 Address mutants in units
  units/src/amount/mod.rs
  units/src/amount/serde.rs
  units/src/amount/tests.rs
  units/src/block.rs
  units/src/fee_rate/mod.rs
  units/src/locktime/absolute.rs
  units/src/locktime/relative.rs
  units/src/parse.rs
  units/src/weight.rs
Labels: C-units

#3854 Add parenthesis to explicitly show precedence
  bitcoin/src/blockdata/block.rs
  bitcoin/src/pow.rs
  chacha20_poly1305/src/poly1305.rs
Labels: C-bitcoin, C-chacha20_poly1305

#3859 Remove usage of impl_from_infallible in crates
  base58/src/error.rs
  bitcoin/src/address/error.rs
  bitcoin/src/bip152.rs
  bitcoin/src/bip158.rs
  bitcoin/src/bip32.rs
  bitcoin/src/blockdata/block.rs
  bitcoin/src/blockdata/script/mod.rs
  bitcoin/src/blockdata/script/witness_program.rs
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/consensus/error.rs
  bitcoin/src/consensus_validation.rs
  bitcoin/src/crypto/ecdsa.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/crypto/taproot.rs
  bitcoin/src/merkle_tree/block.rs
  bitcoin/src/psbt/error.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/src/sign_message.rs
  bitcoin/src/taproot/mod.rs
  internals/src/macros.rs
  units/src/fee_rate/serde.rs
Labels: C-bitcoin, C-units, C-internals, C-base58

#3834 Introduce an API surface test file
  api/io/all-features.txt
  api/io/alloc-only.txt
  api/io/no-features.txt
  io/src/bridge.rs
  io/src/lib.rs
  io/tests/api.rs
  units/tests/api.rs
Labels: C-units, C-io, test

#3863 Add serde roundtrip tests to relative locktime types
  units/src/locktime/relative.rs
Labels: trivial, C-units

#3867 units: Hide the remaining public macros
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/parse.rs
Labels: API break, C-units

#3839 Use `_unchecked` to construct amounts
  bitcoin/examples/ecdsa-psbt-simple.rs
  bitcoin/examples/sign-tx-segwit-v0.rs
  bitcoin/examples/sign-tx-taproot.rs
  bitcoin/examples/taproot-psbt-simple.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
  bitcoin/tests/serde.rs
  units/src/amount/tests.rs
Labels: C-bitcoin, C-units, test

#3879 Remove Copy from `PushBytesError`
  bitcoin/src/blockdata/script/push_bytes.rs
Labels: API break, C-bitcoin

#3880 Derive `Clone`on consensus errors
  bitcoin/src/consensus/error.rs
Labels: C-bitcoin

#3884 units: Refactor Send/Sync api test
  io/tests/api.rs
  units/tests/api.rs
Labels: C-units, C-io, test

#3858 Bound `Address` parsing on `NetworkValidationUnchecked`
  bitcoin/src/address/mod.rs
Labels: C-bitcoin, port-0.32.x, Needs Backport

#3792 Add BIP324 V2 p2p network message support
  bitcoin/src/p2p/message.rs
Labels: C-bitcoin

#3813 Refactor fee calculation code
  units/src/amount/unsigned.rs
  units/src/fee.rs
  units/src/fee_rate/mod.rs
  units/src/lib.rs
Labels: C-units

#3889 Reorder assertions in units::amount::tests to follow got, want order
  units/src/amount/tests.rs
Labels: C-units

#3885 io: Allow setting position bigger than inner buffer
  io/src/lib.rs
Labels: C-io

#3861 io: Add traits
  api/io/all-features.txt
  api/io/alloc-only.txt
  api/io/no-features.txt
  io/src/lib.rs
Labels: C-io

#3878 bitcoin: Add an example of doing I/O to encode/decode
  bitcoin/Cargo.toml
  bitcoin/examples/io.rs
Labels: C-bitcoin

#3891 typo: `Address::is_valid_for_network`
  bitcoin/src/address/mod.rs
Labels: C-bitcoin

#3890 Automated weekly update to rustc stable (to 1.84.0)
  .github/workflows/stable-version
Labels: ci

#3886 io: Add unit tests for `Take`
  io/src/lib.rs
Labels: C-io

#3901 Use `Amount` in examples
  bitcoin/examples/sighash.rs
Labels: C-bitcoin

#3905 units: Remove `InputString` from the public API
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  bitcoin/src/blockdata/script/witness_version.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/lib.rs
  primitives/src/transaction.rs
  units/src/parse.rs
Labels: API break, C-bitcoin, C-units, C-primitives

#3899 units: Fix `missing_panics_doc` clippy lint
  units/Cargo.toml
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-units

#3864 Update for ParsePublicKeyError Display and Error impl
  bitcoin/src/crypto/key.rs
Labels: C-bitcoin

#3907 units: Fix `ref_option` clippy lint
  units/Cargo.toml
  units/src/amount/serde.rs
  units/src/fee_rate/serde.rs
Labels: C-units

#3900 units: Fix `missing_errors_doc` clippy lint
  units/Cargo.toml
  units/src/amount/serde.rs
  units/src/fee_rate/serde.rs
  units/src/locktime/absolute.rs
  units/src/parse.rs
Labels: C-units

#3911 Make `Cursor` methods const
  api/io/all-features.txt
  api/io/alloc-only.txt
  api/io/no-features.txt
  io/src/lib.rs
Labels: C-io

#3918 Remove deprecated `std::error::Error` trait method impls
  api/io/all-features.txt
  io/src/error.rs
Labels: C-io

#3914 units: Define constructor variable in amount tests
  units/src/amount/tests.rs
Labels: C-units

#3915 Add FIFTY_BTC const to the amount types
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/blockdata/constants.rs
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: C-bitcoin, C-units

#3923 docs: fix fee rate serde module documentation
  units/src/fee_rate/serde.rs
Labels: C-units

#3926 units: Test for dyn compatibility
  units/src/parse.rs
  units/tests/api.rs
Labels: C-units, test

#3929 Polish `units::parse` docs
  units/src/parse.rs
Labels: trivial, C-units, doc

#3938 units: Change `create` to `construct` in rustdocs
  units/src/parse.rs
Labels: C-units

#3933 Improve docs on `Denomination`
  units/src/amount/mod.rs
Labels: trivial, C-units

#3936 Remove unnecessary `doc(hidden)`
  hashes/src/lib.rs
Labels: C-hashes

#3931 Remove mutagen
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/src/pow.rs
  primitives/Cargo.toml
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-bitcoin, C-primitives

#3804 Introduce cargo-mutants workflow
  .cargo/mutants.toml
  .github/workflows/cron-weekly-cargo-mutants.yml
  .gitignore
  units/src/amount/tests.rs
  units/src/fee_rate/mod.rs
  units/src/fee_rate/serde.rs
  units/src/locktime/relative.rs
Labels: ci, C-units

#3937 Manual update to rustc (to nightly-2025-01-16)
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  api/io/alloc-only.txt
  api/primitives/all-features.txt
  api/primitives/alloc-only.txt
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  bitcoin/src/taproot/merkle_branch.rs
  nightly-version
Labels: C-bitcoin

#3943 Add `µBTC` as a recognized `str` form of a MicroBitcoin Denomination
  units/src/amount/mod.rs
  units/src/amount/tests.rs
Labels: C-units

#3946 Fix mutants in units
  units/src/amount/tests.rs
Labels: C-units

#3948 Fix mutants in `LockTime`
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-primitives

#3953 Refactor amounts
  bitcoin/examples/sighash.rs
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/blockdata/script/tests.rs
  bitcoin/src/consensus_validation.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/fee.rs
Labels: C-bitcoin, C-units

#3950 Use MAX_MONEY in serde regression test
  bitcoin/CHANGELOG.md
  bitcoin/tests/data/serde/txout_bincode
  bitcoin/tests/serde.rs
  units/CHANGELOG.md
Labels: C-bitcoin, C-units, test, doc

#3951 Improve examples on `Denomination`
  units/src/amount/mod.rs
Labels: C-units

#3874 io: Improve the docs
  io/src/bridge.rs
  io/src/error.rs
  io/src/lib.rs
  io/src/macros.rs
Labels: C-io

#3954 Update `README.md`
  .github/workflows/README.md
Labels: ci, doc

#3955 Refactor `LockTime` tests
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-primitives

#3966 Change `#[must_use]` to be the same as stdlib
  primitives/src/witness.rs
Labels: C-primitives

#3971 primitives: Add tests to `script::borrowed` and `script::owned`
  primitives/src/script/borrowed.rs
  primitives/src/script/owned.rs
Labels: C-primitives

#3978 Delete `TxOut::NULL`
  api/primitives/all-features.txt
  api/primitives/alloc-only.txt
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/psbt/mod.rs
  primitives/src/transaction.rs
Labels: bug, API break, 1.0, perf, C-bitcoin, C-primitives

#3981 Do not implement `Default` for `HmacEngine`
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  hashes/src/hmac.rs
  hashes/tests/regression.rs
Labels: C-hashes, test

#3990 Automated weekly update to rustc stable (to 1.84.1)
  .github/workflows/stable-version
Labels: ci

#3968 Add `LockTime` examples
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-primitives
