Repository rust-bitcoin/rust-bitcoin, pull requests merged in 2025-02, with the labels that each got.

#3984 Fix spelling of `invalid_legcay_address_length`
  bitcoin/src/address/error.rs
Labels: C-bitcoin, port-0.32.x

#3982 hashes: Move from_engine functions
  hashes/src/hash160.rs
  hashes/src/sha256d.rs
Labels: trivial, C-hashes

#3987 primitives: Add `script` tests
  primitives/src/script/mod.rs
Labels: C-primitives

#3993 Automated weekly update to cargo-semver-checks (to 0.39.0)
  .github/workflows/cargo-semver-checks-version
Labels: ci

#3983 Add symmetrical fee calculation method to Weight
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  units/src/fee.rs
Labels: C-units

#4003 Add engine function to `siphash24::Hash`
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  hashes/src/siphash24.rs
Labels: C-hashes

#4005 Manual update to rustc (to nightly-2025-01-31)
  .github/workflows/rust.yml
  bitcoin/src/blockdata/script/instruction.rs
  hashes/src/internal_macros.rs
  nightly-version
Labels: ci, C-bitcoin, C-hashes

#4006 Rename fee_wu and remove fee_vb
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
  bitcoin/src/blockdata/mod.rs
  units/src/fee.rs
Labels: C-bitcoin, C-units

#3989 Do `hashes` file re-org
  bitcoin/src/blockdata/script/instruction.rs
  hashes/src/hash160/mod.rs
  hashes/src/hkdf/mod.rs
  hashes/src/hmac/mod.rs
  hashes/src/ripemd160/benches.rs
  hashes/src/ripemd160/crypto.rs
  hashes/src/ripemd160/mod.rs
  hashes/src/ripemd160/tests.rs
  hashes/src/sha1.rs
  hashes/src/sha1/benches.rs
  hashes/src/sha1/crypto.rs
  hashes/src/sha1/mod.rs
  hashes/src/sha1/tests.rs
  hashes/src/sha256/benches.rs
  hashes/src/sha256/crypto.rs
  hashes/src/sha256/mod.rs
  hashes/src/sha256/tests.rs
  hashes/src/sha256d/mod.rs
  hashes/src/sha256t/mod.rs
  hashes/src/sha384/mod.rs
  hashes/src/sha512/benches.rs
  hashes/src/sha512/crypto.rs
  hashes/src/sha512/mod.rs
  hashes/src/sha512/tests.rs
  hashes/src/sha512_256/mod.rs
  hashes/src/siphash24/mod.rs
Labels: C-bitcoin, C-hashes

#4013 CI: Remove the API job
  .github/workflows/README.md
  .github/workflows/rust.yml
  api/README.md
  api/hashes/all-features.txt
  api/hashes/alloc-only.txt
  api/hashes/no-features.txt
  api/io/all-features.txt
  api/io/alloc-only.txt
  api/io/no-features.txt
  api/primitives/all-features.txt
  api/primitives/alloc-only.txt
  api/primitives/no-features.txt
  api/units/all-features.txt
  api/units/alloc-only.txt
  api/units/no-features.txt
Labels: ci, doc

#4012 primitives: Add tests to `block.rs`
  primitives/src/block.rs
Labels: C-primitives

#4011 Update example imports to use `relative::*`
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-primitives

#4019 primitives: Add test to opcodes
  primitives/src/opcodes.rs
Labels: C-primitives

#4020 primitives: Add tests to CompactTarget
  primitives/src/pow.rs
Labels: C-primitives

#4015 hashes: Derive `Debug` for all hash engines
  hashes/src/hash160/mod.rs
  hashes/src/hmac/mod.rs
  hashes/src/ripemd160/mod.rs
  hashes/src/sha1/mod.rs
  hashes/src/sha256/mod.rs
  hashes/src/sha256d/mod.rs
  hashes/src/sha384/mod.rs
  hashes/src/sha512/mod.rs
  hashes/src/sha512_256/mod.rs
Labels: API break, C-hashes

#4018 Add missing re-exports to primitives crate root
  primitives/src/lib.rs
Labels: C-primitives

#4024 primitives: Add tests to Sequence
  primitives/src/sequence.rs
Labels: C-primitives

#4014 Return `Self::Output` from `ops::Rem`
  units/src/amount/signed.rs
  units/src/amount/unsigned.rs
Labels: trivial, C-units

#3903 refactor: use convenience method to calculate fee
  bitcoin/src/blockdata/transaction.rs
Labels: C-bitcoin

#4010 Add a tagged hash engine
  bitcoin/src/taproot/mod.rs
  hashes/src/internal_macros.rs
  hashes/src/macros.rs
  hashes/src/sha256t/mod.rs
  hashes/tests/regression.rs
Labels: API break, C-bitcoin, C-hashes, test

#3961 Invert dependency between `io` and `hashes`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  hashes/Cargo.toml
  hashes/contrib/sanitizer.sh
  hashes/contrib/test_vars.sh
  hashes/embedded/Cargo.toml
  hashes/src/hmac/mod.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/sha256t/mod.rs
  hashes/tests/io.rs
  hashes/tests/regression.rs
  io/Cargo.toml
  io/contrib/test_vars.sh
  io/src/hash.rs
  io/src/lib.rs
  primitives/Cargo.toml
Labels: API break, C-bitcoin, C-hashes, C-io, test, C-primitives

#4033 primitives: Add tests to transaction
  primitives/src/transaction.rs
Labels: C-primitives

#4036 primitives: Add tests to witness
  primitives/src/witness.rs
Labels: C-primitives

#4050 Validate compressed WIF keys
  bitcoin/src/crypto/key.rs
Labels: C-bitcoin

#4054 Kill mutants found by github-actions
  .cargo/mutants.toml
  units/src/fee.rs
Labels: C-units

#4044 units: Remove alloc from fee module
  units/src/fee.rs
Labels: C-units

#4037 primitives: Add tests to LockTime
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-primitives

#4055 hashes: Only enable hex/std, and hex/alloc when hex is
  hashes/Cargo.toml
  hashes/src/cmp.rs
  hashes/src/hash160/mod.rs
  hashes/src/hkdf/mod.rs
  hashes/src/lib.rs
  hashes/src/ripemd160/tests.rs
  hashes/src/sha1/tests.rs
  hashes/src/sha256/tests.rs
  hashes/src/sha256d/mod.rs
  hashes/src/sha256t/mod.rs
  hashes/src/sha384/mod.rs
  hashes/src/sha512/tests.rs
  hashes/src/sha512_256/mod.rs
  io/Cargo.toml
Labels: API break, C-hashes, C-io

#4007 Introduce monadic `NumOpResult` type
  bitcoin/examples/taproot-psbt.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/psbt/mod.rs
  units/src/amount/mod.rs
  units/src/amount/result.rs
  units/src/amount/signed.rs
  units/src/amount/tests.rs
  units/src/amount/unsigned.rs
  units/src/amount/verification.rs
  units/src/internal_macros.rs
Labels: P-high, one ack, C-bitcoin, C-units

#4058 Do not enable `soft-float` when running `miri`
  contrib/test-miri.sh
Labels: bug, Tests

#4049 hashes: Test macros in function scope
  hashes/src/macros.rs
Labels: C-hashes

#4067 Add `inline` to all small functions in the new `result` module
  units/src/amount/result.rs
Labels: C-units

#4061 Make Debug representation of Witness to be slice of hex-encoded bytes strings to improve readability
  primitives/src/witness.rs
Labels: C-primitives

#4046 hashes: Add `Copy`, `Clone`, and `Debug` imlps for `Hkdf`
  hashes/src/hkdf/mod.rs
Labels: C-hashes

#4065 locktimes: Remove `PartialOrd` and `ArbitraryOrd`
  Cargo-minimal.lock
  Cargo-recent.lock
  bitcoin/Cargo.toml
  bitcoin/contrib/test_vars.sh
  bitcoin/src/lib.rs
  primitives/Cargo.toml
  primitives/contrib/test_vars.sh
  primitives/src/locktime/absolute.rs
  primitives/src/locktime/relative.rs
Labels: C-bitcoin, test, C-primitives

#4069 Update to latest maintainer-tools
  .github/workflows/rust.yml
Labels: ci

#4047 Properly deprecate `Hash::from_slice`
  bitcoin/src/blockdata/constants.rs
  bitcoin/src/p2p/message.rs
  hashes/src/hash160/mod.rs
  hashes/src/hmac/mod.rs
  hashes/src/internal_macros.rs
  hashes/src/lib.rs
  hashes/src/macros.rs
  hashes/src/sha256d/mod.rs
  hashes/src/sha256t/mod.rs
  hashes/src/siphash24/mod.rs
Labels: API break, C-bitcoin, C-hashes

#4071 chacha20: add benchmarks
  chacha20_poly1305/Cargo.toml
  chacha20_poly1305/src/benches.rs
  chacha20_poly1305/src/lib.rs
Labels: C-chacha20_poly1305

#4095 Automated weekly update to rustc stable (to 1.85.0)
  .github/workflows/stable-version
Labels: ci

#4084 documentation: update instructions for building lock files
  CONTRIBUTING.md
  contrib/update-lock-files.sh
Labels: doc

#4088 Abstract out "debug-print hex fields" using WrapDebug
  internals/src/lib.rs
  internals/src/wrap_debug.rs
  primitives/src/witness.rs
Labels: C-internals, C-primitives

#4107 sighash: Document `witness_script` in p2wsh
  bitcoin/src/crypto/sighash.rs
Labels: C-bitcoin

#4099 Make transaction::Version field private
  bitcoin/src/blockdata/transaction.rs
  bitcoin/tests/psbt-sign-taproot.rs
  primitives/src/transaction.rs
Labels: API break, C-bitcoin, test, C-primitives

#4089 Script improvements
  primitives/src/script/borrowed.rs
  primitives/src/script/mod.rs
  primitives/src/script/owned.rs
Labels: C-primitives

#4117 Grab missing changelog
  bitcoin/CHANGELOG.md
Labels: C-bitcoin, doc

#4076 units: macroize the op implementations
  units/src/amount/result.rs
  units/src/amount/tests.rs
  units/src/fee_rate/mod.rs
  units/src/internal_macros.rs
  units/src/weight.rs
Labels: P-high, C-units

#4118 fix: typos in documentation files
  bitcoin/examples/sighash.rs
  bitcoin/src/blockdata/transaction.rs
  bitcoin/src/crypto/key.rs
  internals/src/error/input_string.rs
Labels: C-bitcoin, C-internals

#4119 chore: remove redundant words in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: doc

#4129 Move taproot back to bitcoin crate
  bitcoin/src/blockdata/script/borrowed.rs
  bitcoin/src/crypto/key.rs
  bitcoin/src/crypto/sighash.rs
  bitcoin/src/taproot/mod.rs
  primitives/src/lib.rs
  primitives/src/taproot.rs
Labels: API break, C-bitcoin, C-primitives

#4131 fuzz: add coverage for Display for Script
  fuzz/fuzz_targets/bitcoin/deserialize_script.rs
Labels: test

#4111 Add support for pay to anchor outputs
  bitcoin/src/address/mod.rs
  bitcoin/src/address/script_pubkey.rs
  bitcoin/src/blockdata/script/witness_program.rs
Labels: C-bitcoin

#4122 backport: Fix `is_invalid_use_of_sighash_single()` incompatibility with Bitcoin Core
  bitcoin/src/crypto/sighash.rs
Labels: C-bitcoin
